*.pyc
cache/*
cache.db*
config.ini
Logs/*
sickbeard.db*
autoProcessTV/autoProcessTV.cfg
*.bak
dist/*
build/*
autoProcessTV/dist/*
autoProcessTV/build/*
SickBeard-win32-*.zip
*.exe
gc.ini
CHANGELOG.txt
.DS_Store
