#import sickbeard
#import datetime
#from sickbeard.common import *
#set global $title="Backlog"

#set global $sbPath=".."

<!--#set global $topmenu="backlog"#-->
#import os.path
#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_top.tmpl")

<input type="hidden" id="sbRoot" value="$sbRoot">

<script type="text/javascript" src="$sbRoot/js/plotTooltip.js"></script>

<script>
\$(document).ready(function() 
{ 
    \$("#backlogTable").tablesorter({
    	sortList: [[0,0]],
    	headers: {
    		1: { sorter: false },
    		2: { sorter: false },
    		5: { sorter: false }
    	}
    }); 
});

</script>

<table id="backlogTable" class="sickbeardTable tablesorter">
  <thead><tr><th>Show</th><th>Episode</th><th>Name</th><th>Airdate</td><th>Status</th><th>Actions</th></tr></thead>
  <tbody>
#for $bItem in $backlogResults:
  <tr class="evenLine">
    <td><a href="$sbRoot/home/displayShow?show=$bItem["showid"]">$bItem["show_name"]</a></td>
    <td align="center"><%=str(bItem["season"]) +"x"+ "%02i" % int(bItem["episode"]) %></td>
    <td>
        $bItem["name"]
        #if $bItem["description"] != "" and $bItem["description"] != None:
        <img src="$sbRoot/images/info.png" height="16" class="plotInfo" id="plot_info_<%=str(bItem["showid"])+"_"+str(bItem["season"])+"_"+str(bItem["episode"])%>" />
        #end if
    </td>
    <td align="center">$datetime.date.fromordinal(int($bItem["airdate"]))</td>
    <td align="center">$statusStrings[$bItem["status"]]</td>
	<td align="center"><a href="$sbRoot/home/searchEpisode?show=$bItem["showid"]&season=$bItem["season"]&episode=$bItem["episode"]">(search)</a></td>
  </tr>
#end for
  </tbody>
</table>

#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_bottom.tmpl")