#import sickbeard
#import datetime
#from sickbeard.common import *
#set global $title="Coming Episodes"

#set global $sbPath=".."

<!--#set global $topmenu="comingEpisodes"#-->
#import os.path
#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_top.tmpl")

<div id="outerWrapper">
  <div id="listingWrapper">


	#set $cur_segment = None
	#set $too_late_header = False
	#set $missed_header = False
	#set $show_div = ""

	#for $cur_result in $sql_results:
        #if False and int($cur_result["paused"]):
            #continue
        #end if
        
        #if $sort == "network":
            #if $cur_result["network"] and $cur_segment != $cur_result["network"]:
                <br /><h1 class="day">$cur_result["network"]</h1>
                #set $cur_segment = $cur_result["network"]
            #end if
        #elif $sort == "date":
            #set $cur_ep_airdate = int($cur_result["airdate"])
            #if $cur_segment != $cur_ep_airdate:
                #if $cur_ep_airdate < $today and not $missed_header:
                    <br /><h1 class="day">Missed</h1>
                    #set $missed_header = True
                    #set $show_div = "listing_overdue"
                #elif $cur_ep_airdate >= $next_week and not $too_late_header:
                    <br /><h1 class="day">Later</h1>
                    #set $show_div = "listing_toofar"
                    #set $too_late_header = True
                #elif $cur_ep_airdate < $next_week:
                    <br /><h1 class="day">$datetime.date.fromordinal($cur_ep_airdate).strftime("%A")</h1>
                    #if $cur_ep_airdate == $today:
                        #set $show_div = "listing_current"
                    #else:
                        #set $show_div = ""
                    #end if
                #end if
                #set $cur_segment = $cur_ep_airdate
            #end if
        #end if
                
    <div class="$show_div">
      <div class="listing" id="listing_${cur_result["showid"]}">
        <a name="$cur_result["show_name"]"></a>
        <a href="$sbRoot/home/displayShow?show=${cur_result["showid"]}"><img alt="" src="$sbRoot/showPoster/?show=${cur_result["showid"]}" class="listingThumb" /></a>
        <div id="info_${cur_result["showid"]}">
          <h1>
          <div class="icons">
            <a href="http://www.thetvdb.com/?tab=series&id=${cur_result["showid"]}" target="_blank" title="http://www.thetvdb.com/?tab=series&id=${cur_result["showid"]}"><img alt="" src="$sbRoot/images/info.png" /></a>
            <a href="$sbRoot/home/searchEpisode?show=${cur_result["showid"]}&season=$cur_result["season"]&episode=$cur_result["episode"]" title="Force Update" id="forceUpdate|${cur_result["showid"]}|$cur_result["show_name"]" class="forceUpdate"><img alt="" src="$sbRoot/images/forceUpdate.png" id="forceUpdateImage|${cur_result["showid"]}" /></a>
          </div>
          <a href="$sbRoot/home/displayShow?show=${cur_result["showid"]}">$cur_result["show_name"]</a>
          </h1>
          <p class="next">
            <span class="title">Next Episode:</span> <span class="info "><%=str(cur_result["season"])+"x"+"%02i" % int(cur_result["episode"]) %> - $cur_result["name"] airs $datetime.date.fromordinal(int($cur_result["airdate"]))</span>
          </p>
          <p class="noMargin">
            <span class="title">Status:</span> <span class="info ">$cur_result["show_status"]</span><br />
            <span class="title">Airs:</span> <span class="info ">$cur_result["airs"] on $cur_result["network"]</span><br />
            <span class="title">Format:</span> <span class="info ">
#if int($cur_result["quality"]) in $qualityPresets:
$qualityPresetStrings[int($cur_result["quality"])]
#else:
Custom
#end if 
</span><br />
          </p>
        </div>
      </div>
    </div>
    #end for
  </div>
</div>

<script type="text/javascript" charset="utf-8">
setInterval(window.location.reload, 180000); // Refresh every 3 minutes
</script>
#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_bottom.tmpl")
