#import sickbeard
#import datetime
#import urllib
#from sickbeard.common import *
#set global $title="Coming Episodes"

#set global $sbPath=".."

#set global $topmenu="comingEpisodes"#
#import os.path
#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_top.tmpl")
#set $sort = $sickbeard.COMING_EPS_SORT

<style type="text/css">
<!--
.ui-tooltip-comingep .ui-tooltip-titlebar { color: #222222; }
//--> 
</style>

<div class="h2footer align-right">
    <b>Key:</b> 
    <span class="listing_overdue">Past</span>
    <span class="listing_current">Current</span>
    <span class="listing_default">Future</span>
    <span class="listing_toofar">Distant</span>
    <!-- <span class="listing_unknown">Unknown</span> //-->
</div>

#if $layout == 'list':
<!-- start list view //-->
<script type="text/javascript" src="$sbRoot/js/plotTooltip.js"></script>
<script type="text/javascript" charset="utf-8">
<!--
\$.tablesorter.addParser({ 
    id: 'nextAirDate',
    is: function(s) {
        return false;
    },
    format: function(s) {
        if (s == '')
            return '9999-99-99';
        else
            return s; 
    },
    type: 'text'
});

\$.tablesorter.addParser({
    id: 'loadingNames',
    is: function(s) {
        return false;
    }, 
    format: function(s) { 
        if (s.indexOf('Loading...') == 0)
            return s.replace('Loading...','!!!');
        else if (s.indexOf('The ') == 0)
            return s.replace('The ', '')
        else if (s.indexOf('A ') == 0)
            return s.replace('A ', '')
        else
            return s;
    },
    type: 'text'
});

\$.tablesorter.addParser({
    id: 'quality',
    is: function(s) {
        return false;
    },
    format: function(s) { 
        return s.toLowerCase().replace('hd',3).replace('sd',1).replace('any',0).replace('best',2).replace('custom',4); 
    },
    type: 'numeric'
});

//http://web.archive.org/web/20080801073104/http://www.jdempster.com/category/code/jquery/tablesortercookiewidget/
\$.tablesorter.addWidget({
  id: 'cookie',
  format: function(table) {
    var sortList = table.config.sortList;
    var tablesorterCookieJar = \$.cookieJar('tablesorter');
    if ( sortList.length > 0) {
      tablesorterCookieJar.set(\$(table).attr('id'), sortList);
    } else {
      var sortList = tablesorterCookieJar.get(\$(table).attr('id'));
      if (sortList && sortList.length > 0) {
        jQuery(table).trigger('sorton', [sortList]);
      }
    }
  }
});
 
\$(document).ready(function(){ 

#set $sort_codes = {'date': 2, 'show': 3, 'network': 4}
#if $sort not in $sort_codes:
    $sort = 'date'
#end if
        sortList = [[$sort_codes[$sort],0]]; 

    \$("#showListTable:has(tbody tr)").tablesorter({
        sortList: sortList,
        headers: {
            0: { sorter: false},
            1: { sorter: false},
            2: { sorter: 'nextAirDate' },
            3: { sorter: 'loadingNames' },
            4: { sorter: 'loadingNames' },
            5: { sorter: 'quality' },
            6: { sorter: false},
            7: { sorter: false}
        }
    });

});
//-->
</script>

    #set $show_div = "listing_default"

<input type="hidden" id="sbRoot" value="$sbRoot" />

<br/>
    <table id="showListTable" class="sickbeardTable tablesorter" cellspacing="1" border="0" cellpadding="0">
    <thead><tr><th class="nowrap">Next Ep</th><th>Next Ep Name</th><th>Airdate</th><th>Show</th><th>Network</th><th>Quality</th><th>tvDB</th><th>Force</th></tr></thead>
    <tbody>

    #for $cur_result in $sql_results:

        #if int($cur_result["paused"]) and not $sickbeard.COMING_EPS_DISPLAY_PAUSED:
            #continue
        #end if

        #set $cur_ep_airdate = int($cur_result["airdate"])
            #if $cur_ep_airdate < $today:
                #set $show_div = "listing_overdue"
            #elif $cur_ep_airdate >= $next_week:
                #set $show_div = "listing_toofar"
            #elif $cur_ep_airdate >= $today and $cur_ep_airdate < $next_week:
                #if $cur_ep_airdate == $today:
                    #set $show_div = "listing_current"
                #else:
                    #set $show_div = "listing_default"
                #end if
            #end if

    <!-- start $cur_result["show_name"] //-->
      <tr class="$show_div">
        <td class="nowrap">
        #if $cur_result["description"] != "" and $cur_result["description"] != None:
            <img alt="" src="$sbRoot/images/info32.png" height="16" width="16" class="plotInfo" id="plot_info_<%=str(cur_result["showid"])+"_"+str(cur_result["season"])+"_"+str(cur_result["episode"])%>" />
        #end if
            <span><%="%02ix%02i" % (int(cur_result["season"]), int(cur_result["episode"])) %></span>
        </td>
        <td>$cur_result["name"]</td>
        <td align="center" class="nowrap">$datetime.date.fromordinal(int($cur_result["airdate"]))</td>
        <td><a href="$sbRoot/home/displayShow?show=${cur_result["showid"]}">$cur_result["show_name"]</a>
            #if int($cur_result["paused"]):
            <span class="pause">[paused]</span>
            #end if
        </td>
        <td align="center">$cur_result["network"]</td>
#if int($cur_result["quality"]) in $qualityPresets:
        <td align="center">$qualityPresetStrings[int($cur_result["quality"])]</td>
#else:
        <td align="center">Custom</td>
#end if
        <td align="center"><a href="http://www.thetvdb.com/?tab=series&amp;id=${cur_result["showid"]}" onclick="window.open(this.href, '_blank'); return false;" title="http://www.thetvdb.com/?tab=series&amp;id=${cur_result["showid"]}"><img alt="[info]" height="16" width="16" src="$sbRoot/images/search32.png" /></a></td>
        <td align="center"><a href="$sbRoot/home/searchEpisode?show=${cur_result["showid"]}&amp;season=$cur_result["season"]&amp;episode=$cur_result["episode"]" title="Force Update" id="forceUpdate-${cur_result["showid"]}" class="forceUpdate"><img alt="[update]" height="16" width="16" src="$sbRoot/images/forceUpdate32.png" id="forceUpdateImage-${cur_result["showid"]}" /></a></td>
      </tr>
    <!-- end $cur_result["show_name"] //-->
    #end for
    </tbody>
    </table>
<!-- end list view //-->
#else:
<!-- start non list view //-->

<!--[if lte IE 6]>
<script type="text/javascript">
   try { document.execCommand( "BackgroundImageCache", false, true); } catch(e) {};
</script>
<![endif]-->

<script type="text/javascript" charset="utf-8">
<!--
\$(document).ready(function(){ 
    \$("div.metadataView h3.expand").toggler({initShow: "div.collapse:eq(0)"});
    \$("div.metadataView").expandAll({trigger: "h3.expand", ref: "h3.expand"});  

    \$('div.collapse img[rel]').each(function()
    {
        \$(this).qtip(
        {
            content: {
                text: function(api) {
                    return \$( 'div.details_'+\$(this).attr('rel') ).html();
                },
                title: {
                    text: \$(this).attr('title'),
                    button: true
                }
            },
            position: {
                at: 'center',
                my: 'center',
                viewport: \$(window),
                adjust: { screen: true }
            },
            show: { event: 'click', solo: true },
            hide: 'unfocus',
            style: { classes: 'ui-tooltip-rounded ui-tooltip-shadow ui-tooltip-comingep' }
        })
        
        // Make sure it doesn't follow the link when we click it
        .click(function() { return false; });
    });

});
//-->
</script>

<script type="text/javascript" charset="utf-8">
<!--

function getthedate(){
var mydate=new Date()
var hours=mydate.getHours()
var minutes=mydate.getMinutes()
var dn="AM"
if (hours>=12)
dn="PM"
if (hours>12){ hours=hours-12 }
if (hours==0)
hours=12
if (minutes<=9)
minutes="0"+minutes

var cdate=" &mdash; "+hours+":"+minutes+" "+dn
if (document.all)
document.all.clock.innerHTML=cdate
else if (document.getElementById)
document.getElementById("clock").innerHTML=cdate
else
document.write(cdate)
}
if (!document.all&&!document.getElementById)
getthedate()

\$(document).ready(function(){ 
    getthedate()
});

//-->
</script>

    #set $showTotal = 0
    #set $showTotal = len($sql_results)

    #set $sectionTotal = 0

    #set $cur_segment = None
    #set $too_late_header = False
    #set $missed_header = False
    #set $show_div = "listing_default"
    
  <div class="metadataView">
  <h3>$datetime.date.fromordinal($today).strftime("%A, %B %d %Y") <span id="clock"></span> - $showTotal Shows</h3>

    #if $sort == "show": 
        <br/>
    #end if
    
    #for $cur_result in $sql_results:

        #if int($cur_result["paused"]) and not $sickbeard.COMING_EPS_DISPLAY_PAUSED:
            #continue
        #end if

        #if $sort == "show":
            #if $cur_segment == $cur_result["showid"]:
                #continue
            #end if
            #set $cur_segment = $cur_result["showid"]
        #elif $sort == "network":
            #set $cur_ep_airdate = int($cur_result["airdate"])
            #if $cur_segment != $cur_result["network"]:
            #if $cur_segment != None then "</div>" else ""#
                <br /><h3 class="expand listing_network">$cur_result["network"]</h3><div class="collapse">
            #end if
                #if $cur_ep_airdate < $today:
                    #set $show_div = "listing_overdue"
                    #set $missed_header = True
                #elif $cur_ep_airdate >= $next_week:
                    #set $show_div = "listing_toofar"
                    #set $too_late_header = True
                #elif $cur_ep_airdate >= $today and $cur_ep_airdate < $next_week:
                    #if $cur_ep_airdate == $today:
                        #set $show_div = "listing_current"
                    #else:
                        #set $show_div = "listing_default"
                    #end if
                #end if
                #set $cur_segment = $cur_result["network"]
        #elif $sort == "date":
            #set $cur_ep_airdate = int($cur_result["airdate"])
            #if $cur_segment != $cur_ep_airdate:
                #if $cur_ep_airdate < $today and not $missed_header:
                    #if $cur_segment != None then "</div>" else ""#
                    <br /><h3 class="expand listing_overdue">Missed ($sectionTotal)</h3><div class="collapse">
                    #set $missed_header = True
                #elif $cur_ep_airdate >= $next_week and not $too_late_header:
                    #if $cur_segment != None then "</div>" else ""#
                    <br /><h3 class="expand listing_toofar">Later ($sectionTotal)</h3><div class="collapse">
                    #set $too_late_header = True
                #elif $cur_ep_airdate >= $today and $cur_ep_airdate < $next_week:
                    #if $cur_segment != None then "</div>" else ""#
                    #if $cur_ep_airdate == $today:
                    <br /><h3 class="expand listing_current">$datetime.date.fromordinal($cur_ep_airdate).strftime("%Y-%m-%d &mdash; Today").decode($sickbeard.SYS_ENCODING) ($sectionTotal)</h3><div class="collapse">
                    #else:
                    <br /><h3 class="expand listing_default">$datetime.date.fromordinal($cur_ep_airdate).strftime("%Y-%m-%d &mdash; %A").decode($sickbeard.SYS_ENCODING) ($sectionTotal)</h3><div class="collapse">
                    #end if
                #end if
                #set $cur_segment = $cur_ep_airdate
            #end if
        #end if

    <!-- start $cur_result["show_name"] //-->
    <a href="$sbRoot/home/displayShow?show=${cur_result["showid"]}"><img title="$cur_result["show_name"]#if int($cur_result["paused"]) then " [paused]" else ""#" alt="" rel="${cur_result["showid"]}-${int(cur_result["episode"])}" class="#if $layout == 'banner' then "bannerThumb" else "posterThumb"##if $sort == 'show' then " showPad" else ""##if $sort == 'network' then " showBG "+$show_div else ""#" src="$sbRoot/showPoster/?show=${cur_result["showid"]}&amp;which=$layout" /></a>
    <div class="details_${cur_result["showid"]}-${int(cur_result["episode"])}" style="display: none;"><b>Next:</b> <%=str(cur_result["season"])+"x"+"%02i" % int(cur_result["episode"]) %> - $cur_result["name"] ($datetime.date.fromordinal(int($cur_result["airdate"])) on $cur_result["network"])<br/><p>#if $cur_result["description"] == '' then "[There is no summary added for this episode]" else $cur_result["description"]#</p></div>
    <!-- end $cur_result["show_name"] //-->

    #end for
    #if $cur_segment != None and $sort != "show"  then "</div>" else ""#

    </div>
<!-- end non list view //-->
#end if


<script type="text/javascript" charset="utf-8">
<!--
window.setInterval( "location.reload(true)", 600000); // Refresh every 10 minutes
//-->
</script>
<script type="text/javascript" src="$sbRoot/js/tableClick.js"></script>
#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_bottom.tmpl")
