#import os.path
#import sickbeard
#from sickbeard.common import *
#from sickbeard import config
#from sickbeard import metadata
#from sickbeard.metadata.generic import GenericMetadata
#set global $title  = "Config - General"
#set global $header = "General Configuration"

#set global $sbPath="../.."

#set global $topmenu="config"#
#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_top.tmpl")

<script type="text/javascript" src="$sbRoot/js/config.js"></script>

<div id="config">
<div id="config-content">
<h5>All non-absolute folder locations are relative to " <span class="path">$sickbeard.DATA_DIR</span> "</h5>

<form id="configForm" action="saveGeneral" method="post">

            <div id="config-components">

                <div id="core-component-group1" class="component-group clearfix">

                    <div class="component-group-desc">
                        <h3>Misc</h3>
                        <p>Startup options.</p>
                        <p><b>Some options may require a manual restart to take effect.</b></p>
                    </div>

                    <fieldset class="component-group-list">
                        <div class="field-pair">
                            <input type="checkbox" name="launch_browser" id="launch_browser" #if $sickbeard.LAUNCH_BROWSER then "checked=\"checked\"" else ""#/>
                            <label class="clearfix" for="launch_browser">
                                <span class="component-title">Launch Browser</span>
                                <span class="component-desc">Should Sick Beard open its home page when started?</span>
                            </label>
                        </div>
                        
                        <div class="field-pair">
                            <input type="checkbox" name="version_notify" id="version_notify" #if $sickbeard.VERSION_NOTIFY then "checked=\"checked\"" else ""#/>
                            <label class="clearfix" for="version_notify">
                                <span class="component-title">Check for Update</span>
                                <span class="component-desc">Show notification about updates for Sick Beard if available.</span>
                            </label>
                            <label class="nocheck clearfix">
                                <span class="component-title">&nbsp;</span>
                                <span class="component-desc">Checking for updates runs on startup and every 12 hours.</span>
                            </label>
                        </div>

                        <div class="field-pair">
                            <label class="nocheck clearfix" for="log_dir">
                                <span class="component-title">Logging Directory</span>
                                <input type="text" name="log_dir" id="log_dir" value="$sickbeard.LOG_DIR" size="35" />
                            </label>
                        </div>

                        <input type="submit" class="config_submitter" value="Save Changes" />
                    </fieldset>
                </div><!-- /component-group1 //-->


                <div id="core-component-group2" class="component-group clearfix">

                    <div class="component-group-desc">
                        <h3>Web Interface</h3>
                        <p>It is recommended that you enable a username and password to secure Sick Beard from being tampered with remotely.</p>
                        <p><b>Some options may require a manual restart to take effect.</b></p>
                    </div>

                    <fieldset class="component-group-list">
                        <div class="field-pair">
                            <input type="checkbox" name="web_ipv6" id="web_ipv6" #if $sickbeard.WEB_IPV6 then "checked=\"checked\"" else ""#/>
                            <label class="clearfix" for="web_ipv6">
                                <span class="component-title">Listen on IPv6</span>
                                <span class="component-desc">Allow Sick Beard to bind to any available IPv6 address?</span>
                            </label>
                        </div>
                        
                        <div class="field-pair">
                            <input type="checkbox" name="web_log" id="web_log" #if $sickbeard.WEB_LOG then "checked=\"checked\"" else ""#/>
                            <label class="clearfix" for="web_log">
                                <span class="component-title">HTTP Logs</span>
                                <span class="component-desc">Have Sick Beard's web server (cherrypy) generate logs?</span>
                            </label>
                        </div>
                        
                        <div class="field-pair">
                            <label class="nocheck clearfix">
                                <span class="component-title">HTTP Port</span>
                                <input type="text" name="web_port" value="$sickbeard.WEB_PORT" size="10" />
                            </label>
                            <label class="nocheck clearfix">
                                <span class="component-title">&nbsp;</span>
                                <span class="component-desc">Web port that Sick Beard should listen on (eg. 8081)</span>
                            </label>
                        </div>

                        <div class="field-pair">
                            <label class="nocheck clearfix">
                                <span class="component-title">HTTP Username</span>
                                <input type="text" name="web_username" value="$sickbeard.WEB_USERNAME" size="35" />
                            </label>
                            <label class="nocheck clearfix">
                                <span class="component-title">&nbsp;</span>
                                <span class="component-desc">Username for authentication (blank for none)</span>
                            </label>
                        </div>

                        <div class="field-pair">
                            <label class="nocheck clearfix">
                                <span class="component-title">HTTP Password</span>
                                <input type="password" name="web_password" value="$sickbeard.WEB_PASSWORD" size="35" />
                            </label>
                            <label class="nocheck clearfix">
                                <span class="component-title">&nbsp;</span>
                                <span class="component-desc">Password for authentication (blank for none)</span>
                            </label>
                        </div>

                        <input type="submit" class="config_submitter" value="Save Changes" />
                    </fieldset>
                </div><!-- /component-group2 //-->

                <div id="core-component-group3" class="component-group clearfix">

                    <div class="component-group-desc">
                        <h3>API</h3>
                        <p>Allow 3rd party programs to interact with Sick-Beard.</p>
                    </div>

                    <fieldset class="component-group-list">
                        <div class="field-pair">
                            <input type="checkbox" name="use_api" class="enabler" id="use_api" #if $sickbeard.USE_API then "checked=\"checked\"" else ""#/>
                            <label class="clearfix" for="use_api">
                                <span class="component-title">Enable API</span>
                                <span class="component-desc">Allow the use of the Sick-Beard API.</span>
                            </label>
                        </div>

                        <div id="content_use_api">
                        <div class="field-pair">
                            <label class="nocheck clearfix" for="api_key">
                                <span class="component-title">API Key</span>
                                <input type="text" name="api_key" id="api_key" value="$sickbeard.API_KEY" size="40" readonly="readonly" />
                                <input type="button" id="generate_new_apikey" value="Generate">
                            </label>
                            <label class="nocheck clearfix">
                                <span class="component-title">&nbsp;</span>
                                <span class="component-desc">Used to give 3rd party programs limited access to Sick-Beard.</span>
                            </label>
                        </div>
                        </div>

                        <input type="submit" class="config_submitter" value="Save Changes" />
                    </fieldset>
                </div><!-- /component-group3 //-->

            <br/><input type="submit" class="config_submitter" value="Save Changes" /><br/>
            </div><!-- /config-components -->

</form>
</div></div>
<div class="clearfix"></div>

<script type="text/javascript" charset="utf-8">
<!--
    jQuery('#log_dir').fileBrowser({ title: 'Select Log Directory' });
//-->
</script>

#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_bottom.tmpl")
