#import sickbeard
#from sickbeard.common import *
#set global $title  = "Config - General"
#set global $header = "General Configuration"

#set global $sbPath="../.."

<!--#set global $topmenu="config"#-->
#import os.path
#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_top.tmpl")

<script type="text/javascript">
nameTestURL = "$sbRoot/config/general/testNaming";
</script>
<script type="text/javascript" src="$sbRoot/js/configGeneral.js"></script>

<form action="saveGeneral" method="POST">

All non-absolute folder locations are relative to $sickbeard.PROG_DIR<br /><br />

<div class="EntryBlock"><p><strong>
    <em>NOTE:</em> Manual restart needed for web server changes!<br />
</strong></p>
<fieldset class="EntryFieldSet">

<legend>Misc</legend>
<strong>Logging directory:</strong><br />
Directory where Sick Beard should place its logs<br />
<input type="text" name="log_dir" id="log_dir" value="$sickbeard.LOG_DIR" size="30"><br />
<br />

<input type="checkbox" name="create_metadata" #if $sickbeard.CREATE_METADATA then "CHECKED" else ""#> <strong>Create metadata</strong><br />
If checked Sick Beard will create nfo files<br />
for all your media<br />
<br />

<input type="checkbox" name="create_images" #if $sickbeard.CREATE_IMAGES then "CHECKED" else ""#> <strong>Create images</strong><br />
If checked Sick Beard will create tbn/fanart/posters<br />
for all your media<br />
<br />

<input type="checkbox" name="launch_browser" #if $sickbeard.LAUNCH_BROWSER then "CHECKED" else ""#> <strong>Launch browser on startup</strong><br />
Should Sick Beard open its home page in your<br />browser when you start it?<br />
<br />

<input type="checkbox" name="version_notify" #if $sickbeard.VERSION_NOTIFY then "CHECKED" else ""#> <strong>Notify when new versions are available</strong><br />
Doesn't work if you're running from source
<br />

</fieldset>
</div>

<div class="EntryBlock">
<fieldset class="EntryFieldSet">

<legend>Web Interface (requires restart)</legend>

<strong>HTTP port</strong><br />
Web port Sick Beard should listen on<br />
<input type="text" name="web_port" value="$sickbeard.WEB_PORT" size="10"><br />
<br />

<input type="checkbox" name="web_log" #if $sickbeard.WEB_LOG then "CHECKED" else ""#> <strong>Enable HTTP log</strong><br />
Whether you want cherrypy logs to be generated<br />
<br />

<strong>Sick Beard username</strong><br />
Web authentication username<br />
<input type="text" name="web_username" value="$sickbeard.WEB_USERNAME" size="10"><br />
<br />

<strong>Sick Beard password</strong><br />
Web authentication password<br />
<input type="password" name="web_password" value="$sickbeard.WEB_PASSWORD" size="10"><br />
<br />

</div>
</fieldset>

<div class="EntryBlock">
<fieldset class="EntryFieldSet">

<legend>Defaults</legend>

<strong>Initial Quality</strong><br />
Quality to assign to a newly created show<br />
<select name="quality_default">
#for $curQual in ($SD, $HD, $BEST, $ANY):
<option value="$curQual" #if int($curQual) == int($sickbeard.QUALITY_DEFAULT) then "SELECTED" else ""#>$qualityStrings[$curQual]
#end for
</select><br />
<br />

<input type="checkbox" name="season_folders_default" #if $sickbeard.SEASON_FOLDERS_DEFAULT then "CHECKED" else ""#> <strong>Use Season Folders</strong><br />
Whether shows should use season folders by default<br />
<br />

</fieldset>
</div>

#set $naming_ep_type_text = ("1x02", "s01e02", "S01E02")
#set $naming_multi_ep_type_text = ("extend", "duplicate", "repeat")

<div class="EntryBlock">
<fieldset class="EntryFieldSet">

<legend>Episode Naming</legend>

<input type="checkbox" name="naming_show_name" id="naming_show_name" #if $sickbeard.NAMING_SHOW_NAME then "CHECKED" else ""#> <strong>Use show name</strong><br />
If not checked the show name will be<br />
omitted from your episode names<br />
<br />

<strong>Number Style</strong><br />
Style of season/episode numbers<br />
<select name="naming_ep_type" id="naming_ep_type">
#for $i in range(len($naming_ep_type_text)):
<option value="$i" #if $i == int($sickbeard.NAMING_EP_TYPE) then "SELECTED" else ""#>$naming_ep_type_text[$i]
#end for
</select><br />
<br />

<strong>Example:</strong> <div id="normalExampleText"></div><br />
<br />

<strong>Multi-episode Style</strong><br />
Style of season/episode numbers for multi-episodes<br />
<select name="naming_multi_ep_type" id="naming_multi_ep_type">
#for $i in range(len($naming_multi_ep_type_text)):
<option value="$i" #if $i == int($sickbeard.NAMING_MULTI_EP_TYPE) then "SELECTED" else ""#>$naming_multi_ep_type_text[$i]
#end for
</select><br />
<br />

<strong>Example:</strong> <div id="multiExampleText"></div><br />
<br />

</fieldset>
</div>


<p>
<input type="submit" value="Save Changes">
</p>
</form>

<script type="text/javascript" charset="utf-8">
    jQuery('#log_dir').fileBrowser({ title: 'Select Log Directory' });
</script>

#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_bottom.tmpl")