#import sickbeard
#from sickbeard.common import *
#set global $title="Config - General"
<!--#set global $topmenu="config"#-->
<!--#set global $statpath="../.."#-->
<!--#set global $helpsubject="Configure+General"#-->
#import os.path
#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_top.tmpl")

<!--#set global $submenu="general"#-->
#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_cmenu.tmpl")

<h2>General Configuration</h2>
<form action="saveGeneral" method="POST">

All non-absolute folder locations are relative to $sickbeard.PROG_DIR<br /><br />

<div class="EntryBlock"><p><strong>
    <em>NOTE:</em> Manual restart needed for web server changes!<br />
</strong></p>
<fieldset class="EntryFieldSet">

<legend>Misc</legend>
<strong>Logging directory:</strong><br />
Directory where Sick Beard should place its logs<br />
<input type="text" name="log_dir" value="$sickbeard.LOG_DIR" size="35"><br />
<br />

<input type="checkbox" name="create_metadata" #if $sickbeard.CREATE_METADATA then "CHECKED" else ""#> <strong>Create metadata</strong><br />
If checked Sick Beard will create nfo/tbn<br />
files for all your media<br />
<br />

<input type="checkbox" name="launch_browser" #if $sickbeard.LAUNCH_BROWSER then "CHECKED" else ""#> <strong>Launch browser on startup:</strong><br />
Should Sick Beard open its home page in your<br />browser when you start it?<br />
<br />

</fieldset>
</div>

<div class="EntryBlock">
<fieldset class="EntryFieldSet">

<legend>Web Interface (requires restart)</legend>

<strong>HTTP port</strong><br />
Web port Sick Beard should listen on<br />
<input type="text" name="web_port" value="$sickbeard.WEB_PORT" size="10"><br />
<br />

<input type="checkbox" name="web_log" #if $sickbeard.WEB_LOG then "CHECKED" else ""#> <strong>Enable HTTP log</strong><br />
Whether you want cherrypy logs to be generated<br />
<br />

<strong>Sick Beard username</strong><br />
Web authentication username<br />
<input type="text" name="web_username" value="$sickbeard.WEB_USERNAME" size="10"><br />
<br />

<strong>Sick Beard password</strong><br />
Web authentication password<br />
<input type="password" name="web_password" value="$sickbeard.WEB_PASSWORD" size="10"><br />
<br />

</div>
</fieldset>

<fieldset class="EntryFieldSet">

<legend>Defaults</legend>

<strong>Initial Quality</strong><br />
Quality to assign to a newly created show<br />
<select name="quality_default">
#for $curQual in ($SD, $HD, $BEST, $ANY):
<option value="$curQual" #if int($curQual) == int($sickbeard.QUALITY_DEFAULT) then "SELECTED" else ""#>$qualityStrings[$curQual]
#end for
</select><br />
<br />

<input type="checkbox" name="season_folders_default" #if $sickbeard.SEASON_FOLDERS_DEFAULT then "CHECKED" else ""#> <strong>Use Season Folders</strong><br />
Whether shows should use season folders by default<br />
<br />

</fieldset>
</div>


<p>
<input type="submit" value="Save Changes">
</p>
</form>


#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_bottom.tmpl")