#import sickbeard
#set global $title="Config - Notifications"
#set global $header="Notifications"

#set global $sbPath="../.."

<!--#set global $topmenu="config"#-->
#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_top.tmpl")

<script type="text/javascript" charset="utf-8">
\$(document).ready(function(){
var loading = '<img src=\"$sbRoot/images/indicator.gif\" height=\"16\" width=\"16\" />';

  \$('#testGrowl').click(function(){
    document.getElementById('testGrowl-result').innerHTML = loading;
    var growl_host = \$("#growl_host").val();
    var growl_password = \$("#growl_password").val();
    var growl_result = \$.get("$sbRoot/home/testGrowl", {'host': growl_host, 'password': growl_password}, 
    function (data){ document.getElementById('testGrowl-result').innerHTML = data;});
  });

  \$('#testProwl').click(function(){
    document.getElementById('testProwl-result').innerHTML = loading;
    var prowl_api = \$("#prowl_api").val();
    var prowl_priority = \$("#prowl_priority").val();
    var prowl_result = \$.get("$sbRoot/home/testProwl", {'prowl_api': prowl_api, 'prowl_priority': prowl_priority}, 
    function (data){ document.getElementById('testProwl-result').innerHTML = data;});
  });

  \$('#testXBMC').click(function(){
    document.getElementById('testXBMC-result').innerHTML = loading;
    var xbmc_host = \$("#xbmc_host").val();
    var xbmc_username = \$("#xbmc_username").val();
    var xbmc_password = \$("#xbmc_password").val();

    \$.get("$sbRoot/home/testXBMC", {'host': xbmc_host, 'username': xbmc_username, 'password': xbmc_password}, 
    function (data){ document.getElementById('testXBMC-result').innerHTML = data;});
  });

  \$('#twitterStep1').click(function(){
    document.getElementById('testTwitter-result').innerHTML = loading;
    var twitter1_result = \$.get("$sbRoot/home/twitterStep1", function (data){window.open(data)})
    .complete(function() { document.getElementById('testTwitter-result').innerHTML = '<b>Step1:</b> Confirm Authorization'; });
  });

  \$('#twitterStep2').click(function(){
    document.getElementById('testTwitter-result').innerHTML = loading;
    var twitter_key = \$("#twitter_key").val();
    \$.get("$sbRoot/home/twitterStep2", {'key': twitter_key}, 
    function (data){ document.getElementById('testTwitter-result').innerHTML = data; });
  });

  \$('#testTwitter').click(function(){
    \$.get("$sbRoot/home/testTwitter", 
    function (data){ document.getElementById('testTwitter-result').innerHTML = data;});
  });

});  
      
</script>


<div id="config">
<div id="config-content">

<form id="form" action="saveNotifications" method="post">

            <div id="config-components">

                <div id="core-component-group1" class="component-group clearfix">

                    <div class="component-group-desc">
                        <h3>XBMC</h3>
                        <p>A free and open source cross-platform media center and home entertainment system software with a 10-foot user interface designed for the living-room TV.</p>
                    </div>

                    <fieldset class="component-group-list">
                        <div class="field-pair">
                            <input type="checkbox" name="use_xbmc" id="use_xbmc" #if $sickbeard.USE_XBMC then "checked=\"checked\"" else ""# />
                            <label class="clearfix" for="use_xbmc">
                                <span class="component-title">Enable</span>
                                <span class="component-desc">Should Sick Beard send XBMC commands?</span>
                            </label>
                        </div>

                        <div class="field-pair">
                            <input type="checkbox" name="xbmc_notify_onsnatch" id="xbmc_notify_onsnatch" #if $sickbeard.XBMC_NOTIFY_ONSNATCH then "checked=\"checked\"" else ""# />
                            <label class="clearfix" for="xbmc_notify_onsnatch">
                                <span class="component-title">Notify on Snatch</span>
                                <span class="component-desc">Send notification when we start a download?</span>
                            </label>
                        </div>

                        <div class="field-pair">
                            <input type="checkbox" name="xbmc_notify_ondownload" id="xbmc_notify_ondownload" #if $sickbeard.XBMC_NOTIFY_ONDOWNLOAD then "checked=\"checked\"" else ""# />
                            <label class="clearfix" for="xbmc_notify_ondownload">
                                <span class="component-title">Notify on Download</span>
                                <span class="component-desc">Send notification when we finish a download?</span>
                            </label>
                        </div>

                        <div class="field-pair">
                            <input type="checkbox" name="xbmc_update_library" id="xbmc_update_library" #if $sickbeard.XBMC_UPDATE_LIBRARY then "checked=\"checked\"" else ""# />
                            <label class="clearfix" for="xbmc_update_library">
                                <span class="component-title">Update Library</span>
                                <span class="component-desc">Update XBMC library when we finish a download?</span>
                            </label>
                        </div>

                        <div class="field-pair">
                            <input type="checkbox" name="xbmc_update_full" id="xbmc_update_full" #if $sickbeard.XBMC_UPDATE_FULL then "checked=\"checked\"" else ""# />
                            <label class="clearfix" for="xbmc_update_full">
                                <span class="component-title">Full Library Update</span>
                                <span class="component-desc">Do a full library update if per-show fails?</span>
                            </label>
                        </div>

                        <div class="field-pair">
                            <label class="nocheck clearfix">
                                <span class="component-title">XBMC IP:Port</span>
                                <input type="text" name="xbmc_host" id="xbmc_host" value="$sickbeard.XBMC_HOST" size="35" />
                            </label>
                            <label class="nocheck clearfix">
                                <span class="component-title">&nbsp;</span>
                                <span class="component-desc">Host running XBMC (eg. 192.168.1.100:8080)</span>
                            </label>
                            <label class="nocheck clearfix">
                                <span class="component-title">&nbsp;</span>
                                <span class="component-desc">(multiple host strings can be separated by commas)</span>
                            </label>
                        </div>

                        <div class="field-pair">
                            <label class="nocheck clearfix">
                                <span class="component-title">XBMC Username</span>
                                <input type="text" name="xbmc_username" id="xbmc_username" value="$sickbeard.XBMC_USERNAME" size="35" />
                            </label>
                            <label class="nocheck clearfix">
                                <span class="component-title">&nbsp;</span>
                                <span class="component-desc">Username of your XBMC server (blank for none)</span>
                            </label>
                        </div>

                        <div class="field-pair">
                            <label class="nocheck clearfix">
                                <span class="component-title">XBMC Password</span>
                                <input type="password" name="xbmc_password" id="xbmc_password" value="$sickbeard.XBMC_PASSWORD" size="35" />
                            </label>
                            <label class="nocheck clearfix">
                                <span class="component-title">&nbsp;</span>
                                <span class="component-desc">Password of your XBMC server (blank for none)</span>
                            </label>
                        </div>

                    <div class="testNotification" id="testXBMC-result">Click below to test.</div>
                    <input type="button" value="Test XBMC" id="testXBMC" />
                    <input type="submit" value="Save Changes" />

                    </fieldset>
                </div><!-- /component-group -->

                <div id="core-component-group2" class="component-group clearfix">

                    <div class="component-group-desc">
                        <h3>Growl</h3>
                        <p>A cross-platform unobtrusive global notification system.</p>
                    </div>

                    <fieldset class="component-group-list">
                        <div class="field-pair">
                            <input type="checkbox" name="use_growl" id="use_growl" #if $sickbeard.USE_GROWL then "checked=\"checked\"" else ""# /> 
                            <label class="clearfix" for="use_growl">
                                <span class="component-title">Enable</span>
                                <span class="component-desc">Should Sick Beard send Growl notifications?</span>
                            </label>
                        </div>

                        <div class="field-pair">
                            <input type="checkbox" name="growl_notify_onsnatch" id="growl_notify_onsnatch" #if $sickbeard.GROWL_NOTIFY_ONSNATCH then "checked=\"checked\"" else ""# /> 
                            <label class="clearfix" for="growl_notify_onsnatch">
                                <span class="component-title">Notify on Snatch</span>
                                <span class="component-desc">Send notification when we start a download?</span>
                            </label>
                        </div>

                        <div class="field-pair">
                            <input type="checkbox" name="growl_notify_ondownload" id="growl_notify_ondownload" #if $sickbeard.GROWL_NOTIFY_ONDOWNLOAD then "checked=\"checked\"" else ""# />
                            <label class="clearfix" for="growl_notify_ondownload">
                                <span class="component-title">Notify on Download</span>
                                <span class="component-desc">Send notification when we finish a download?</span>
                            </label>
                        </div>

                        <div class="field-pair">
                            <label class="nocheck clearfix">
                                <span class="component-title">Growl IP:Port</span>
                                <input type="text" name="growl_host" id="growl_host" value="$sickbeard.GROWL_HOST" size="35" />
                            </label>
                            <label class="nocheck clearfix">
                                <span class="component-title">&nbsp;</span>
                                <span class="component-desc">Host running Growl (eg. 192.168.1.100:23053)</span>
                            </label>
                        </div>

                        <div class="field-pair">
                            <label class="nocheck clearfix">
                                <span class="component-title">Growl Password</span>
                                <input type="password" name="growl_password" id="growl_password" value="$sickbeard.GROWL_PASSWORD" size="35" />
                            </label>
                            <label class="nocheck clearfix">
                                <span class="component-title">&nbsp;</span>
                                <span class="component-desc">May leave blank if Sick Beard is on the same host.</span>
                            </label>
                            <label class="nocheck clearfix">
                                <span class="component-title">&nbsp;</span>
                                <span class="component-desc">Otherwise Growl <b>requires</b> a password to be used.</span>
                            </label>
                        </div>

                    <div class="testNotification" id="testGrowl-result">Click below to test.</div>
                    <input type="button" value="Test Growl" id="testGrowl" />
                    <input type="submit" value="Save Changes" />

                    </fieldset>
                </div><!-- /component-group -->

                <div id="core-component-group3" class="component-group clearfix">
                
                    <div class="component-group-desc">
                        <h3>Twitter</h3>
                        <p>A social networking and microblogging service, enabling its users to send and read other users' messages called tweets.</p>
                    </div>

                    <fieldset class="component-group-list">
                        <div class="field-pair">
                            <input type="checkbox" name="use_twitter" id="use_twitter" #if $sickbeard.USE_TWITTER then "checked=\"checked\"" else ""# />
                            <label class="clearfix" for="use_twitter">
                                <span class="component-title">Enable</span>
                                <span class="component-desc">Should Sick Beard post tweets on Twitter?</span>
                            </label>
                            <label class="nocheck clearfix" for="use_twitter">
                                <span class="component-title">&nbsp;</span>
                                <span class="component-desc">You may want to use a second account.</span>
                            </label>
                        </div>

                        <div class="field-pair">
                            <input type="checkbox" name="twitter_notify_onsnatch" id="twitter_notify_onsnatch" #if $sickbeard.TWITTER_NOTIFY_ONSNATCH then "checked=\"checked\"" else ""# /> 
                            <label class="clearfix" for="twitter_notify_onsnatch">
                                <span class="component-title">Notify on Snatch</span>
                                <span class="component-desc">Send notification when we start a download?</span>
                            </label>
                        </div>

                        <div class="field-pair">
                            <input type="checkbox" name="twitter_notify_ondownload" id="twitter_notify_ondownload" #if $sickbeard.TWITTER_NOTIFY_ONDOWNLOAD then "checked=\"checked\"" else ""# />
                            <label class="clearfix" for="twitter_notify_ondownload">
                                <span class="component-title">Notify on Download</span>
                                <span class="component-desc">Send notification when we finish a download?</span>
                            </label>
                        </div>

                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">Step One</span>
                            </label>
                            <label class="nocheck clearfix">
                                <span class="component-desc">Click the "Request Authorization" button.<br/> This will open a new page containing an auth key.<br/> Note: if nothing happens check your popup blocker.<br/></span>
                                <input type="button" value="Request Authorization" id="twitterStep1" />
                            </label>
                        </div>

                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">Step Two</span>
                            </label>
                            <label class="nocheck clearfix">
                                <span class="component-desc">Enter the key Twitter gave you below, and click "Verify Key".<br/></span>
                                <input type="text" id="twitter_key" value="" size="35" /><br />
                            </label>
                            <label class="nocheck clearfix">
                                <input type="button" value="Verify Key" id="twitterStep2" />
                            </label>
                        </div>

                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">Step Three</span>
                            </label>
                        </div>

                    <div class="testNotification" id="testTwitter-result">Click below to test.</div>
                    <input type="button" value="Test Twitter" id="testTwitter" />
                    <input type="submit" value="Save Changes" />

                    </fieldset>
                </div><!-- /component-group -->
                
            <div id="core-component-group4" class="component-group clearfix">

                    <div class="component-group-desc">
                        <h3>Prowl</h3>
                        <p>A Growl client for iOS.</p>
                    </div>

                    <fieldset class="component-group-list">
                        <div class="field-pair">
                            <input type="checkbox" name="use_prowl" id="use_prowl" #if $sickbeard.USE_PROWL then "checked=\"checked\"" else ""# /> 
                            <label class="clearfix" for="use_prowl">
                                <span class="component-title">Enable</span>
                                <span class="component-desc">Should Sick Beard send Prowl notifications?</span>
                            </label>
                        </div>

                        <div class="field-pair">
                            <input type="checkbox" name="prowl_notify_onsnatch" id="prowl_notify_onsnatch" #if $sickbeard.PROWL_NOTIFY_ONSNATCH then "checked=\"checked\"" else ""# /> 
                            <label class="clearfix" for="prowl_notify_onsnatch">
                                <span class="component-title">Notify on Snatch</span>
                                <span class="component-desc">Send notification when we start a download?</span>
                            </label>
                        </div>

                        <div class="field-pair">
                            <input type="checkbox" name="prowl_notify_ondownload" id="prowl_notify_ondownload" #if $sickbeard.PROWL_NOTIFY_ONDOWNLOAD then "checked=\"checked\"" else ""# />
                            <label class="clearfix" for="prowl_notify_ondownload">
                                <span class="component-title">Notify on Download</span>
                                <span class="component-desc">Send notification when we finish a download?</span>
                            </label>
                        </div>

                        <div class="field-pair">
                            <label class="nocheck clearfix">
                                <span class="component-title">Prowl API key:</span>
                                <input type="text" name="prowl_api" id="prowl_api" value="$sickbeard.PROWL_API" size="35" />
                            </label>
                            <label class="nocheck clearfix">
                                <span class="component-title">&nbsp;</span>
                                <span class="component-desc">Get your key at: <a href="https://prowl.weks.net/settings.php" onclick="window.open(this.href, '_blank'); return false;">https://prowl.weks.net/settings.php</a></span>
                            </label>
                        </div>

                        <div class="field-pair">
                            <label class="nocheck clearfix">
                                <span class="component-title">Prowl priority:</span>
                               <select id="prowl_priority" name="prowl_priority">
                                    <option value="-2" #if $sickbeard.PROWL_PRIORITY == "-2" then "selected" else ""#>Very Low
                                    <option value="-1" #if $sickbeard.PROWL_PRIORITY == "-1" then "selected" else ""#>Moderate
                                    <option value="0" #if $sickbeard.PROWL_PRIORITY == "0" then "selected" else ""#>Normal
                                    <option value="1" #if $sickbeard.PROWL_PRIORITY == "1" then "selected" else ""#>High
                                    <option value="2" #if $sickbeard.PROWL_PRIORITY == "2" then "selected" else ""#>Emergency
                                </select>
                            </label>
                            <label class="nocheck clearfix">
                                <span class="component-title">&nbsp;</span>
                                <span class="component-desc">Priority of Prowl messages from Sick-Beard.</span>
                            </label>
                        </div>

                    <div class="testNotification" id="testProwl-result">Click below to test.</div>
                    <input type="button" value="Test Prowl" id="testProwl" />
                    <input type="submit" value="Save Changes" />

                    </fieldset>
                </div><!-- /component-group -->

            <br/><input type="submit" value="Save Changes" /><br/>

            </div><!-- /config-components -->

</form>


</div></div>
<div class="clearfix"></div>

#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_bottom.tmpl")
