#import sickbeard
#from sickbeard.providers.generic import GenericProvider

#from sickbeard.providers import thepiratebay
#set global $title="Config - Providers"
#set global $header="Search Providers"

#set global $sbPath="../.."

#set global $topmenu="config"#
#import os.path
#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_top.tmpl")

<script type="text/javascript" src="$sbRoot/js/configProviders.js?$sbPID"></script>
<script type="text/javascript" src="$sbRoot/js/config.js?$sbPID"></script>
#if $sickbeard.USE_NZBS
<script type="text/javascript" charset="utf-8">
<!--
\$(document).ready(function(){
#for $curNewznabProvider in $sickbeard.newznabProviderList:
    \$(this).addProvider('$curNewznabProvider.getID()', '$curNewznabProvider.name', '$curNewznabProvider.url', '$curNewznabProvider.key', $int($curNewznabProvider.default));
#end for
});
//-->
</script>
#end if

<div id="config">
<div id="config-content">

<form id="configForm" action="saveProviders" method="post">

            <div id="config-components">

                <div id="core-component-group1" class="component-group clearfix">

                    <div class="component-group-desc">
                        <h3>Provider Priorities</h3>
                        <p>Check off and drag the providers into the order you want them to be used.</p>
                        <p>At least one provider is required but two are recommended.</p>

                        #if not $sickbeard.USE_NZBS or not $sickbeard.USE_TORRENTS:
                        <blockquote style="margin: 20px 0;">NZB/Torrent providers can be toggled in <b><a href="$sbRoot/config/search">Search Settings</a></b></blockquote>
                        #else:
                        <br/>
                        #end if

                        <div>
                            <h4 class="note">*</h4><p class="note">Provider does not support backlog searches at this time.</p>
                            <h4 class="note">**</h4><p class="note">Provider supports <b>limited</b> backlog searches, all episodes/qualities may not be available.</p>
                        </div>
                    </div>

                    <fieldset class="component-group-list">
                        <ul id="providerOrderList">
                        #for $curProvider in $sickbeard.providers.sortedProviderList():
                            #if $curProvider.providerType == $GenericProvider.NZB and not $sickbeard.USE_NZBS:
                                #continue
                            #elif $curProvider.providerType == $GenericProvider.TORRENT and not $sickbeard.USE_TORRENTS:
                                #continue
                            #end if
                            #set $curName = $curProvider.getID()
                          <li class="ui-state-default" id="$curName">
                            <input type="checkbox" id="enable_$curName" class="checkbox provider_enabler" #if $curProvider.isEnabled() then "checked=\"checked\"" else ""#/>
                            <a href="$curProvider.url" class="imgLink" rel="noreferrer" onclick="window.open('${sickbeard.ANON_REDIRECT}' + this.href, '_blank'); return false;"><img src="$sbRoot/images/providers/$curProvider.imageName()" alt="" title="$curProvider.name" width="16" height="16" /></a>
                            $curProvider.name
                            #if not $curProvider.supportsBacklog then "*" else ""#
                            #if $curProvider.name == "EZRSS" or $curProvider.name == "ThePirateBay" then "**" else ""#
                            <span class="ui-icon ui-icon-arrowthick-2-n-s pull-right"></span>
                          </li>
                        #end for
                        </ul>
                        <input type="hidden" name="provider_order" id="provider_order" value="<%=" ".join([x.getID()+':'+str(int(x.isEnabled())) for x in sickbeard.providers.sortedProviderList()])%>"/>
                        <br/><input type="submit" class="btn config_submitter" value="Save Changes" /><br/>
                    </fieldset>
                </div><!-- /component-group1 //-->

                <div id="core-component-group2" class="component-group clearfix">
                    <div class="component-group-desc">
                        <h3>Configure Built-In Providers</h3>
                        <p>Check with provider's website on how to obtain an API key if needed.</p>
                    </div>

                    <fieldset class="component-group-list">
                        <div class="field-pair">
                            <label class="clearfix" for="editAProvider">
                                <span class="component-title jumbo">Configure Provider:</span>
                                <span class="component-desc">
                                    #set $provider_config_list = []
                                    #for $cur_provider in sorted(("btn", "hdbits", "omgwtfnzbs", "tvtorrents", "torrentleech", "thepiratebay", "torrentz", "torrentday", "sceneaccess", "iptorrents", "bithdtv", "torrentshack","speed","kickass","revolutiontt")):
                                        #set $cur_provider_obj = $sickbeard.providers.getProviderClass($cur_provider)
                                        #if $cur_provider_obj.providerType == $GenericProvider.NZB and not $sickbeard.USE_NZBS:
                                            #continue
                                        #elif $cur_provider_obj.providerType == $GenericProvider.TORRENT and not $sickbeard.USE_TORRENTS:
                                            #continue
                                        #end if
                                        $provider_config_list.append($cur_provider_obj)
                                    #end for

                                    #if $provider_config_list:
                                    <select id="editAProvider" class="input-medium" >
                                        #for $cur_provider in $provider_config_list + [$curProvider for $curProvider in $sickbeard.newznabProviderList if $curProvider.default and $curProvider.needs_auth and $sickbeard.USE_NZBS]:
                                            <option value="$cur_provider.getID()">$cur_provider.name</option>
                                        #end for
                                    </select>
                                    #else:
                                    No providers available to configure.
                                    #end if
                                </span>
                            </label>
                        </div>


<!-- start div for editing providers //-->
#for $curNewznabProvider in [$curProvider for $curProvider in $sickbeard.newznabProviderList if $curProvider.default and $curProvider.needs_auth]:
                    <div class="providerDiv" id="${curNewznabProvider.getID()}Div">
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">$curNewznabProvider.name URL</span>
                                <input class="component-desc" type="text" id="${curNewznabProvider.getID()}_url" value="$curNewznabProvider.url" size="40" disabled/>
                            </label>
                        </div>
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">$curNewznabProvider.name API Key</span>
                                <input class="component-desc newznab_key" type="text" id="${curNewznabProvider.getID()}_hash" value="$curNewznabProvider.key" size="40" />
                            </label>
                        </div>
                    </div><!-- /${curNewznabProvider.getID()}Div //-->
#end for
                    <div class="providerDiv" id="omgwtfnzbsDiv">
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">omgwtfnzbs User Name</span>
                                <input class="component-desc" type="text" name="omgwtfnzbs_username" value="$sickbeard.OMGWTFNZBS_USERNAME" size="10" />
                            </label>
                        </div>
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">omgwtfnzbs API Key</span>
                                <input class="component-desc" type="text" name="omgwtfnzbs_apikey" value="$sickbeard.OMGWTFNZBS_APIKEY" size="40" />
                            </label>
                        </div>
                    </div><!-- /omgwtfnzbsDiv //-->
                    
                    <div class="providerDiv" id="bithdtvDiv">
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">Username:</span>
                                <input class="component-desc" type="text" name="bithdtv_username" value="$sickbeard.BITHDTV_USERNAME" size="40" />
                            </label>
                        </div>
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">Password:</span>
                                <input class="component-desc" type="password" name="bithdtv_password" value="$sickbeard.BITHDTV_PASSWORD" size="40" />
                            </label>
                        </div>
                    </div><!-- /bithdtvDiv //-->
                    
                    <div class="providerDiv" id="hdbitsDiv">
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">HDBits Username</span>
                                <input class="component-desc" type="text" name="hdbits_username" value="$sickbeard.HDBITS_USERNAME" size="40" />
                            </label>
                        </div>
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">HDBits Passkey</span>
                                <input class="component-desc" type="text" name="hdbits_passkey" value="$sickbeard.HDBITS_PASSKEY" size="40" />
                            </label>
                        </div>
                    </div><!-- /hdbitsDiv //-->

                    <div class="providerDiv" id="tvtorrentsDiv">
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">TvTorrents Digest</span>
                                <input class="component-desc" type="text" name="tvtorrents_digest" value="$sickbeard.TVTORRENTS_DIGEST" size="40" />
                            </label>
                        </div>
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">TvTorrents Hash</span>
                                <input class="component-desc" type="text" name="tvtorrents_hash" value="$sickbeard.TVTORRENTS_HASH" size="40" />
                            </label>
                        </div>
                    </div><!-- /tvtorrentsDiv //-->
                    
		    <div class="providerDiv" id="thepiratebayDiv">
                        <div class="field-pair">
                            <input type="checkbox" class="enabler" name="thepiratebay_proxy" id="thepiratebay_proxy" #if $sickbeard.THEPIRATEBAY_PROXY then "checked=\"checked\"" else ""#/>
                            <label class="clearfix" for="thepiratebay_proxy">
                                <span class="component-title">Access TPB via Proxy</span>
                                <span class="component-desc">To bypass Country Blocking Mechanism</span>
                            </label>
                        </div>
                        
                        <div class="field-pair" id="content_thepiratebay_proxy">
                            <label class="nocheck clearfix">
                                <span class="component-title">Proxy URL:</span>
                                <span class="component-desc">
	                            	<select name="thepiratebay_proxy_url" id="thepiratebay_proxy_url">
                                	#for $i in $thepiratebay.proxy_dict.keys():
                                  		<option value="$thepiratebay.proxy_dict[$i]" #if $thepiratebay.proxy_dict[$i] == $sickbeard.THEPIRATEBAY_PROXY_URL then "selected=\"selected\"" else ""#>$i</option>
	                            	#end for
	                            	</select>
                               	</span>
                            </label>
                        </div>
                        
                        <div class="field-pair">
                            <input type="checkbox" class="enabler" name="thepiratebay_url_override_enable" id="thepiratebay_url_override_enable" #if $sickbeard.THEPIRATEBAY_URL_OVERRIDE then "checked=\"checked\"" else ""#/>
                            <label class="clearfix" for="thepiratebay_url_override_enable">
                                <span class="component-title">Access TPB via Alternative URL</span>
                                <span class="component-desc">To bypass Country Blocking Mechanism,list of examples of alternative sites at <a href="http://proxybay.info" target="_blank">http://proxybay.info</a></span>
                            </label>
                        </div>
                        
                        <div class="field-pair" id="content_thepiratebay_url_override_enable">
                            <label class="nocheck clearfix">
                                <span class="component-title">URL Override:</span>
                                <span class="component-desc"><input type="text" name="thepiratebay_url_override" value="$sickbeard.THEPIRATEBAY_URL_OVERRIDE" size="40" /></span>
                            </label>
                        </div>
                        
                        <div class="field-pair">
                            <input type="checkbox" name="thepiratebay_trusted" id="thepiratebay_trusted" #if $sickbeard.THEPIRATEBAY_TRUSTED then "checked=\"checked\"" else ""#/>
                            <label class="clearfix" for="thepiratebay_trusted">
                                <span class="component-title">Trusted Download</span>
                                <span class="component-desc">Download torrent only from trusted uploaders?</span>
                            </label>
                        </div>
                    </div><!-- /thepiratebayDiv //-->
                     
                    <div class="providerDiv" id="btnDiv">
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">BTN API Key</span>
                                <input class="component-desc" type="text" name="btn_api_key" value="$sickbeard.BTN_API_KEY" size="40" />
                            </label>
                        </div>
                    </div><!-- /btnDiv //-->

                    <div class="providerDiv" id="torrentzDiv">
                        <div class="field-pair">
                            <input type="checkbox" name="torrentz_verified" id="torrentz_verified" #if $sickbeard.TORRENTZ_VERIFIED then "checked=\"checked\"" else ""#/>
                            <label class="clearfix" for="torrentz_verified">
                                <span class="component-title">Only Verified</span>
                                <span class="component-desc">Download only verified torrents?</span>
                            </label>
                        </div>
		    </div><!-- /torrentzDiv //-->
                    
                    <div class="providerDiv" id="kickassDiv">
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">Alt Proxy URL:</span>
                                <input class="component-desc" type="text" name="kickass_alt_url" value="$sickbeard.KICKASS_ALT_URL" size="40" />
                            </label>
                        </div>
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">&nbsp;</span>
                                <span class="component-desc"><i>Example:</i> <a href="http://katproxy.com/" target="_blank">http://katproxy.com/</a></span>
                            </label>
                        </div>
                    </div><!-- /KickAssDiv //-->
                    
                    <div class="providerDiv" id="torrentdayDiv">
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">Username:</span>
                                <input class="component-desc" type="text" name="torrentday_username" value="$sickbeard.TORRENTDAY_USERNAME" size="40" />
                            </label>
                        </div>
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">Password:</span>
                                <input class="component-desc" type="password" name="torrentday_password" value="$sickbeard.TORRENTDAY_PASSWORD" size="40" />
                            </label>
                        </div>
                        
                        <div class="field-pair">
                            <input type="checkbox" name="torrentday_alt_url" id="torrentday_alt_url" #if $sickbeard.TORRENTDAY_ALT_URL then "checked=\"checked\"" else ""#/>
                            <label class="clearfix" for="torrentday_alt_url">
                                <span class="component-title">Use torrentday.eu</span>
                                <span class="component-desc">Use torrentdays's alternative domain.</span>
                            </label>
                        </div>
                    </div><!-- /torrentdayDiv //-->
                
                    <div class="providerDiv" id="torrentleechDiv">
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">Username:</span>
                                <input class="component-desc" type="text" name="torrentleech_username" value="$sickbeard.TORRENTLEECH_USERNAME" size="40" />
                            </label>
                        </div>
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">Password:</span>
                                <input class="component-desc" type="password" name="torrentleech_password" value="$sickbeard.TORRENTLEECH_PASSWORD" size="40" />

                            </label>
                        </div>
                    </div><!-- /torrentleechDiv //-->
                    
                    <div class="providerDiv" id="sceneaccessDiv">
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">Username:</span>
                                <input class="component-desc" type="text" name="sceneaccess_username" value="$sickbeard.SCENEACCESS_USERNAME" size="40" />
                            </label>
                        </div>
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">Password:</span>
                                <input class="component-desc" type="password" name="sceneaccess_password" value="$sickbeard.SCENEACCESS_PASSWORD" size="40" />
                            </label>
                        </div>
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">RSS Hash:</span>
                                <input class="component-desc" type="text" name="sceneaccess_rsshash" value="$sickbeard.SCENEACCESS_RSSHASH" size="40" /></b>
                            </label>
                        </div>
                    </div><!-- /sceneaccessDiv //-->
                    
                    <div class="providerDiv" id="iptorrentsDiv">
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">Username:</span>
                                <input class="component-desc" type="text" name="iptorrents_username" value="$sickbeard.IPTORRENTS_USERNAME" size="40" />
                            </label>
                        </div>
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">Password:</span>
                                <input class="component-desc" type="password" name="iptorrents_password" value="$sickbeard.IPTORRENTS_PASSWORD" size="40" />
                            </label>
                        </div>
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">RSS UID (*):</span>
                                <input class="component-desc" type="text" name="iptorrents_uid" value="$sickbeard.IPTORRENTS_UID" size="40" /></b>
                            </label>
                        </div>
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">RSS Hash (*):</span>
                                <input class="component-desc" type="text" name="iptorrents_rsshash" value="$sickbeard.IPTORRENTS_RSSHASH" size="40" /></b>
                            </label>
                        </div>
                        <div class="field-pair">
                            <span class="component-title"><i>Note: options with (*) are optional, this is generated from </i><a href="http://www.iptorrents.com/getrss.php" target="_blank">http://www.iptorrents.com/getrss.php</a></span>
                        </div>
                    </div><!-- /iptorrentsDiv //-->
                    
                    <div class="providerDiv" id="torrentshackDiv">
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">Username:</span>
                                <input class="component-desc" type="text" name="torrentshack_username" value="$sickbeard.TORRENTSHACK_USERNAME" size="40" />
                            </label>
                        </div>
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">Password:</span>
                                <input class="component-desc" type="password" name="torrentshack_password" value="$sickbeard.TORRENTSHACK_PASSWORD" size="40" />
                            </label>
                        </div>
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">RSS USER (*):</span>
                                <input class="component-desc" type="text" name="torrentshack_uid" value="$sickbeard.TORRENTSHACK_UID" size="40" /></b>
                            </label>
                        </div>
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">RSS Auth (*):</span>
                                <input class="component-desc" type="text" name="torrentshack_auth" value="$sickbeard.TORRENTSHACK_AUTH" size="40" /></b>
                            </label>
                        </div>
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">RSS Pass Key (*):</span>
                                <input class="component-desc" type="text" name="torrentshack_pass_key" value="$sickbeard.TORRENTSHACK_PASS_KEY" size="40" /></b>
                            </label>
                        </div>
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">RSS Auth Key (*):</span>
                                <input class="component-desc" type="text" name="torrentshack_auth_key" value="$sickbeard.TORRENTSHACK_AUTH_KEY" size="40" /></b>
                            </label>
                        </div>
                        <div class="field-pair">
                            <span class="component-title"><i>Note: options with (*) are optional, these variables can gathered from </i><a href="http://torrentshack.net/rss.php" target="_blank">http://torrentshack.net/rss.php</a> and clicking on a link</span>
                        </div>
                    </div><!-- /torrentshackDiv //-->
                    
                    <div class="providerDiv" id="speedDiv">
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">Username:</span>
                                <input class="component-desc" type="text" name="speed_username" value="$sickbeard.SPEED_USERNAME" size="40" />
                            </label>
                        </div>
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">Password:</span>
                                <input class="component-desc" type="password" name="speed_password" value="$sickbeard.SPEED_PASSWORD" size="40" />
                            </label>
                        </div>
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">RSS Hash:</span>
                                <input class="component-desc" type="text" name="speed_rsshash" value="$sickbeard.SPEED_RSSHASH" size="40" /></b>
                            </label>
                        </div>
                    </div><!-- /speedDiv //-->
                    
                    <div class="providerDiv" id="revolutionttDiv">
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">Username:</span>
                                <input class="component-desc" type="text" name="revolutiontt_username" value="$sickbeard.REVOLUTIONTT_USERNAME" size="40" />
                            </label>
                        </div>
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">Password:</span>
                                <input class="component-desc" type="password" name="revolutiontt_password" value="$sickbeard.REVOLUTIONTT_PASSWORD" size="40" />
                            </label>
                        </div>
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">RSS PassKey (*):</span>
                                <input class="component-desc" type="text" name="revolutiontt_rsshash" value="$sickbeard.REVOLUTIONTT_RSSHASH" size="40" /></b>
                            </label>
                        </div>
                        <div class="field-pair">
                            <span class="component-title"><i>Note: options with (*) are optional, these variables can be gathered from </i><a href="https://revolutiontt.me/getrss.php" target="_blank">https://revolutiontt.me/getrss.php</a>, it will construct a self made rss if you do not enter these details.</span>
                        </div>
                    </div><!-- /revolutionttDiv //-->
<!-- end div for editing providers -->
            
                    </fieldset>
#if $sickbeard.USE_NZBS:
                </div><!-- /component-group2 //-->

                <div id="core-component-group3" class="component-group clearfix">

                    <div class="component-group-desc">
                        <h3>Configure Custom Newznab Providers</h3>
                        <p>Add and setup custom Newznab providers.</p>
                        <p>Some built-in Newznab providers are already available above.</p>
                    </div>

                    <fieldset class="component-group-list">
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title jumbo">Select Provider:</span>
                                <span class="component-desc">
                                    <input type="hidden" name="newznab_string" id="newznab_string" />
                                    <select id="editANewznabProvider">
                                        <option value="addNewznab">-- add new provider --</option>
                                    </select>
                                </span>
                            </label>
                        </div>

<div class="newznabProviderDiv" id="addNewznab">
                        <div class="field-pair">
                            <label class="nocheck clearfix">
                                <span class="component-title">Provider Name</span>
                                <input class="component-desc" type="text" id="newznab_name" size="40" />
                            </label>
                        </div>
                        <div class="field-pair">
                            <label class="nocheck clearfix">
                                <span class="component-title">Site URL</span>
                                <input class="component-desc" type="text" id="newznab_url" size="40" />
                            </label>
                        </div>
                        <div class="field-pair">
                            <label class="nocheck clearfix">
                                <span class="component-title">API Key</span>
                                <input class="component-desc" type="text" id="newznab_key" size="40" />
                            </label>
                            <label class="nocheck clearfix">
                                <span class="component-title">&nbsp;</span>
                                <span class="component-desc">(if not required, type 0)</span>
                            </label>
                        </div>
            <div id="newznab_add_div">
                <input type="button" class="btn newznab_save" id="newznab_add" value="Add" />
            </div>
            <div id="newznab_update_div" style="display: none;">
            </div>
            </div> 
</div>

                    </fieldset>
#end if

                <div class="component-group-save">
                    <input type="submit" class="btn config_submitter" value="Save Changes" />
                </div><br />

            </div><!-- /config-components //-->

</form>
</div></div>

