#import sickbeard
#import os.path
#set global $title="Configuration"

#set global $sbPath=".."

<!--#set global $topmenu="config"#-->
#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_top.tmpl")

<div id="summary" class="align-left">
<b>SB Configfile:</b> $os.path.join($sickbeard.PROG_DIR, "config.ini")<br />
<b>Python Version:</b> $sys.version[:120] <br />
</div>

#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_bottom.tmpl")
