#import sickbeard
#set global $title="Config - Providers"
#set global $header="NZB Provider Configuration"

#set global $sbPath="../.."

<!--#set global $topmenu="config"#-->
#import os.path
#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_top.tmpl")

<style type="text/css">
#provider_order_list { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#provider_order_list li { margin: 0 5px 5px 5px; padding: 5px; font-size: 1.2em; height: 1.5em; }
html>body #provider_order_list li { height: 1.5em; line-height: 1.2em; }
.ui-state-highlight { height: 1.5em; line-height: 1.2em; }
</style>
<script type="text/javascript">
\$(function() {
    \$("#provider_order_list").sortable({
        placeholder: 'ui-state-highlight',
        update: function (event, ui) {
              \$("#provider_order").val(\$("#provider_order_list").sortable('toArray').join(" "));
        }
    });
    \$("#provider_order_list").disableSelection();
});
</script>

<form action="saveProviders" method="POST">

<div class="EntryBlock">
<fieldset class="EntryFieldSet">

<legend>Provider Priorities</legend>

Drag the providers into the order<br />
you want them to be searched<br />
<br />
<ul id="provider_order_list">
#for $curProvider in $sickbeard.providers.getAllModules():
    #if $curProvider.providerName == 'TVBinz' and not $sickbeard.SHOW_TVBINZ
        #continue
    #end if
    <li class="ui-state-default" id="$curProvider.providerName.lower()">$curProvider.providerName</li>
#end for
</ul>
<br />
<input type="hidden" name="provider_order" id="provider_order" value="<%=" ".join(sickbeard.PROVIDER_ORDER)%>">

</fieldset>
</div>


#if $sickbeard.SHOW_TVBINZ
<div class="EntryBlock">
<fieldset class="EntryFieldSet">

<legend>TVBinz</legend>

<input type="checkbox" name="tvbinz" #if $sickbeard.TVBINZ then "CHECKED" else ""#> <strong>Enable TVBinz</strong>
<a href="http://www.tvbinz.net" class="imgLink" target="_new"><img src="$sbRoot/images/providers/tvbinz.gif" alt="TVBinz" width="16" height="16"></a><br />
Check to search TVBinz for episodes<br />
<br />

<strong>Cookie UID:</strong><br />
TVBinz cookie UID<br />
<input type="text" name="tvbinz_uid" value="$sickbeard.TVBINZ_UID" size="6"><br />
<br />

<strong>SAB UID:</strong><br />
SAB UID (only required if sending NZBs directly to SAB)<br />
<input type="text" name="tvbinz_sabuid" value="$sickbeard.TVBINZ_SABUID" size="6"><br />
<br />

<strong>Hash:</strong><br />
TVBinz hash string<br />
<input type="text" name="tvbinz_hash" value="$sickbeard.TVBINZ_HASH" size="35"><br />
<br />

<strong>Auth:</strong><br />
TVBinz auth string<br />
<input type="text" name="tvbinz_auth" value="$sickbeard.TVBINZ_AUTH" size="35"><br />
<br />

</fieldset>
</div>
#end if

<div class="EntryBlock">
<fieldset class="EntryFieldSet">

<legend>NZBs.org</legend>

<input type="checkbox" name="nzbs" #if $sickbeard.NZBS then "CHECKED" else ""#> <strong>Enable NZBs.org</strong>
<a href="http://www.nzbs.org" class="imgLink" target="_new"><img src="$sbRoot/images/providers/nzbs.gif" alt="NZBs.org" width="16" height="16"></a><br />
Check to search NZBs.org for episodes<br />
<br />

<strong>UID:</strong><br />
NZBs.org UID<br />
<input type="text" name="nzbs_uid" value="$sickbeard.NZBS_UID" size="6"><br />
<br />

<strong>Hash:</strong><br />
NZBs.org hash<br />
<input type="text" name="nzbs_hash" value="$sickbeard.NZBS_HASH" size="35"><br />
<br />

</fieldset>
</div>



<div class="EntryBlock">
<fieldset class="EntryFieldSet">

<legend>NZBs'R'US</legend>

<input type="checkbox" name="nzbsrus" #if $sickbeard.NZBSRUS then "CHECKED" else ""#> <strong>Enable NZBs'R'US</strong>
<a href="http://www.nzbsrus.com" class="imgLink" target="_new"><img src="$sbRoot/images/providers/nzbsrus.gif" alt="NZBs'R'US" width="16" height="16"></a><br />
Check to search NZBsRus.com for episodes<br />
<br />

<strong>UID:</strong><br />
NZBs'R'US UID<br />
<input type="text" name="nzbsrus_uid" value="$sickbeard.NZBSRUS_UID" size="6"><br />
<br />

<strong>Hash:</strong><br />
NZBs'R'US hash<br />
<input type="text" name="nzbsrus_hash" value="$sickbeard.NZBSRUS_HASH" size="35"><br />
<br />

</fieldset>
</div>


<div class="EntryBlock">
<fieldset class="EntryFieldSet">

<legend>Bin-Req</legend>

<input type="checkbox" name="binreq" #if $sickbeard.BINREQ then "CHECKED" else ""#> <strong>Enable Bin-Req</strong>
<a href="http://www.bin-req.com" class="imgLink" target="_new"><img src="$sbRoot/images/providers/binreq.gif" alt="NZBs'R'US" width="16" height="16"></a><br />
Check to search NZBs.org for episodes<br />
<br />

</fieldset>
</div>



<div class="EntryBlock">
<fieldset class="EntryFieldSet">

<legend>NZBMatrix</legend>

<input type="checkbox" name="nzbmatrix" #if $sickbeard.NZBMATRIX then "CHECKED" else ""#> <strong>Enable NZBMatrix</strong>
<a href="http://www.nzbmatrix.com" class="imgLink" target="_new"><img src="$sbRoot/images/providers/nzbmatrix.gif" alt="NZBMatrix" width="16" height="16"></a><br />
Check to search NZBMatrix for episodes<br />
<br />

<strong>Username:</strong><br />
NZBMatrix username<br />
<input type="text" name="nzbmatrix_username" value="$sickbeard.NZBMATRIX_USERNAME" size="6"><br />
<br />

<strong>API Key:</strong><br />
NZBMatrix API Key<br />
<input type="text" name="nzbmatrix_apikey" value="$sickbeard.NZBMATRIX_APIKEY" size="35"><br />
<br />

</fieldset>
</div>



<p>
<input type="submit" value="Save Changes">
</p>
</form>


#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_bottom.tmpl")