#import sickbeard
#import os.path
#set global $title="Configuration"

#set global $sbPath=".."

<!--#set global $topmenu="config"#-->
#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_top.tmpl")

<p>
<b>Configfile:</b> $os.path.join($sickbeard.PROG_DIR, "config.ini")
</p>

#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_bottom.tmpl")
