#import sickbeard
#set global $title="Config - IRC"
<!--#set global $topmenu="config"#-->
<!--#set global $statpath="../.."#-->
<!--#set global $helpsubject="Configure+General"#-->
#include "data/interfaces/default/inc_top.tmpl"

<!--#set global $submenu="irc"#-->
#include "data/interfaces/default/inc_cmenu.tmpl"

<h2>IRC Configuration</h2>
<form action="saveIRC" method="POST">

<div class="EntryBlock"><p><strong>
    <em>NOTE:</em> IRC support is experimental!<br />
</strong></p>
<fieldset class="EntryFieldSet">

<legend>TVBinz IRC Monitor</legend>

#if $sickbeard.IRC_BOT == True:
#set $irc = "CHECKED"
#else
#set $irc = ""
#end if
<input type="checkbox" name="irc_bot" $irc> <strong>Enable IRC Bot:</strong><br />
If this is checked an IRC bot will join the specified<br />
channel on Sick Beard startup and watch for new NZBs<br />
<br />

<strong>IRC Server:</strong><br />
IRC server to connect to<br />
<input type="text" name="irc_server" value="$sickbeard.IRC_SERVER" size="10"><br />
<br />

<strong>Channel:</strong><br />
TVBinz channel<br />
<input type="text" name="irc_channel" value="$sickbeard.IRC_CHANNEL" size="10"><br />
<br />

<strong>Key:</strong><br />
Channel password<br />
<input type="text" name="irc_key" value="$sickbeard.IRC_KEY" size="10"><br />
<br />

<strong>Nick:</strong><br />
Name for your client<br />
<input type="text" name="irc_nick" value="$sickbeard.IRC_NICK" size="10"><br />
<br />

</fieldset>
</div>


<p>
<input type="submit" value="Save Changes">
</p>
</form>


#include "data/interfaces/default/inc_bottom.tmpl"