#import sickbeard

<!--#set global $topmenu="config"#-->
<!--#set global $statpath="../.."#-->
<!--#set global $helpsubject="Configure+General"#-->
#include "data/interfaces/default/inc_top.tmpl"

<!--#set global $submenu="nzbactions"#-->
#include "data/interfaces/default/inc_cmenu.tmpl"

<h2>General Configuration</h2>
<form action="saveNZBActions" method="POST">

All non-absolute folder locations are relative to $sickbeard.PROG_DIR<br /><br />


<div class="EntryBlock">
<fieldset class="EntryFieldSet">

<legend>SABnzbd</legend>

<strong>Username:</strong><br />
Your SABnzbd authentication username<br />
<input type="text" name="sab_username" value="$sickbeard.SAB_USERNAME" size="10"><br />
<br />

<strong>Password:</strong><br />
Your SABnzbd authentication password<br />
<input type="password" name="sab_password" value="$sickbeard.SAB_PASSWORD" size="10"><br />
<br />

<strong>API Key:</strong><br />
Your SABnzbd API key<br />
<input type="text" name="sab_apikey" value="$sickbeard.SAB_APIKEY" size="35"><br />
<br />

<strong>Category:</strong><br />
The category you want your downloads to go in (default is TV)<br />
<input type="text" name="sab_category" value="$sickbeard.SAB_CATEGORY" size="10"><br />
<br />

<strong>IP/port:</strong><br />
Address of your SABnzbd server (IP:port, eg. 192.168.1.100:8080)<br />
<input type="text" name="sab_host" value="$sickbeard.SAB_HOST" size="35"><br />
<br />

</fieldset>
</div>

<div class="EntryBlock">
<fieldset class="EntryFieldSet">

<legend>Blackhole</legend>

<strong>NZB Directory:</strong><br />
The directory where Sick Beard should store<br />
your NZB files<br />
<input type="text" name="nzb_dir" value="$sickbeard.NZB_DIR" size="35"><br />
<br />

</fieldset>
</div>


<p>
<input type="submit" value="Save Changes">
</p>
</form>


#include "data/interfaces/default/inc_bottom.tmpl"

