#import sickbeard
#set global $title="Config - Notifications"
#set global $header="Notifications"

#set global $sbPath="../.."

#set global $topmenu="config"#
#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_top.tmpl")

<script type="text/javascript" src="$sbRoot/js/configNotifications.js?$sbPID"></script>
<script type="text/javascript" src="$sbRoot/js/config.js?$sbPID"></script>

<div id="config">
    <div id="config-content">
        <form id="configForm" action="saveNotifications" method="post">
            <div id="config-components" class="notifier">


            <br />
            <h2>Home Theater / NAS</h2>
            <br />


                <div class="component-group clearfix">
                    <div class="component-group-desc">
                        <img class="notifier-icon" src="$sbRoot/images/notifiers/xbmc.png" alt="" title="XBMC" />
                        <h3><a href="http://xbmc.org/" rel="noreferrer" onclick="window.open('${sickbeard.ANON_REDIRECT}' + this.href, '_blank'); return false;">XBMC</a></h3>
                        <p>A free and open source cross-platform media center and home entertainment system software with a 10-foot user interface designed for the living-room TV.</p>
                        <p>For SickBeard to communicate with XBMC you must turn on the <a href="http://wiki.xbmc.org/index.php?title=Webserver" rel="noreferrer" onclick="window.open('${sickbeard.ANON_REDIRECT}' + this.href, '_blank'); return false;">XBMC Webserver</a>.</p>
                    </div>
                    <fieldset class="component-group-list">
                        <div class="field-pair">
                            <input type="checkbox" class="enabler" name="use_xbmc" id="use_xbmc" #if $sickbeard.USE_XBMC then "checked=\"checked\"" else ""# />
                            <label class="clearfix" for="use_xbmc">
                                <span class="component-title">Enable</span>
                                <span class="component-desc">Should Sick Beard send XBMC commands?</span>
                            </label>
                        </div>

                        <div id="content_use_xbmc">
                            <div class="field-pair">
                                <input type="checkbox" name="xbmc_always_on" id="xbmc_always_on" #if $sickbeard.XBMC_ALWAYS_ON then "checked=\"checked\"" else ""# />
                                <label class="clearfix" for="xbmc_always_on">
                                    <span class="component-title">Always On</span>
                                    <span class="component-desc">Log errors when unreachable?</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <input type="checkbox" name="xbmc_notify_onsnatch" id="xbmc_notify_onsnatch" #if $sickbeard.XBMC_NOTIFY_ONSNATCH then "checked=\"checked\"" else ""# />
                                <label class="clearfix" for="xbmc_notify_onsnatch">
                                    <span class="component-title">Notify on Snatch</span>
                                    <span class="component-desc">Send notification when we start a download?</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <input type="checkbox" name="xbmc_notify_ondownload" id="xbmc_notify_ondownload" #if $sickbeard.XBMC_NOTIFY_ONDOWNLOAD then "checked=\"checked\"" else ""# />
                                <label class="clearfix" for="xbmc_notify_ondownload">
                                    <span class="component-title">Notify on Download</span>
                                    <span class="component-desc">Send notification when we finish a download?</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <input type="checkbox" name="xbmc_update_library" id="xbmc_update_library" #if $sickbeard.XBMC_UPDATE_LIBRARY then "checked=\"checked\"" else ""# />
                                <label class="clearfix" for="xbmc_update_library">
                                    <span class="component-title">Update Library</span>
                                    <span class="component-desc">Update library (show's path) when we finish a download?</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <input type="checkbox" name="xbmc_update_full" id="xbmc_update_full" #if $sickbeard.XBMC_UPDATE_FULL then "checked=\"checked\"" else ""# />
                                <label class="clearfix" for="xbmc_update_full">
                                    <span class="component-title">Full Library Update</span>
                                    <span class="component-desc">Fall back to a full library update if per-show fails?</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <input type="checkbox" name="xbmc_update_onlyfirst" id="xbmc_update_onlyfirst" #if $sickbeard.XBMC_UPDATE_ONLYFIRST then "checked=\"checked\"" else ""# />
                                <label class="clearfix" for="xbmc_update_onlyfirst">
                                    <span class="component-title">Only Update First Host</span>
                                    <span class="component-desc">Only send library update to the first host?</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title">XBMC IP:Port</span>
                                    <input type="text" name="xbmc_host" id="xbmc_host" value="$sickbeard.XBMC_HOST" size="35" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Host running XBMC (eg. 192.168.1.100:8080)</span>
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">(multiple host strings must be separated by commas)</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title">XBMC Username</span>
                                    <input type="text" name="xbmc_username" id="xbmc_username" value="$sickbeard.XBMC_USERNAME" size="35" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Username of your XBMC server (blank for none)</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title">XBMC Password</span>
                                    <input type="password" name="xbmc_password" id="xbmc_password" value="$sickbeard.XBMC_PASSWORD" size="35" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Password of your XBMC server (blank for none)</span>
                                </label>
                            </div>
                            <div class="testNotification" id="testXBMC-result">Click below to test.</div>
                            <input type="button" class="btn" value="Test XBMC" id="testXBMC" />
                            <input type="submit" class="btn config_submitter" value="Save Changes" />
                        </div><!-- /content_use_xbmc //-->

                    </fieldset>
                </div><!-- /xbmc component-group //-->


                <div class="component-group clearfix">
                    <div class="component-group-desc">
                        <img class="notifier-icon" src="$sbRoot/images/notifiers/plex.png" alt="" title="Plex Media Server" />
                        <h3><a href="http://www.plexapp.com/" rel="noreferrer" onclick="window.open('${sickbeard.ANON_REDIRECT}' + this.href, '_blank'); return false;">Plex Media Server</a></h3>
                        <p>Experience your media on a visually stunning, easy to use interface on your Mac connected to your TV. Your media library has never looked this good!</p>
                        <p>For sending notifications to Plex Home Theater (PHT) clients, use the XBMC notifier with port <b>3005</b>.</p>
                    </div>
                    <fieldset class="component-group-list">
                        <div class="field-pair">
                            <input type="checkbox" class="enabler" name="use_plex" id="use_plex" #if $sickbeard.USE_PLEX then "checked=\"checked\"" else ""# />
                            <label class="clearfix" for="use_plex">
                                <span class="component-title">Enable</span>
                                <span class="component-desc">Should Sick Beard send Plex commands?</span>
                            </label>
                        </div>

                        <div id="content_use_plex">
                            <div class="field-pair">
                                <input type="checkbox" name="plex_notify_onsnatch" id="plex_notify_onsnatch" #if $sickbeard.PLEX_NOTIFY_ONSNATCH then "checked=\"checked\"" else ""# />
                                <label class="clearfix" for="plex_notify_onsnatch">
                                    <span class="component-title">Notify on Snatch</span>
                                    <span class="component-desc">Send notification when we start a download?</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <input type="checkbox" name="plex_notify_ondownload" id="plex_notify_ondownload" #if $sickbeard.PLEX_NOTIFY_ONDOWNLOAD then "checked=\"checked\"" else ""# />
                                <label class="clearfix" for="plex_notify_ondownload">
                                    <span class="component-title">Notify on Download</span>
                                    <span class="component-desc">Send notification when we finish a download?</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <input type="checkbox" name="plex_update_library" id="plex_update_library" #if $sickbeard.PLEX_UPDATE_LIBRARY then "checked=\"checked\"" else ""# />
                                <label class="clearfix" for="plex_update_library">
                                    <span class="component-title">Update Library</span>
                                    <span class="component-desc">Update Plex Media Server library when we finish a download?</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title">Plex Media Server IP:Port</span>
                                    <input type="text" name="plex_server_host" id="plex_server_host" value="$sickbeard.PLEX_SERVER_HOST" size="35" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Host running Plex Media Server (eg. 192.168.1.100:32400)</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title">Plex Media Center IP:Port</span>
                                    <input type="text" name="plex_host" id="plex_host" value="$sickbeard.PLEX_HOST" size="35" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Host running Plex Media Center (eg. 192.168.1.100:3000)</span>
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">(multiple host strings must be separated by commas)</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title">PMC Client Username</span>
                                    <input type="text" name="plex_username" id="plex_username" value="$sickbeard.PLEX_USERNAME" size="35" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Username of your PMC client (blank for none)</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title">PMC Client Password</span>
                                    <input type="password" name="plex_password" id="plex_password" value="$sickbeard.PLEX_PASSWORD" size="35" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Password of your PMC client (blank for none)</span>
                                </label>
                            </div>
                            <div class="testNotification" id="testPLEX-result">Click below to test.</div>
                            <input type="button" class="btn" value="Test PMC Clients" id="testPLEX" />
                            <input type="submit" class="btn config_submitter" value="Save Changes" />
                        </div><!-- /content_use_plex -->

                    </fieldset>
                </div><!-- /plex component-group -->


                <div class="component-group clearfix">
                    <div class="component-group-desc">
                        <img class="notifier-icon" src="$sbRoot/images/notifiers/nmj.png" alt="" title="Networked Media Jukebox" />
                        <h3><a href="http://www.popcornhour.com/" rel="noreferrer" onclick="window.open('${sickbeard.ANON_REDIRECT}' + this.href, '_blank'); return false;">NMJ</a></h3>
                        <p>The Networked Media Jukebox, or NMJ, is the official media jukebox interface made available for the Popcorn Hour 200-series.</p>
                    </div>
                    <fieldset class="component-group-list">
                        <div class="field-pair">
                            <input type="checkbox" class="enabler" name="use_nmj" id="use_nmj" #if $sickbeard.USE_NMJ then "checked=\"checked\"" else ""# />
                            <label class="clearfix" for="use_nmj">
                                <span class="component-title">Enable</span>
                                <span class="component-desc">Should Sick Beard send update commands to NMJ?</span>
                            </label>
                        </div>

                        <div id="content_use_nmj">
                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title">Popcorn IP address</span>
                                    <input type="text" name="nmj_host" id="nmj_host" value="$sickbeard.NMJ_HOST" size="35" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">IP of Popcorn 200-series (eg. 192.168.1.100)</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title">Get Settings</span>
                                    <input type="button" class="btn" value="Get Settings" id="settingsNMJ" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">The Popcorn Hour device must be powered on and NMJ running.</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title">NMJ Database</span>
                                    <input type="text" name="nmj_database" id="nmj_database" value="$sickbeard.NMJ_DATABASE" size="35" #if $sickbeard.NMJ_DATABASE then "readonly=\"readonly\"" else ""# />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Automatically filled via the 'Get Settings' button.</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title">NMJ Mount URL</span>
                                    <input type="text" name="nmj_mount" id="nmj_mount" value="$sickbeard.NMJ_MOUNT" size="35" #if $sickbeard.NMJ_MOUNT then "readonly=\"readonly\"" else ""# />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Automatically filled via the 'Get Settings' button.</span>
                                </label>
                            </div>
                            <div class="testNotification" id="testNMJ-result">Click below to test.</div>
                            <input type="button" class="btn" value="Test NMJ" id="testNMJ" />
                            <input type="submit" class="btn config_submitter" value="Save Changes" />
                        </div><!-- /content_use_nmj //-->

                    </fieldset>
                </div><!-- /nmj component-group //-->

                <div class="component-group clearfix">
                    <div class="component-group-desc">
                        <img class="notifier-icon" src="$sbRoot/images/notifiers/nmj.png" alt="" title="Networked Media Jukebox V2" />
                        <h3><a href="http://www.popcornhour.com/" rel="noreferrer" onclick="window.open('${sickbeard.ANON_REDIRECT}' + this.href, '_blank'); return false;">NMJv2</a></h3>
                        <p>The Networked Media Jukebox, or NMJv2, is the official media jukebox interface made available for the Popcorn Hour 300 &amp; 400-series.</p>
                    </div>
                    <fieldset class="component-group-list">
                        <div class="field-pair">
                            <input type="checkbox" class="enabler" name="use_nmjv2" id="use_nmjv2" #if $sickbeard.USE_NMJv2 then "checked=\"checked\"" else ""# />
                            <label class="clearfix" for="use_nmjv2">
                                <span class="component-title">Enable</span>
                                <span class="component-desc">Should Sick Beard send update commands to NMJv2?</span>
                            </label>
                        </div>

                        <div id="content_use_nmjv2">
                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title">Popcorn IP address</span>
                                    <input type="text" name="nmjv2_host" id="nmjv2_host" value="$sickbeard.NMJv2_HOST" size="35" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">IP of Popcorn 300/400-series (eg. 192.168.1.100)</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title">Database Location</span>
                                    <span class="component-desc">
                                        <input type="radio" name="nmjv2_dbloc" value="local" class="radio" id="nmjv2_dbloc_a" #if $sickbeard.NMJv2_DBLOC=="local" then "checked=\"checked\"" else ""# />PCH Local Media<br />
                                    </span>
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">
                                        <input type="radio" name="nmjv2_dbloc" value="network" class="radio" id="nmjv2_dbloc_b" #if $sickbeard.NMJv2_DBLOC=="network" then "checked=\"checked\"" else ""# />PCH Network Media<br />
                                    </span>
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">Database Instance</span>
                                    <span class="component-desc">
                                        <select id="NMJv2db_instance">
                                            <option value="0">#1 </option>
                                            <option value="1">#2 </option>
                                            <option value="2">#3 </option>
                                            <option value="3">#4 </option>
                                            <option value="4">#5 </option>
                                            <option value="5">#6 </option>
                                            <option value="6">#7 </option>
                                        </select>
                                    </span>
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Adjust this value if the wrong database is selected.</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title">Find Database</span>
                                    <input type="button" class="btn" value="Find Database" id="settingsNMJv2" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">The Popcorn Hour device must be powered on.</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                <span class="component-title">NMJv2 Database</span>
                                <input type="text" name="nmjv2_database" id="nmjv2_database" value="$sickbeard.NMJv2_DATABASE" size="35" #if $sickbeard.NMJv2_DATABASE then "readonly=\"readonly\"" else ""# /></label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Automatically filled via the 'Find Database' buttons.</span>
                                </label>
                            </div>
                        <div class="testNotification" id="testNMJv2-result">Click below to test.</div>
                        <input type="button" class="btn" value="Test NMJv2" id="testNMJv2" />
                        <input type="submit" class="btn config_submitter" value="Save Changes" />
                        </div><!-- /content_use_nmjv2 //-->

                    </fieldset>
                </div><!-- /nmjv2 component-group //-->


                <div class="component-group clearfix">
                    <div class="component-group-desc">
                        <img class="notifier-icon" src="$sbRoot/images/notifiers/synoindex.png" alt="" title="Synology" />
                        <h3><a href="http://synology.com/" rel="noreferrer" onclick="window.open('${sickbeard.ANON_REDIRECT}' + this.href, '_blank'); return false;">Synology</a></h3>
                        <p>The Synology DiskStation NAS.</p>
                        <p>Synology Indexer is the daemon running on the Synology NAS to build its media database.</p>
                        <p>Synology Notifier is the notification system of Synology DSM.</p>
                    </div>
                    <fieldset class="component-group-list">
                        <div class="field-pair">
                            <input type="checkbox" class="enabler" name="use_synoindex" id="use_synoindex" #if $sickbeard.USE_SYNOINDEX then "checked=\"checked\"" else ""# />
                            <label class="clearfix" for="use_synoindex">
                                <span class="component-title">Enable</span>
                                <span class="component-desc">Should Sick Beard send Synology commands?<br /><br />
                                </span>
                            </label>
                            <label class="nocheck clearfix" for="use_synoindex">
                                <span class="component-title">&nbsp;</span>
                                <span class="component-desc"><b>Note:</b> Requires SB to be running on your Synology NAS.</span>
                            </label>
                        </div>

                        <div id="content_use_synoindex">
                            <div class="field-pair">
                                <input type="checkbox" name="synoindex_notify_onsnatch" id="synoindex_notify_onsnatch" #if $sickbeard.SYNOINDEX_NOTIFY_ONSNATCH then "checked=\"checked\"" else ""# />
                                <label class="clearfix" for="synoindex_notify_onsnatch">
                                    <span class="component-title">Notify on Snatch</span>
                                    <span class="component-desc">Send notification when we start a download?</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <input type="checkbox" name="synoindex_notify_ondownload" id="synoindex_notify_ondownload" #if $sickbeard.SYNOINDEX_NOTIFY_ONDOWNLOAD then "checked=\"checked\"" else ""# />
                                <label class="clearfix" for="synoindex_notify_ondownload">
                                    <span class="component-title">Notify on Download</span>
                                    <span class="component-desc">Send notification when we finish a download?</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <input type="checkbox" name="synoindex_update_library" id="synoindex_update_library" #if $sickbeard.SYNOINDEX_UPDATE_LIBRARY then "checked=\"checked\"" else ""# />
                                <label class="clearfix" for="synoindex_update_library">
                                    <span class="component-title">Update Library</span>
                                    <span class="component-desc">Update Synology library when we finish a download?</span>
                                </label>
                            </div>
                            <div class="testNotification" id="testSynoNotify-result">Click below to test.</div>
                            <input type="button" class="btn" value="Test Notice (SynoDSMnotify)" id="testSynoNotify" />
                            <input type="submit" class="btn config_submitter" value="Save Changes" />
                        </div><!-- /content_use_synoindex //-->

                    </fieldset>
                </div><!-- /synoindex component-group //-->


                <div class="component-group clearfix">
                    <div class="component-group-desc">
                        <img class="notifier-icon" src="$sbRoot/images/notifiers/pytivo.png" alt="" title="pyTivo" />
                        <h3><a href="http://pytivo.sourceforge.net/wiki/index.php/PyTivo" rel="noreferrer" onclick="window.open('${sickbeard.ANON_REDIRECT}' + this.href, '_blank'); return false;">pyTivo</a></h3>
                        <p>pyTivo is both an HMO and GoBack server. This notifier will load the completed downloads to your Tivo.</p>
                    </div>
                    <fieldset class="component-group-list">
                        <div class="field-pair">
                            <input type="checkbox" class="enabler" name="use_pytivo" id="use_pytivo" #if $sickbeard.USE_PYTIVO then "checked=\"checked\"" else ""# />
                            <label class="clearfix" for="use_pytivo">
                                <span class="component-title">Enable</span>
                                <span class="component-desc">Should Sick Beard update commands to pyTivo?<br /><br /></span>
                            </label>
                            <label class="nocheck clearfix" for="use_pytivo">
                                <span class="component-title">&nbsp;</span>
                                <span class="component-desc">Requires the downloaded files to be accessible to pyTivo.</span>
                            </label>
                        </div>

                        <div id="content_use_pytivo">
                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title">pyTivo IP:Port</span>
                                    <input type="text" name="pytivo_host" id="pytivo_host" value="$sickbeard.PYTIVO_HOST" size="35" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Host running pyTivo (eg. 192.168.1.1:9032)</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title">pyTivo Share Name</span>
                                    <input type="text" name="pytivo_share_name" id="pytivo_share_name" value="$sickbeard.PYTIVO_SHARE_NAME" size="35" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Value used in pyTivo Web Configuration to name the share.</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title">Tivo Name</span>
                                    <input type="text" name="pytivo_tivo_name" id="pytivo_tivo_name" value="$sickbeard.PYTIVO_TIVO_NAME" size="35" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Messages &amp; Settings > Account &amp; System Information > System Information > DVR name</span>
                                </label>
                            </div>
                            <input type="submit" class="btn config_submitter" value="Save Changes" />
                        </div><!-- /content_use_pytivo //-->

                    </fieldset>
                </div><!-- /component-group //-->

                <div class="component-group-save">
                    <input type="submit" class="btn config_submitter" value="Save Changes" />
                </div><br />

                <br />
                <h2>Devices</h2>
                <br />


                <div class="component-group clearfix">
                    <div class="component-group-desc">
                        <img class="notifier-icon" src="$sbRoot/images/notifiers/growl.png" alt="" title="Growl" />
                        <h3><a href="http://growl.info/" rel="noreferrer" onclick="window.open('${sickbeard.ANON_REDIRECT}' + this.href, '_blank'); return false;">Growl</a></h3>
                        <p>A cross-platform unobtrusive global notification system.</p>
                        <p>For more information visit our <a href="https://github.com/midgetspy/Sick-Beard/wiki/Notifiers:-Growl" rel="noreferrer" onclick="window.open('${sickbeard.ANON_REDIRECT}' + this.href, '_blank'); return false;">Wiki</a>.</p>
                    </div>
                    <fieldset class="component-group-list">
                        <div class="field-pair">
                            <input type="checkbox" class="enabler" name="use_growl" id="use_growl" #if $sickbeard.USE_GROWL then "checked=\"checked\"" else ""# />
                            <label class="clearfix" for="use_growl">
                                <span class="component-title">Enable</span>
                                <span class="component-desc">Should Sick Beard send Growl notifications?</span>
                            </label>
                        </div>

                        <div id="content_use_growl">
                            <div class="field-pair">
                                <input type="checkbox" name="growl_notify_onsnatch" id="growl_notify_onsnatch" #if $sickbeard.GROWL_NOTIFY_ONSNATCH then "checked=\"checked\"" else ""# />
                                <label class="clearfix" for="growl_notify_onsnatch">
                                    <span class="component-title">Notify on Snatch</span>
                                    <span class="component-desc">Send notification when we start a download?</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <input type="checkbox" name="growl_notify_ondownload" id="growl_notify_ondownload" #if $sickbeard.GROWL_NOTIFY_ONDOWNLOAD then "checked=\"checked\"" else ""# />
                                <label class="clearfix" for="growl_notify_ondownload">
                                    <span class="component-title">Notify on Download</span>
                                    <span class="component-desc">Send notification when we finish a download?</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title">Growl IP:Port</span>
                                    <input type="text" name="growl_host" id="growl_host" value="$sickbeard.GROWL_HOST" size="35" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Host running Growl (eg. 192.168.1.100:23053)</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title">Growl Password</span>
                                    <input type="password" name="growl_password" id="growl_password" value="$sickbeard.GROWL_PASSWORD" size="35" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">May leave blank if Sick Beard is on the same host.</span>
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Otherwise Growl <b>requires</b> a password to be used.</span>
                                </label>
                            </div>
                            <div class="testNotification" id="testGrowl-result">Click below to register and test Growl, this is required for Growl notifications to work.</div>
                            <input type="button" class="btn" value="Register Growl" id="testGrowl" />
                            <input type="submit" class="btn config_submitter" value="Save Changes" />
                        </div><!-- /content_use_growl //-->

                    </fieldset>
                </div><!-- /growl component-group //-->


                <div class="component-group clearfix">
                    <div class="component-group-desc">
                        <img class="notifier-icon" src="$sbRoot/images/notifiers/prowl.png" alt="Prowl" title="Prowl" />
                        <h3><a href="http://www.prowlapp.com/" rel="noreferrer" onclick="window.open('${sickbeard.ANON_REDIRECT}' + this.href, '_blank'); return false;">Prowl</a></h3>
                        <p>A Growl client for iOS.</p>
                    </div>
                    <fieldset class="component-group-list">
                        <div class="field-pair">
                            <input type="checkbox" class="enabler" name="use_prowl" id="use_prowl" #if $sickbeard.USE_PROWL then "checked=\"checked\"" else ""# />
                            <label class="clearfix" for="use_prowl">
                                <span class="component-title">Enable</span>
                                <span class="component-desc">Should Sick Beard send Prowl notifications?</span>
                            </label>
                        </div>

                        <div id="content_use_prowl">
                            <div class="field-pair">
                                <input type="checkbox" name="prowl_notify_onsnatch" id="prowl_notify_onsnatch" #if $sickbeard.PROWL_NOTIFY_ONSNATCH then "checked=\"checked\"" else ""# />
                                <label class="clearfix" for="prowl_notify_onsnatch">
                                    <span class="component-title">Notify on Snatch</span>
                                    <span class="component-desc">Send notification when we start a download?</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <input type="checkbox" name="prowl_notify_ondownload" id="prowl_notify_ondownload" #if $sickbeard.PROWL_NOTIFY_ONDOWNLOAD then "checked=\"checked\"" else ""# />
                                <label class="clearfix" for="prowl_notify_ondownload">
                                    <span class="component-title">Notify on Download</span>
                                    <span class="component-desc">Send notification when we finish a download?</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title">Prowl API Key:</span>
                                    <input type="text" name="prowl_api" id="prowl_api" value="$sickbeard.PROWL_API" size="35" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Get your key at: <a href="https://www.prowlapp.com/api_settings.php" rel="noreferrer" onclick="window.open('${sickbeard.ANON_REDIRECT}' + this.href, '_blank'); return false;">https://prowlapp.com/api_settings.php</a></span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title">Prowl Priority:</span>
                                   <select id="prowl_priority" name="prowl_priority">
                                        <option value="-2" #if $sickbeard.PROWL_PRIORITY == "-2" then 'selected="selected"' else ""#>Very Low</option>
                                        <option value="-1" #if $sickbeard.PROWL_PRIORITY == "-1" then 'selected="selected"' else ""#>Moderate</option>
                                        <option value="0" #if $sickbeard.PROWL_PRIORITY == "0" then 'selected="selected"' else ""#>Normal</option>
                                        <option value="1" #if $sickbeard.PROWL_PRIORITY == "1" then 'selected="selected"' else ""#>High</option>
                                        <option value="2" #if $sickbeard.PROWL_PRIORITY == "2" then 'selected="selected"' else ""#>Emergency</option>
                                    </select>
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Priority of Prowl messages from Sick-Beard.</span>
                                </label>
                            </div>
                            <div class="testNotification" id="testProwl-result">Click below to test.</div>
                            <input type="button" class="btn" value="Test Prowl" id="testProwl" />
                            <input type="submit" class="btn config_submitter" value="Save Changes" />
                        </div><!-- /content_use_prowl //-->

                    </fieldset>
                </div><!-- /prowl component-group //-->


                <div class="component-group clearfix">
                    <div class="component-group-desc">
                        <img class="notifier-icon" src="$sbRoot/images/notifiers/libnotify.png" alt="" title="Libnotify" />
                        <h3><a href="http://library.gnome.org/devel/libnotify/" rel="noreferrer" onclick="window.open('${sickbeard.ANON_REDIRECT}' + this.href, '_blank'); return false;">Libnotify</a></h3>
                        <p>The standard desktop notification API for Linux/*nix systems.  This notifier will only function if the pynotify module is installed (Ubuntu/Debian package <a href="apt:python-notify">python-notify</a>).</p>
                    </div>
                    <fieldset class="component-group-list">
                        <div class="field-pair">
                            <input type="checkbox" class="enabler" name="use_libnotify" id="use_libnotify" #if $sickbeard.USE_LIBNOTIFY then "checked=\"checked\"" else ""# />
                            <label class="clearfix" for="use_libnotify">
                                <span class="component-title">Enable</span>
                                <span class="component-desc">Should Sick Beard send Libnotify notifications?</span>
                            </label>
                        </div>

                        <div id="content_use_libnotify">
                            <div class="field-pair">
                                <input type="checkbox" name="libnotify_notify_onsnatch" id="libnotify_notify_onsnatch" #if $sickbeard.LIBNOTIFY_NOTIFY_ONSNATCH then "checked=\"checked\"" else ""# />
                                <label class="clearfix" for="libnotify_notify_onsnatch">
                                    <span class="component-title">Notify on Snatch</span>
                                    <span class="component-desc">Send notification when we start a download?</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <input type="checkbox" name="libnotify_notify_ondownload" id="libnotify_notify_ondownload" #if $sickbeard.LIBNOTIFY_NOTIFY_ONDOWNLOAD then "checked=\"checked\"" else ""# />
                                <label class="clearfix" for="libnotify_notify_ondownload">
                                    <span class="component-title">Notify on Download</span>
                                    <span class="component-desc">Send notification when we finish a download?</span>
                                </label>
                            </div>
                            <div class="testNotification" id="testLibnotify-result">Click below to test.</div>
                            <input type="button" class="btn" value="Test Libnotify" id="testLibnotify" />
                            <input type="submit" class="btn config_submitter" value="Save Changes" />
                        </div><!-- /content_use_libnotify //-->

                    </fieldset>
                </div><!-- /libnotify component-group //-->


                <div class="component-group clearfix">
                    <div class="component-group-desc">
                        <img class="notifier-icon" src="$sbRoot/images/notifiers/pushover.png" alt="" title="Pushover" />
                        <h3><a href="http://pushover.net/" rel="noreferrer" onclick="window.open('${sickbeard.ANON_REDIRECT}' + this.href, '_blank'); return false;">Pushover</a></h3>
                        <p>Pushover makes it easy to send real-time notifications to your Android and iOS devices.</p>
                    </div>
                    <fieldset class="component-group-list">
                        <div class="field-pair">
                            <input type="checkbox" class="enabler" name="use_pushover" id="use_pushover" #if $sickbeard.USE_PUSHOVER then "checked=\"checked\"" else ""# />
                            <label class="clearfix" for="use_pushover">
                                <span class="component-title">Enable</span>
                                <span class="component-desc">Should Sick Beard send Pushover notifications?</span>
                            </label>
                        </div>

                        <div id="content_use_pushover">
                            <div class="field-pair">
                                <input type="checkbox" name="pushover_notify_onsnatch" id="pushover_notify_onsnatch" #if $sickbeard.PUSHOVER_NOTIFY_ONSNATCH then "checked=\"checked\"" else ""# />
                                <label class="clearfix" for="pushover_notify_onsnatch">
                                    <span class="component-title">Notify on Snatch</span>
                                    <span class="component-desc">Send notification when we start a download?</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <input type="checkbox" name="pushover_notify_ondownload" id="pushover_notify_ondownload" #if $sickbeard.PUSHOVER_NOTIFY_ONDOWNLOAD then "checked=\"checked\"" else ""# />
                                <label class="clearfix" for="pushover_notify_ondownload">
                                    <span class="component-title">Notify on Download</span>
                                    <span class="component-desc">Send notification when we finish a download?</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title">Pushover User Key</span>
                                    <input type="text" name="pushover_userkey" id="pushover_userkey" value="$sickbeard.PUSHOVER_USERKEY" size="35" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">User key of your Pushover account</span>
                                </label>
                            </div>
                            <div class="testNotification" id="testPushover-result">Click below to test.</div>
                            <input type="button" class="btn" value="Test Pushover" id="testPushover" />
                            <input type="submit" class="btn config_submitter" value="Save Changes" />
                        </div><!-- /content_use_pushover //-->

                    </fieldset>
                </div><!-- /pushover component-group //-->

                <div class="component-group clearfix">
                    <div class="component-group-desc">
                        <img class="notifier-icon" src="$sbRoot/images/notifiers/boxcar.png" alt="" title="Boxcar" />
                        <h3><a href="http://boxcar.io/" rel="noreferrer" onclick="window.open('${sickbeard.ANON_REDIRECT}' + this.href, '_blank'); return false;">Boxcar</a></h3>
                        <p>Universal push notification for iOS. Read your messages where and when you want them! A subscription will be sent if needed.</p>
                    </div>
                    <fieldset class="component-group-list">
                        <div class="field-pair">
                            <input type="checkbox" class="enabler" name="use_boxcar" id="use_boxcar" #if $sickbeard.USE_BOXCAR then "checked=\"checked\"" else ""# />
                            <label class="clearfix" for="use_boxcar">
                                <span class="component-title">Enable</span>
                                <span class="component-desc">Should Sick Beard send Boxcar notifications?</span>
                            </label>
                        </div>

                        <div id="content_use_boxcar">
                            <div class="field-pair">
                                <input type="checkbox" name="boxcar_notify_onsnatch" id="boxcar_notify_onsnatch" #if $sickbeard.BOXCAR_NOTIFY_ONSNATCH then "checked=\"checked\"" else ""# />
                                <label class="clearfix" for="boxcar_notify_onsnatch">
                                    <span class="component-title">Notify on Snatch</span>
                                    <span class="component-desc">Send notification when we start a download?</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <input type="checkbox" name="boxcar_notify_ondownload" id="boxcar_notify_ondownload" #if $sickbeard.BOXCAR_NOTIFY_ONDOWNLOAD then "checked=\"checked\"" else ""# />
                                <label class="clearfix" for="boxcar_notify_ondownload">
                                    <span class="component-title">Notify on Download</span>
                                    <span class="component-desc">Send notification when we finish a download?</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title">Boxcar Username</span>
                                    <input type="text" name="boxcar_username" id="boxcar_username" value="$sickbeard.BOXCAR_USERNAME" size="35" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Username of your Boxcar account</span>
                                </label>
                            </div>
                            <div class="testNotification" id="testBoxcar-result">Click below to test.</div>
                            <input type="button" class="btn" value="Test Boxcar" id="testBoxcar" />
                            <input type="submit" class="btn config_submitter" value="Save Changes" />
                        </div><!-- /content_use_boxcar //-->

                    </fieldset>
                </div><!-- /boxcar component-group //-->

                <div class="component-group clearfix">
                    <div class="component-group-desc">
                        <img class="notifier-icon" src="$sbRoot/images/notifiers/boxcar2.png" alt="" title="Boxcar2" />
                        <h3><a href="http://boxcar.io/" rel="noreferrer" onclick="window.open('${sickbeard.ANON_REDIRECT}' + this.href, '_blank'); return false;">Boxcar2</a></h3>
                        <p>Personalized Push and Alerts Inbox for your iPhone that lets you manage and live news in real-time.</p>
                    </div>
                    <fieldset class="component-group-list">
                        <div class="field-pair">
                            <input type="checkbox" class="enabler" name="use_boxcar2" id="use_boxcar2" #if $sickbeard.USE_BOXCAR2 then "checked=\"checked\"" else ""# />
                            <label class="clearfix" for="use_boxcar2">
                                <span class="component-title">Enable</span>
                                <span class="component-desc">Should Sick Beard send Boxcar2 notifications?</span>
                            </label>
                        </div>

                        <div id="content_use_boxcar2">
                            <div class="field-pair">
                                <input type="checkbox" name="boxcar2_notify_onsnatch" id="boxcar2_notify_onsnatch" #if $sickbeard.BOXCAR2_NOTIFY_ONSNATCH then "checked=\"checked\"" else ""# />
                                <label class="clearfix" for="boxcar2_notify_onsnatch">
                                    <span class="component-title">Notify on Snatch</span>
                                    <span class="component-desc">Send notification when we start a download?</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <input type="checkbox" name="boxcar2_notify_ondownload" id="boxcar2_notify_ondownload" #if $sickbeard.BOXCAR2_NOTIFY_ONDOWNLOAD then "checked=\"checked\"" else ""# />
                                <label class="clearfix" for="boxcar2_notify_ondownload">
                                    <span class="component-title">Notify on Download</span>
                                    <span class="component-desc">Send notification when we finish a download?</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title">Custom Sound</span>
                                    <select id="boxcar2_sound" name="boxcar2_sound">
                                        <option value="default" #if $sickbeard.BOXCAR2_SOUND == "default" then 'selected="selected"' else ""#>Default (General)</option>
                                        <option value="no-sound" #if $sickbeard.BOXCAR2_SOUND == "no-sound" then 'selected="selected"' else ""#>Silent</option>
                                        <option value="beep-crisp" #if $sickbeard.BOXCAR2_SOUND == "beep-crisp" then 'selected="selected"' else ""#>Beep Crisp</option>
                                        <option value="beep-soft" #if $sickbeard.BOXCAR2_SOUND == "beep-soft" then 'selected="selected"' else ""#>Beep Soft</option>
                                        <option value="bell-modern" #if $sickbeard.BOXCAR2_SOUND == "bell-modern" then 'selected="selected"' else ""#>Bell Modern</option>
                                        <option value="bell-one-tone" #if $sickbeard.BOXCAR2_SOUND == "bell-one-tone" then 'selected="selected"' else ""#>Bell One Tone</option>
                                        <option value="bell-simple" #if $sickbeard.BOXCAR2_SOUND == "bell-simple" then 'selected="selected"' else ""#>Bell Simple</option>
                                        <option value="bell-triple" #if $sickbeard.BOXCAR2_SOUND == "bell-triple" then 'selected="selected"' else ""#>Bell Triple</option>
                                        <option value="bird-1" #if $sickbeard.BOXCAR2_SOUND == "bird-1" then 'selected="selected"' else ""#>Bird 1</option>
                                        <option value="bird-2" #if $sickbeard.BOXCAR2_SOUND == "bird-2" then 'selected="selected"' else ""#>Bird 2</option>
                                        <option value="boing" #if $sickbeard.BOXCAR2_SOUND == "boing" then 'selected="selected"' else ""#>Boing</option>
                                        <option value="cash" #if $sickbeard.BOXCAR2_SOUND == "cash" then 'selected="selected"' else ""#>Cash</option>
                                        <option value="clanging" #if $sickbeard.BOXCAR2_SOUND == "clanging" then 'selected="selected"' else ""#>Clanging</option>
                                        <option value="detonator-charge" #if $sickbeard.BOXCAR2_SOUND == "detonator-charge" then 'selected="selected"' else ""#>Detonator Charge</option>
                                        <option value="digital-alarm" #if $sickbeard.BOXCAR2_SOUND == "digital-alarm" then 'selected="selected"' else ""#>Digital Alarm</option>
                                        <option value="done" #if $sickbeard.BOXCAR2_SOUND == "done" then 'selected="selected"' else ""#>Done</option>
                                        <option value="echo" #if $sickbeard.BOXCAR2_SOUND == "echo" then 'selected="selected"' else ""#>Echo</option>
                                        <option value="flourish" #if $sickbeard.BOXCAR2_SOUND == "flourish" then 'selected="selected"' else ""#>Flourish</option>
                                        <option value="harp" #if $sickbeard.BOXCAR2_SOUND == "harp" then 'selected="selected"' else ""#>Harp</option>
                                        <option value="light" #if $sickbeard.BOXCAR2_SOUND == "light" then 'selected="selected"' else ""#>Light</option>
                                        <option value="magic-chime" #if $sickbeard.BOXCAR2_SOUND == "magic-chime" then 'selected="selected"' else ""#>Magic Chime</option>
                                        <option value="magic-coin" #if $sickbeard.BOXCAR2_SOUND == "magic-coin" then 'selected="selected"' else ""#>Magic Coin 1</option>
                                        <option value="notifier-1" #if $sickbeard.BOXCAR2_SOUND == "notifier-1" then 'selected="selected"' else ""#>Notifier 1</option>
                                        <option value="notifier-2" #if $sickbeard.BOXCAR2_SOUND == "notifier-2" then 'selected="selected"' else ""#>Notifier 2</option>
                                        <option value="notifier-3" #if $sickbeard.BOXCAR2_SOUND == "notifier-3" then 'selected="selected"' else ""#>Notifier 3</option>
                                        <option value="orchestral-long" #if $sickbeard.BOXCAR2_SOUND == "orchestral-long" then 'selected="selected"' else ""#>Orchestral Long</option>
                                        <option value="orchestral-short" #if $sickbeard.BOXCAR2_SOUND == "orchestral-short" then 'selected="selected"' else ""#>Orchestral Short</option>
                                        <option value="score" #if $sickbeard.BOXCAR2_SOUND == "score" then 'selected="selected"' else ""#>Score</option>
                                        <option value="success" #if $sickbeard.BOXCAR2_SOUND == "success" then 'selected="selected"' else ""#>Success</option>
                                        <option value="up" #if $sickbeard.BOXCAR2_SOUND == "up" then 'selected="selected"' else ""#>Up</option>
                                    </select>
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Override the default sound selected for the General notification.</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title">Boxcar2 Access Token</span>
                                    <input type="text" name="boxcar2_access_token" id="boxcar2_access_token" value="$sickbeard.BOXCAR2_ACCESS_TOKEN" size="35" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Access Token of your Boxcar2 account</span>
                                </label>
                            </div>
                            <div class="testNotification" id="testBoxcar2-result">Click below to test.</div>
                            <input type="button" class="btn" value="Test Boxcar2" id="testBoxcar2" />
                            <input type="submit" class="btn config_submitter" value="Save Changes" />
                        </div><!-- /content_use_boxcar2 //-->

                    </fieldset>
                </div><!-- /boxcar2 component-group //-->

                <div class="component-group clearfix">
                    <div class="component-group-desc">
                        <img class="notifier-icon" src="$sbRoot/images/notifiers/nma.png" alt="" title="NMA" />
                        <h3><a href="http://nma.usk.bz" rel="noreferrer" onclick="window.open('${sickbeard.ANON_REDIRECT}' + this.href, '_blank'); return false;">Notify My Android</a></h3>
                        <p>Notify My Android is a Prowl-like Android App and API that offers an easy way to send notifications from your application directly to your Android device.</p>
                    </div>
                    <fieldset class="component-group-list">
                        <div class="field-pair">
                            <input type="checkbox" class="enabler" name="use_nma" id="use_nma" #if $sickbeard.USE_NMA then "checked=\"checked\"" else ""# />
                            <label class="clearfix" for="use_nma">
                                <span class="component-title">Enable</span>
                                <span class="component-desc">Should Sick Beard send NMA notifications?</span>
                            </label>
                        </div>

                        <div id="content_use_nma">
                            <div class="field-pair">
                                <input type="checkbox" name="nma_notify_onsnatch" id="nma_notify_onsnatch" #if $sickbeard.NMA_NOTIFY_ONSNATCH then "checked=\"checked\"" else ""# />
                                <label class="clearfix" for="nma_notify_onsnatch">
                                    <span class="component-title">Notify on Snatch</span>
                                    <span class="component-desc">Send notification when we start a download?</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <input type="checkbox" name="nma_notify_ondownload" id="nma_notify_ondownload" #if $sickbeard.NMA_NOTIFY_ONDOWNLOAD then "checked=\"checked\"" else ""# />
                                <label class="clearfix" for="nma_notify_ondownload">
                                    <span class="component-title">Notify on Download</span>
                                    <span class="component-desc">Send notification when we finish a download?</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                       <span class="component-title">NMA API Key:</span>
                                    <input type="text" name="nma_api" id="nma_api" value="$sickbeard.NMA_API" size="35" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Multiple keys (maxium of 5) must be seperated by commas</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title">NMA priority:</span>
                                       <select id="nma_priority" name="nma_priority">
                                        <option value="-2" #if $sickbeard.NMA_PRIORITY == "-2" then 'selected="selected"' else ""#>Very Low</option>
                                        <option value="-1" #if $sickbeard.NMA_PRIORITY == "-1" then 'selected="selected"' else ""#>Moderate</option>
                                        <option value="0" #if $sickbeard.NMA_PRIORITY == "0" then 'selected="selected"' else ""#>Normal</option>
                                        <option value="1" #if $sickbeard.NMA_PRIORITY == "1" then 'selected="selected"' else ""#>High</option>
                                        <option value="2" #if $sickbeard.NMA_PRIORITY == "2" then 'selected="selected"' else ""#>Emergency</option>
                                    </select>
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Priority of NMA messages from Sick-Beard.</span>
                                </label>
                            </div>
                            <div class="testNotification" id="testNMA-result">Click below to test.</div>
                            <input type="button" class="btn" value="Test NMA" id="testNMA" />
                            <input type="submit" class="btn config_submitter" value="Save Changes" />
                        </div><!-- /content_use_nma //-->

                    </fieldset>
                </div><!-- /nma component-group //-->

                <div class="component-group clearfix">
                    <div class="component-group-desc">
                        <img class="notifier-icon" src="$sbRoot/images/notifiers/pushalot.png" alt="" title="Pushalot" />
                        <h3><a href="https://pushalot.com" rel="noreferrer" onclick="window.open('${sickbeard.ANON_REDIRECT}' + this.href, '_blank'); return false;">Pushalot</a></h3>
                        <p>Pushalot is a platform for receiving custom push notifications to connected devices running Windows Phone or Windows 8.</p>
                    </div>
                    <fieldset class="component-group-list">
                        <div class="field-pair">
                            <input type="checkbox" class="enabler" name="use_pushalot" id="use_pushalot" #if $sickbeard.USE_PUSHALOT then "checked=\"checked\"" else ""# />
                            <label class="clearfix" for="use_pushalot">
                                <span class="component-title">Enable</span>
                                <span class="component-desc">Should Sick Beard send Pushalot notifications?</span>
                            </label>
                        </div>

                        <div id="content_use_pushalot">
                            <div class="field-pair">
                                <input type="checkbox" name="pushalot_notify_onsnatch" id="pushalot_notify_onsnatch" #if $sickbeard.PUSHALOT_NOTIFY_ONSNATCH then "checked=\"checked\"" else ""# />
                                <label class="clearfix" for="pushalot_notify_onsnatch">
                                    <span class="component-title">Notify on Snatch</span>
                                    <span class="component-desc">Send notification when we start a download?</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <input type="checkbox" name="pushalot_notify_ondownload" id="pushalot_notify_ondownload" #if $sickbeard.PUSHALOT_NOTIFY_ONDOWNLOAD then "checked=\"checked\"" else ""# />
                                <label class="clearfix" for="pushalot_notify_ondownload">
                                    <span class="component-title">Notify on Download</span>
                                    <span class="component-desc">Send notification when we finish a download?</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title">Pushalot Authorization Token</span>
                                    <input type="text" name="pushalot_authorizationtoken" id="pushalot_authorizationtoken" value="$sickbeard.PUSHALOT_AUTHORIZATIONTOKEN" size="35" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Authorization Token of your Pushalot account</span>
                                </label>
                            </div>
                            <div class="testNotification" id="testPushalot-result">Click below to test.</div>
                            <input type="button" class="btn" value="Test Pushalot" id="testPushalot" />
                            <input type="submit" class="btn config_submitter" value="Save Changes" />
                        </div><!-- /content_use_pushalot //-->

                    </fieldset>
                </div><!-- /pushalot component-group //-->

                <div class="component-group-save">
                    <input type="submit" class="btn config_submitter" value="Save Changes" />
                </div><br />

                <br />
                <h2>Social</h2>
                <br />


                <div class="component-group clearfix">
                    <div class="component-group-desc">
                        <img class="notifier-icon" src="$sbRoot/images/notifiers/twitter.png" alt="" title="Twitter" />
                        <h3><a href="http://www.twitter.com/" rel="noreferrer" onclick="window.open('${sickbeard.ANON_REDIRECT}' + this.href, '_blank'); return false;">Twitter</a></h3>
                        <p>A social networking and microblogging service, enabling its users to send and read other users' messages called tweets.</p>
                    </div>
                    <fieldset class="component-group-list">
                        <div class="field-pair">
                            <input type="checkbox" class="enabler" name="use_twitter" id="use_twitter" #if $sickbeard.USE_TWITTER then "checked=\"checked\"" else ""# />
                            <label class="clearfix" for="use_twitter">
                                <span class="component-title">Enable</span>
                                <span class="component-desc">Should Sick Beard post tweets on Twitter?</span>
                            </label>
                            <label class="nocheck clearfix" for="use_twitter">
                                <span class="component-title">&nbsp;</span>
                                <span class="component-desc">You may want to use a second account.</span>
                            </label>
                        </div>

                        <div id="content_use_twitter">
                            <div class="field-pair">
                                <input type="checkbox" name="twitter_notify_onsnatch" id="twitter_notify_onsnatch" #if $sickbeard.TWITTER_NOTIFY_ONSNATCH then "checked=\"checked\"" else ""# />
                                <label class="clearfix" for="twitter_notify_onsnatch">
                                    <span class="component-title">Notify on Snatch</span>
                                    <span class="component-desc">Send notification when we start a download?</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <input type="checkbox" name="twitter_notify_ondownload" id="twitter_notify_ondownload" #if $sickbeard.TWITTER_NOTIFY_ONDOWNLOAD then "checked=\"checked\"" else ""# />
                                <label class="clearfix" for="twitter_notify_ondownload">
                                    <span class="component-title">Notify on Download</span>
                                    <span class="component-desc">Send notification when we finish a download?</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <label class="clearfix">
                                    <span class="component-title">Step One</span>
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-desc">Click the "Request Authorization" button.<br/> This will open a new page containing an auth key.<br/> Note: if nothing happens check your popup blocker.<br/></span>
                                    <input type="button" class="btn" value="Request Authorization" id="twitterStep1" />
                                </label>
                            </div>
                            <div class="field-pair">
                                <label class="clearfix">
                                    <span class="component-title">Step Two</span>
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-desc">Enter the key Twitter gave you below, and click "Verify Key".<br/></span>
                                    <input type="text" id="twitter_key" value="" size="35" />
                                    <input type="button" class="btn" value="Verify Key" id="twitterStep2" />
                                </label>
                            </div>
                            <div class="field-pair">
                                <label class="clearfix">
                                    <span class="component-title">Step Three</span>
                                </label>
                            </div>
                            <div class="testNotification" id="testTwitter-result">Click below to test.</div>
                            <input type="button" class="btn" value="Test Twitter" id="testTwitter" />
                            <input type="submit" class="btn config_submitter" value="Save Changes" />
                        </div><!-- /content_use_twitter //-->

                    </fieldset>
                </div><!-- /twitter component-group //-->


                <div class="component-group clearfix">
                    <div class="component-group-desc">
                        <img class="notifier-icon" src="$sbRoot/images/notifiers/trakt.png" alt="" title="Trakt" />
                        <h3><a href="http://trakt.tv/" rel="noreferrer" onclick="window.open('${sickbeard.ANON_REDIRECT}' + this.href, '_blank'); return false;">Trakt</a></h3>
                        <p>trakt helps keep a record of what TV shows and movies you are watching. Based on your favorites, trakt recommends additional shows and movies you'll enjoy!</p>
                    </div>
                    <fieldset class="component-group-list">
                        <div class="field-pair">
                            <input type="checkbox" class="enabler" name="use_trakt" id="use_trakt" #if $sickbeard.USE_TRAKT then "checked=\"checked\"" else ""# />
                            <label class="clearfix" for="use_trakt">
                                <span class="component-title">Enable</span>
                                <span class="component-desc">Should Sick Beard send Trakt.tv notifications?</span>
                            </label>
                        </div>

                        <div id="content_use_trakt">
                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title">Trakt Username</span>
                                    <input type="text" name="trakt_username" id="trakt_username" value="$sickbeard.TRAKT_USERNAME" size="35" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Username of your Trakt account.</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title">Trakt Password</span>
                                    <input type="password" name="trakt_password" id="trakt_password" value="$sickbeard.TRAKT_PASSWORD" size="35" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Password of your Trakt account.</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title">Trakt API Key:</span>
                                    <input type="text" name="trakt_api" id="trakt_api" value="$sickbeard.TRAKT_API" size="35" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Get your key at: <a href="http://trakt.tv/settings/api" rel="noreferrer" onclick="window.open('${sickbeard.ANON_REDIRECT}' + this.href, '_blank'); return false;">http://trakt.tv/settings/api</a></span>
                                </label>
                            </div>
                            <div class="testNotification" id="testTrakt-result">Click below to test.</div>
                            <input type="button" class="btn" value="Test Trakt" id="testTrakt" />
                            <input type="submit" class="btn config_submitter" value="Save Changes" />
                        </div><!-- /content_use_trakt //-->

                    </fieldset>
                </div><!-- /trakt component-group //-->

                <div class="component-group-save">
                    <input type="submit" class="btn config_submitter" value="Save Changes" />
                </div><br />

            </div><!-- /config-components //-->
        </form>
    </div>
</div>
<div class="clearfix"></div>

#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_bottom.tmpl")
