#import sickbeard
#set global $title="Config - Episode Search"
#set global $header="Search Options"

#set global $sbPath="../.."

#set global $topmenu="config"#
#import os.path
#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_top.tmpl")

<script type="text/javascript" src="$sbRoot/js/configSearch.js?$sbPID"></script>
<script type="text/javascript" src="$sbRoot/js/config.js?$sbPID"></script>

<div id="config">
<div id="config-content">
<h5>All non-absolute folder locations are relative to <span class="path">$sickbeard.DATA_DIR</span></h5>

<form id="configForm" action="saveSearch" method="post">

            <div id="config-components">
                
                <div id="core-component-group1" class="component-group clearfix">

                    <div class="component-group-desc">
                        <h3>Episode Search</h3>
                        <p>Settings that dictate how and when episode searching works with <a href="$sbRoot/config/providers">Providers</a>.</p>
                    </div>

                    <fieldset class="component-group-list">
                        <div class="field-pair">
                            <input type="checkbox" name="download_propers" id="download_propers" #if $sickbeard.DOWNLOAD_PROPERS == True then "checked=\"checked\"" else ""# />
                            <label class="clearfix" for="download_propers">
                                <span class="component-title">Download Propers</span>
                                <span class="component-desc">Replace original download with "Proper/Repack" if nuked?</span>
                            </label>
                        </div>
                        
                        <div class="field-pair">
                            <label class="nocheck clearfix">
                                <span class="component-title">Search Frequency</span>
                                <input type="number" name="search_frequency" value="$sickbeard.SEARCH_FREQUENCY" size="5" min="10" class="input-small" />
                            </label>
                            <label class="nocheck clearfix">
                                <span class="component-title">&nbsp;</span>
                                <span class="component-desc">Time in minutes between searches (eg. 60)</span>
                            </label>
                        </div>

                        <div class="field-pair">
                            <label class="nocheck clearfix">
                                <span class="component-title">Usenet Retention</span>
                                <input type="number" name="usenet_retention" value="$sickbeard.USENET_RETENTION" size="5" min="0" class="input-small" />
                            </label>
                            <label class="nocheck clearfix">
                                <span class="component-title">&nbsp;</span>
                                <span class="component-desc">Age limit in days for usenet articles to be used. (eg. 500)</span>
                            </label>
                        </div>

                        <div class="clearfix"></div>
                        <input type="submit" class="btn config_submitter" value="Save Changes" /><br/>
                        
                    </fieldset>
                </div><!-- /component-group1 //-->

                <div id="core-component-group2" class="component-group clearfix">

                    <div class="component-group-desc">
                        <h3>NZB Search</h3>
                        <p>Settings that dictate how Sick Beard handles NZB search results.</p>
                    </div>

                    <fieldset class="component-group-list">

                        <div class="field-pair">
                            <input type="checkbox" name="use_nzbs" class="enabler" id="use_nzbs" #if $sickbeard.USE_NZBS then "checked=\"checked\"" else ""# />
                            <label class="clearfix" for="use_nzbs">
                                <span class="component-title">Search NZBs</span>
                                <span class="component-desc">Should Sick Beard search for NZB files?</span>
                            </label>
                        </div>

                        <div id="content_use_nzbs">
                        <div class="field-pair">
                            <label class="clearfix" for="nzb_method">
                                <span class="component-title jumbo">NZB Method:</span>
                                <span class="component-desc">
                                    <select name="nzb_method" id="nzb_method" class="input-medium" >
                                    #set $nzb_method_text = {'blackhole': "Black Hole", 'sabnzbd': "SABnzbd", 'nzbget': "NZBget"}
                                    #for $curAction in ('sabnzbd', 'blackhole', 'nzbget'):
                                      #if $sickbeard.NZB_METHOD == $curAction:
                                        #set $nzb_method = "selected=\"selected\""
                                      #else
                                        #set $nzb_method = ""
                                      #end if
                                    <option value="$curAction" $nzb_method>$nzb_method_text[$curAction]</option>
                                    #end for
                                    </select>
                                </span>
                            </label>
                        </div>

                        <div id="blackhole_settings">
                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title">NZB Black Hole</span>
                                    <input type="text" name="nzb_dir" id="nzb_dir" value="$sickbeard.NZB_DIR" size="35" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">The directory where Sick Beard should store your <i>NZB</i> files.</span>
                                </label>
                            </div>
                        </div>

                        <div id="sabnzbd_settings">
                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title">SABnzbd URL</span>
                                    <input type="text" name="sab_host" value="$sickbeard.SAB_HOST" size="45" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">URL to your SABnzbd+ install</span>
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">(eg. http://localhost:8000/)</span>
                                </label>
                            </div>
                            
                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title">SABnzbd Username</span>
                                    <input type="text" name="sab_username" value="$sickbeard.SAB_USERNAME" size="20" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Username of your SABnzbd+ server (blank for none)</span>
                                </label>
                            </div>

                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title">SABnzbd Password</span>
                                    <input type="password" name="sab_password" value="$sickbeard.SAB_PASSWORD" size="20" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Password of your SABnzbd+ server (blank for none)</span>
                                </label>
                            </div>

                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title">SABnzbd API Key</span>
                                    <input type="text" name="sab_apikey" value="$sickbeard.SAB_APIKEY" size="45" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">SABnzbd+ Config -> General -> API Key.</span>
                                </label>
                            </div>
                            
                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title">SABnzbd Category</span>
                                    <input type="text" name="sab_category" value="$sickbeard.SAB_CATEGORY" size="20" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Category for downloads to go into (eg. TV)</span>
                                </label>
                            </div>
                        </div>

                        <div id="nzbget_settings">
                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title">NZBget HOST:PORT</span>
                                    <input type="text" name="nzbget_host" value="$sickbeard.NZBGET_HOST" size="45" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Hostname and portnumber of the NZBget RPC (not NZBgetweb!)</span>
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">(eg. localhost:6789)</span>
                                </label>
                            </div>
                            
                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title">NZBget Password</span>
                                    <input type="password" name="nzbget_password" value="$sickbeard.NZBGET_PASSWORD" size="20" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Password found in nzbget.conf (by default tegbzn6789)</span>
                                </label>
                            </div>

                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title">NZBget Category</span>
                                    <input type="text" name="nzbget_category" value="$sickbeard.NZBGET_CATEGORY" size="20" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Category for downloads to go into (eg. TV)</span>
                                </label>
                            </div>
                        </div>
                        
                        <div class="clearfix"></div>
                        
                        <div class="testNotification" id="testSABnzbd-result">Click below to test.</div>
                        <input type="button" value="Test SABnzbd" id="testSABnzbd" class="btn test-button"/>
                        <input type="submit" class="btn config_submitter" value="Save Changes" /><br/>
                        
                        </div><!-- /content_use_nzbs //-->
                        
                    </fieldset>
                </div><!-- /component-group2 //-->

                <div class="alert alert-danger" id="no-torrents">
                    <strong>Note:</strong> Sick Beard works better with Usenet than with Torrents, <a href="http://www.sickbeard.com/usenet.html" target="_blank"><b>here's why</b></a>.
                </div>

                <div id="core-component-group3" class="component-group clearfix">

                    <div class="component-group-desc">
                        <h3>Torrent Search</h3>
                        <p>Settings that dictate how Sick Beard handles Torrent search results.</p>
                    </div>

                    <fieldset class="component-group-list">

                        <div class="field-pair">
                            <input type="checkbox" name="use_torrents" class="enabler" id="use_torrents" #if $sickbeard.USE_TORRENTS == True then "checked=\"checked\"" else ""# />
                            <label class="clearfix" for="use_torrents">
                                <span class="component-title">Search Torrents</span>
                                <span class="component-desc">Should Sick Beard search for torrent files?</span>
                            </label>
                        </div>

                        <div id="content_use_torrents">
                        <div class="field-pair">
                            <label class="nocheck clearfix">
                                <span class="component-title">Torrent Black Hole</span>
                                <input type="text" name="torrent_dir" id="torrent_dir" value="$sickbeard.TORRENT_DIR" size="35" />
                            </label>
                            <label class="nocheck clearfix">
                                <span class="component-title">&nbsp;</span>
                                <span class="component-desc">The directory where Sick Beard should store your <i>Torrent</i> files.</span>
                            </label>
                        </div>
                        
                        <div class="clearfix"></div>
                        <input type="submit" class="btn config_submitter" value="Save Changes" /><br/>
                        </div><!-- /content_use_torrents //-->
                        
                    </fieldset>
                </div><!-- /component-group3 //-->

                <div class="component-group-save">
                    <input type="submit" class="btn config_submitter" value="Save Changes" />
                </div><br />

            </div><!-- /config-components //-->

</form>
</div></div>

<script type="text/javascript" charset="utf-8">
<!--
    jQuery('#nzb_dir').fileBrowser({ title: 'Select NZB Black Hole/Watch Directory' });
    jQuery('#torrent_dir').fileBrowser({ title: 'Select Torrent Black Hole/Watch Directory' });
//-->
</script>

#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_bottom.tmpl")
