#import sickbeard
#from sickbeard.INotifierPlugin import INotifierPlugin
#from lib.yapsy.PluginManager import PluginManager
#set global $title="Config - Notifications"
#set global $header="Notifications"

#set global $sbPath="../.."

#set global $topmenu="config"#
#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_top.tmpl")

#for $pluginInfo in $sickbeard.pluginManager.getPluginsOfCategory("Notifier"):
#if $pluginInfo.plugin_object.has_javascript
<script type="text/javascript" src="$sbRoot/js/config${pluginInfo.name}.js?$sbPID"></script>
#end if
#end for 
<script type="text/javascript" src="$sbRoot/js/configNotifications.js?$sbPID"></script>
<script type="text/javascript" src="$sbRoot/js/config.js?$sbPID"></script>

<div id="config">
    <div id="config-content">
        <form id="configForm" action="saveNotifications" method="post">
            <div id="config-components" class="notifier">
                #set $notifiers = $sickbeard.pluginManager.getPluginsOfCategory("Notifier")
                #set $notify_unknown = $filter(lambda x: x.plugin_object.type == $INotifierPlugin.NOTIFY_UNKNOWN, $notifiers)
                #set $notify_hometheater = $filter(lambda x: x.plugin_object.type == $INotifierPlugin.NOTIFY_HOMETHEATER, $notifiers)
                #set $notify_device = $filter(lambda x: x.plugin_object.type == $INotifierPlugin.NOTIFY_DEVICE, $notifiers)
                #set $notify_online = $filter(lambda x: x.plugin_object.type == $INotifierPlugin.NOTIFY_ONLINE, $notifiers)

                #if $len($notify_unknown) > 0:
                <br />
                <h2>Unknown</h2>
                <br />
            
                #for $pluginInfo in $notify_unknown:
                    #include $os.path.join($sickbeard.PROG_DIR, "sickbeard/plugins/notifiers", $pluginInfo.name, "data/config.tmpl")
                #end for

                <div class="component-group-save">
                    <input type="submit" class="btn config_submitter" value="Save Changes" />
                </div><br />
                #end if

                #if $len($notify_hometheater) > 0:
                <br />
                <h2>Home Theater</h2>
                <br />
                    
                #for $pluginInfo in $notify_hometheater:
                    #include $os.path.join($sickbeard.PROG_DIR, "sickbeard/plugins/notifiers", $pluginInfo.name, "data/config.tmpl")
                #end for
            
                <div class="component-group-save">
                    <input type="submit" class="btn config_submitter" value="Save Changes" />
                </div><br />
                #end if

                #if $len($notify_device) > 0:
                <br />
                <h2>Devices</h2>
                <br />
            
                #for $pluginInfo in $notify_device:
                        #include $os.path.join($sickbeard.PROG_DIR, "sickbeard/plugins/notifiers", $pluginInfo.name, "data/config.tmpl")
                #end for

                <div class="component-group-save">
                    <input type="submit" class="btn config_submitter" value="Save Changes" />
                </div><br />
                #end if

                #if $len($notify_online) > 0:
                <br />
                <h2>Online</h2>
                <br />
                
                #for $pluginInfo in $notify_online:
                        #include $os.path.join($sickbeard.PROG_DIR, "sickbeard/plugins/notifiers", $pluginInfo.name, "data/config.tmpl")
                #end for

                <div class="component-group-save">
                    <input type="submit" class="btn config_submitter" value="Save Changes" />
                </div><br />
                #end if
            </div><!-- /config-components //-->
        </form>
    </div>
</div>
<div class="clearfix"></div>

#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_bottom.tmpl")
