#import sickbeard
#import sickbeard.helpers
#from sickbeard.common import *
#import os.path, os
#import datetime
#set global $title=$show.name
#set global $tvdb_url = 'http://thetvdb.com/?tab=series&amp;id=%d' % ($show.tvdbid)

#set global $header = '<a href="%s" title="%s" rel="noreferrer" onclick="window.open(\'%s\', \'_blank\'); return false;">%s</a>' % ($tvdb_url, $tvdb_url, $sickbeard.ANON_REDIRECT + $tvdb_url, $show.name)

#set global $topmenu="manageShows"#
#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_top.tmpl")

<div class="h2footer align-right">
#if (len($seasonResults) > 14):
    <select id="seasonJump">
        <option value="jump">Jump to Season</option>
    #for $seasonNum in $seasonResults:
        <option value="#season-$seasonNum["season"]">#if int($seasonNum["season"]) == 0 then "Specials" else "Season " + str($seasonNum["season"])#</option>
    #end for
    </select>
#else:
    <b>Season:</b>
    #for $seasonNum in $seasonResults:
        #if int($seasonNum["season"]) == 0:
            <a href="#season-$seasonNum["season"]" class="seasonJump">Specials</a>
        #else:
            <a href="#season-$seasonNum["season"]" class="seasonJump">${str($seasonNum["season"])}</a>
        #end if
        #if $seasonNum != $seasonResults[-1]:
            <span class="separator">|</span>
        #end if
    #end for
#end if
</div><br/>

#if $show_message:
    <div class="alert alert-info">
        $show_message
    </div>
#end if

<input type="hidden" id="sbRoot" value="$sbRoot" />

<div class="align-left"><b>Change Show:</b>
<div class="navShow"><img id="prevShow" width="16" height="18" src="$sbRoot/images/prev.gif" alt="&lt;&lt;" title="Prev Show" /></div>
<select id="pickShow">
#for $curShow in $sortedShowList:
<option value="$curShow.tvdbid" #if $curShow == $show then "selected=\"selected\"" else ""#>$curShow.name</option>
#end for
</select>
<div class="navShow"><img id="nextShow" width="16" height="18" src="$sbRoot/images/next.gif" alt="&gt;&gt;" title="Next Show" /></div>
</div>

<div id="summary" class="align-left">
<table>
#if $show.network and $show.airs:
    <tr><td class="showLegend">Airs: </td><td>$show.airs on $show.network</td></tr>
#else if $show.network:
    <tr><td class="showLegend">Airs: </td><td>$show.network</td></tr>
#else if $show.airs:
    <tr><td class="showLegend">Airs: </td><td>$show.airs</td></tr>
#end if
    <tr><td class="showLegend">Status: </td><td>$show.status</td></tr>
#if $showLoc[1]:
    <tr><td class="showLegend">Location: </td><td>$showLoc[0]</td></tr>
#else:
    <tr><td class="showLegend"><span style="color: red;">Location: </span></td><td><span style="color: red;">$showLoc[0]</span> (dir is missing)</td></tr>
#end if
#set $anyQualities, $bestQualities = $Quality.splitQuality(int($show.quality))
    <tr><td class="showLegend">Quality: </td><td>
#if $show.quality in $qualityPresets:
$qualityPresetStrings[$show.quality]
#else:
#if $anyQualities:
initially download: <b><%=", ".join([Quality.qualityStrings[x] for x in sorted(anyQualities)])%></b> #if $bestQualities then " + " else ""#
#end if
#if $bestQualities:
replace with: <b><%=", ".join([Quality.qualityStrings[x] for x in sorted(bestQualities)])%></b>
#end if
#end if
    </td></tr>
    <tr><td class="showLegend">Language:</td><td><img src="$sbRoot/images/flags/${show.lang}.png" width="16" height="11" alt="" /> $show.lang</td></tr>
    <tr><td class="showLegend">Flatten Folders: </td><td><img src="$sbRoot/images/#if $show.flatten_folders == 1 or $sickbeard.NAMING_FORCE_FOLDERS then "yes16.png\" alt=\"Y" else "no16.png\" alt=\"N"#" width="16" height="16" /></td></tr>
    <tr><td class="showLegend">Paused: </td><td><img src="$sbRoot/images/#if int($show.paused) == 1 then "yes16.png\" alt=\"Y" else "no16.png\" alt=\"N"#" width="16" height="16" /></td></tr>
    <tr><td class="showLegend">Skip Notices: </td><td><img src="$sbRoot/images/#if int($show.skip_notices) == 1 then "yes16.png\" alt=\"Y" else "no16.png\" alt=\"N"#" width="16" height="16" /></td></tr>
    <tr><td class="showLegend">Air-by-Date: </td><td><img src="$sbRoot/images/#if int($show.air_by_date) == 1 then "yes16.png\" alt=\"Y" else "no16.png\" alt=\"N"#" width="16" height="16" /></td></tr>
</table>
</div>

<div class="float-left">
Change selected episodes to 
<select id="statusSelect">
#for $curStatus in [$WANTED, $SKIPPED, $ARCHIVED, $IGNORED] + sorted($Quality.DOWNLOADED):
#if $curStatus == $DOWNLOADED:
#continue
#end if
<option value="$curStatus">$statusStrings[$curStatus]</option>
#end for
</select>
<input type="hidden" id="showID" value="$show.tvdbid" />
<input type="button" class="btn" id="changeStatus" value="Go" /><br />
<br />
</div>

<div class="float-right clearfix" id="checkboxControls">
    <div style="padding-bottom: 5px;">
        <label for="wanted" class="checkbox inline wanted"><input type="checkbox" id="wanted" checked="checked" /> Wanted: <b>$epCounts[$Overview.WANTED]</b></label>
        <label for="qual" class="checkbox inline qual"><input type="checkbox" id="qual" checked="checked" /> Low Quality: <b>$epCounts[$Overview.QUAL]</b></label>
        <label for="snatched" class="checkbox inline snatched"><input type="checkbox" id="snatched" checked="checked" /> Snatched: <b>$epCounts[$Overview.SNATCHED]</b></label>
        <label for="good" class="checkbox inline good"><input type="checkbox" id="good" checked="checked" /> Downloaded: <b>$epCounts[$Overview.GOOD]</b></label>
        <label for="skipped" class="checkbox inline skipped"><input type="checkbox" id="skipped" checked="checked" /> Skipped: <b>$epCounts[$Overview.SKIPPED]</b></label>
    </div>
    <div class="pull-right" style="padding-bottom: 5px;">
        <button class="btn btn-mini seriesCheck"><a href="#" onclick="return false;">Select Filtered Episodes</a></button>
        <button class="btn btn-mini clearAll"><a href="#" onclick="return false;">Clear All</a></button>
    </div>
</div>

<table class="sickbeardTable2" style="text-align: center;">

#set $curSeason = -1
#set $seasonCount = 0
#for $epResult in $sqlResults:

  #if int($epResult["season"]) != $curSeason:
    #set $curSeason = int($epResult["season"])

    #if $curSeason != -1:

      #set $seasonCount = $seasonCount + 1
      #if $sickbeard.DISPLAY_ALL_SEASONS == False and $seasonCount == 2:
      <tbody id="segment" class="hide">
      #end if

      <!-- start season $epResult["season"] -->
      <tr id="season-$epResult["season"]">
        <th class="row-seasonheader" colspan="10" style="width: auto;"><a name="season-$epResult["season"]"></a>#if int($epResult["season"]) == 0 then "Specials" else "Season " + str($epResult["season"])#</th>
      </tr>
    #end if
      <tr id="season-$epResult["season"]-cols">
        <th class="col-checkbox"><input type="checkbox" class="seasonCheck" id="$epResult["season"]" /></th>
        <th class="col-metadata">NFO</th>
        <th class="col-metadata">TBN</th>
        <th class="col-ep">Episode</th>
        <th class="col-name">Name</th>
        <th class="col-plotinfo">&nbsp;</th>
        <th class="col-airdate">Airdate</th>
        <th class="col-filename">Filename</th>
        <th class="col-status">Status</th>
        <th class="col-search">Search</th>
      </tr>
    #end if

  #set $epDisplayLoc = None
  #set $epStr = str($epResult["season"]) + "x" + str($epResult["episode"])
  #set $epLoc = $epResult["location"]
  #if $epLoc and $show._location and $epLoc.lower().startswith($show._location.lower()):
    #set $epDisplayLoc = $epLoc[len($show._location)+1:]
  #elif $epLoc and (not $epLoc.lower().startswith($show._location.lower()) or not $show._location):
    #set $epDisplayLoc = $epLoc
  #end if

  <tr class="$Overview.overviewStrings[$epCats[$epStr]] season-$curSeason">
    <td class="col-checkbox">
    #if int($epResult["status"]) != $UNAIRED
      <input type="checkbox" class="epCheck" id="<%=str(epResult["season"]) + 'x' + str(epResult["episode"])%>" name="<%=str(epResult["season"]) + "x" + str(epResult["episode"]) %>" />
    #end if
    </td>
    <td class="col-metadata"><img src="$sbRoot/images/#if $epResult["hasnfo"] == 1 then "nfo.gif\" alt=\"Y" else "nfo-no.gif\" alt=\"N"#" width="23" height="11" /></td>
    <td class="col-metadata"><img src="$sbRoot/images/#if $epResult["hastbn"] == 1 then "tbn.gif\" alt=\"Y" else "tbn-no.gif\" alt=\"N"#" width="23" height="11" /></td>
    <td class="col-ep">$epResult["episode"]</td>
    <td class="col-name mightOverflow">$epResult["name"]</td>
    <td class="col-plotinfo">
    #if $epResult["description"] != "" and $epResult["description"] != None:
      <img src="$sbRoot/images/info32.png" width="16" height="16" class="plotInfo" alt="" id="plot_info_$show.tvdbid<%="_" + str(epResult["season"]) + "_" + str(epResult["episode"])%>" />
    #else:
      <img src="$sbRoot/images/info32.png" width="16" height="16" class="plotInfoNone" alt="" />
    #end if
    </td>
    <td class="col-airdate">#if int($epResult["airdate"]) == 1 then "never" else $datetime.date.fromordinal(int($epResult["airdate"]))#</td>
    <td class="col-filename mightOverflow">$epDisplayLoc</td>
    <td class="col-status mightOverflow status_column">$statusStrings[int($epResult["status"])]</td>
    <td class="col-search"><a class="epSearch" href="searchEpisode?show=$show.tvdbid&amp;season=$epResult["season"]&amp;episode=$epResult["episode"]"><img src="$sbRoot/images/search16.png" width="16" height="16" alt="search" title="Manual Search" /></a></td>
  </tr>

#end for
#if $sickbeard.DISPLAY_ALL_SEASONS == False and $seasonCount > 1:
    </tbody>
#end if
</table><br />

#if $sickbeard.DISPLAY_ALL_SEASONS == False and $seasonCount > 1:
    <button class="btn btn-large btn-block btn-inverse" id="showAllSeasons"><i class="icon-chevron-down icon-white"></i> Show All Seasons <i class="icon-chevron-down icon-white"></i></button>
#end if

#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_bottom.tmpl")

<script type="text/javascript" src="$sbRoot/js/lib/jquery.bookmarkscroll.js?$sbPID"></script>
<script type="text/javascript" src="$sbRoot/js/displayShow.js?$sbPID"></script>
<script type="text/javascript" src="$sbRoot/js/plotTooltip.js?$sbPID"></script>
<script type="text/javascript" src="$sbRoot/js/ajaxEpSearch.js?$sbPID"></script>
