#import sickbeard
#from sickbeard.common import *
#import os.path
#import datetime

<!--#set global $topmenu="home"#-->
<!--#set global $statpath=".."#-->
<!--#set global $helpsubject="Home"#-->
#include "data/interfaces/default/inc_top.tmpl"

<span class="SubMenu">
<a href="editShow?show=$show.tvdbid">Edit</a> |
#if not $sickbeard.showAddScheduler.action.isBeingAdded($show):
#if not $sickbeard.showUpdateScheduler.action.isBeingUpdated($show):
<a href="deleteShow?show=$show.tvdbid" onclick="javascript:return confirm('Are you sure you want to delete $show.name?')">Delete</a> |
<a href="updateShow?show=$show.tvdbid">Refresh</a> | 
<a href="updateShow?show=$show.tvdbid&force=1">Force Full Update</a> |
#end if
<a href="fixEpisodeNames?show=$show.tvdbid">Rename Episodes</a>
#end if 
</span>

<script type="text/javascript" src="/js/displayShow.js"></script>
<script type="text/javascript" src="/js/showPlot.js"></script>

<br />
#if $sickbeard.showAddScheduler.action.isBeingAdded($show):
<br />
<div class="showNotice"><img class="showNoticeImg" src="/images/error.png"> This show is in the process of being downloading from theTVDB.com - the info below is incomplete.</div>
<br />
#end if

#if $sickbeard.showUpdateScheduler.action.isBeingUpdated($show):
<br />
<span class="showNotice"><img class="showNoticeImg" src="/images/error.png"> Note: This show is currently being updated</span>
<br />
#end if

#if $sickbeard.showUpdateScheduler.action.isInQueue($show):
<br />
<span class="showNotice"><img class="showNoticeImg" src="/images/error.png"> Note: This show is queued and awaiting an update</span>
<br />
#end if

<h2><a href="http://thetvdb.com/?tab=series&id=$show.tvdbid" target="_new">$show.name</a></h2>

Airs: $show.airs on $show.network<br />
Status: $show.status<br />

#try:
Location: $show.location<br />
#except sickbeard.exceptions.ShowDirNotFoundException:
<span style="color: red;">$show._location</span> (dir is missing)<br />
#end try

Quality: $qualityStrings[int($show.quality)]<br />
Season Folders: <img src="/images/#if $show.seasonfolders == 1 then "yes.gif\" alt=\"Y" else "no.gif\" alt=\"N"#" width="16" height="16"><br />

Active: <img src="/images/#if int($show.paused) == 0 then "yes.gif\" alt=\"Y" else "no.gif\" alt=\"N"#" width="16" height="16"><br />

<br />

Change selected episodes to 
<select id="statusSelect">
#for $curStatus in ($BACKLOG, $DISCBACKLOG, $MISSED, $SKIPPED, $DOWNLOADED)
<option value="$curStatus">$sickbeard.statusStrings[$curStatus]
#end for
</select>
<input type="hidden" id="showID" value="$show.tvdbid">
<input type="button" id="changeStatus" value="Go"><br />
<br />
<b>NOTE:</b> Episodes can only be changed to "Downloaded" if they are currently "Predownloaded".<br />
All other statuses will automatically update to Downloaded on a show refresh.<br />

#set $curSeason = -1
#set $odd = 0

<table class="sickbeardTable">
    
#for $epResult in $sqlResults:
   
    #if int($epResult["season"]) != $curSeason:
  <tr class="seasonheader">
    <td colspan=8>
	<br />
	<h2>#if int($epResult["season"]) == 0 then "Specials" else "Season "+str($epResult["season"])#
	<!--(<a href="setStatus/?show=$show.tvdbid&season=$epResult["season"]&status=$BACKLOG">add to backlog</a>)
	(<a href="setStatus/?show=$show.tvdbid&season=$epResult["season"]&status=$DISCBACKLOG">add to disc backlog</a>)-->
	<br />
	</h2></td>
  </tr>
  <tr><th width="1%"><input type="checkbox" class="seasonCheck" id="$epResult["season"]"></th><th>NFO</th><th>TBN</th><th>Episode</th><th>Name</th><th>Airdate</th><th>Filename</th><th>Status</th><th>Actions</th></tr>
        #set $curSeason = int($epResult["season"])
    #end if    

    #set $odd = not $odd#
  <tr class="#if $odd then "odd" else "even"#Line">
    <td width="1%">
#if int($epResult["status"]) != $UNAIRED
      <input type="checkbox" class="epCheck" id="<%=str(epResult["season"])+'x'+str(epResult["episode"])%>" name="<%=str(epResult["season"]) +"x"+str(epResult["episode"]) %>">
#end if
    </td>
  	<td align="center"><a name="<%=str(epResult["season"])+"x"+str(epResult["episode"])%>"></a><img src="/images/#if $epResult["hasnfo"] == 1 then "yes.gif\" alt=\"Y" else "no.gif\" alt=\"N"#" width="16" height="16"></td>
  	<td align="center"><img src="/images/#if $epResult["hastbn"] == 1 then "yes.gif\" alt=\"Y" else "no.gif\" alt=\"N"#" width="16" height="16"></td>
    <td align="center">$epResult["episode"]</td>
    <td>$epResult["name"] <a href="#" class="plotLink" id="plotLink_<%=str(epResult["season"])+"_"+str(epResult["episode"])%>">[+]</a>
        <div class="plotDiv" id="epDiv_<%=str(epResult["season"])+"_"+str(epResult["episode"])%>"><br />$epResult["description"]</div></td>
    <td align="center">#if int($epResult["airdate"]) == 1 then "never" else $datetime.date.fromordinal(int($epResult["airdate"]))#</td>
    <td>$os.path.basename($epResult["location"])</td>
    <td>$statusStrings[int($epResult["status"])]</td>
    <td align="center">
    #if int($epResult["season"]) != 0: 
    <a href="searchEpisode?show=$show.tvdbid&season=$epResult["season"]&episode=$epResult["episode"]">search</a>
    #end if
    </td>
   <tr>
   
#end for            
</table><br /><br />
            

#include "data/interfaces/default/inc_bottom.tmpl"
