#import sickbeard
#import lib.adba as adba
#from sickbeard import common
#from sickbeard import exceptions
#from sickbeard import helpers
#from sickbeard.blackandwhitelist import *
#set global $title="Edit " + $show.name
#set global $header=$show.name

#set global $sbPath=".."

#set global $topmenu="home"
#import os.path
#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_top.tmpl")

<script type="text/javascript" src="$sbRoot/js/qualityChooser.js?$sbPID"></script>
<script type="text/javascript" charset="utf-8">
<!--
\$(document).ready(function(){

  \$.getJSON('$sbRoot/home/addShows/getTVDBLanguages', {}, function(data) {
        var resultStr = '';

        if (data.results.length == 0) {
            flag = ' class="flag" style="background-image:url($sbRoot/images/flags/${show.lang}.png)"';
            resultStr = '<option value="$show.lang" selected="selected" + flag>$show.lang</option>';
        } else {
            var current_lang_added = false;
            \$.each(data.results, function(index, obj) {

                if (obj == "$show.lang") {
                    selected = ' selected="selected"';
                    current_lang_added = true;
                }
                else {
                    selected = '';
                }

                flag = ' class="flag" style="background-image:url($sbRoot/images/flags/' + obj + '.png);"';
                resultStr += '<option value="' + obj + '"' + selected + flag + '>' + obj + '</option>';
            });
            if (!current_lang_added)
                resultStr += '<option value="$show.lang" selected="selected">$show.lang</option>';

        }
        \$('#tvdbLangSelect').html(resultStr)

  });

});

//-->
</script>


<form action="editShow" method="post">
<input type="hidden" name="show" value="$show.tvdbid" />
Location: <input type="text" name="location" id="location" value="$show._location" size="50" /><br />
<br />
Quality:
#set $qualities = $common.Quality.splitQuality(int($show.quality))
#set global $anyQualities = $qualities[0]
#set global $bestQualities = $qualities[1]
#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_qualityChooser.tmpl")
<br />
<br />
Language: <select name="tvdbLang" id="tvdbLangSelect"></select><br />
Note: This will only affect the language of the retrieved metadata file contents and episode filenames.<br />
This <b>DOES NOT</b> allow Sick Beard to download non-english TV episodes!<br />
<br />
<br />
Flatten files (no folders): <input type="checkbox" name="flatten_folders" #if $show.flatten_folders == 1 and not $sickbeard.NAMING_FORCE_FOLDERS then "checked=\"checked\"" else ""# #if $sickbeard.NAMING_FORCE_FOLDERS then "disabled=\"disabled\"" else ""#/><br /><br />
Paused: <input type="checkbox" name="paused" #if $show.paused == 1 then "checked=\"checked\"" else ""# /><br /><br />

Air by date: 
<input type="checkbox" name="air_by_date" #if $show.air_by_date == 1 then "checked=\"checked\"" else ""# /><br />
(check this if the show is released as Show.03.02.2010 rather than Show.S02E03) 
<br /><br />
Anime: <input type="checkbox" name="anime" #if $show.is_anime then "CHECKED" else ""#><br />
(check this if the show is released as Show.265 rather than Show.S02E03, this show is an anime)<br />
<br /><br />
Ignore words: <input type="text" name="blackWords" value="$blackWords"><br />
(Results that contain any of these words will be ignored. Comma seperated.)<br />
<br /><br />
Needed words: <input type="text" name="whiteWords" value="$whiteWords"><br />
(Results must contain all of these words. Comma seperated.)<br />
<br />
#if $show.is_anime

Fansub Groups:
<div class="fieldpair alt">
	Preferred fansub groups of anime episodes to be downloaded
</div>
<div class="bwlWrapper">
	<div class="component-group-desc">
		<p>Select your preferred fansub groups from the <b>Available Groups</b> and add them to the <b>Whitelist</b>. Add groups to the <b>Blacklist</b> to ignore them.</p>
		<p>The <b>Whitelist</b> is checked <i>before</i> the <b>Blacklist</b>.</p>
		<p>Groups are shown as <b>Name</b> | <b>Rating</b> | <b>Number of subbed episodes</b>.</p>
		<p>You may also add any fansub group not listed to either list manually.</p>
	</div>
	<div class="blackwhitelist all">
		<div class="blackwhitelist anidb">
			<div class="blackwhitelist white">
				<span><h4>Whitelist</h4></span>
				<select id="white" multiple="multiple" size="6">
					#for $keyword in $whitelist:
						<option value="$keyword">$keyword</option>
					#end for
				</select>
				<br/>
				<input class="btn" style="float: left;" id="removeW" value="Remove" type="button"/>
			</div>
			<div class="blackwhitelist pool">
				<span><h4>Available Groups</h4></span>
				<select id="pool" multiple="multiple" size="6">
				#for $group in $groups
					#if $group not in $whitelist and $group['name'] not in $blacklist:
						<option value="$group['name']">$group['name'] | $group['rating'] | $group['range']</option>
					#end if
				#end for
				</select>
				<br/>
				<input class="btn" style="float: left;" id="addW" value="Add to Whitelist" type="button"/>
				<input class="btn" style="float: right;" id="addB" value="Add to Blacklist" type="button"/>
			</div>
			<div class="blackwhitelist black">
				<span><h4>Blacklist</h4></span>
				<select id="black" multiple="multiple" size="6">
					#for $keyword in $blacklist:
						<option value="$keyword">$keyword</option>
					#end for
				</select>
				<br/>
				<input class="btn" style="float: right;" id="removeB" value="Remove" type="button"/>
			</div>
		</div>
		<br style="clear:both" />
		<div class="blackwhitelist manual">
			<input type="text" id="addToPoolText" size="30" />
			<input class="btn" type="button" value="Add to Whitelist" id="addToWhite">
			<input class="btn" type="button" value="Add to Blacklist" id="addToBlack">
		</div>
	</div>
	<br style="clear:both" />
</div>
#end if
<input type="hidden" name="whitelist" id="whitelist"/>
<input type="hidden" name="blacklist" id="blacklist"/>

<input class="btn" type="submit" value="Submit" id="submit"/>
</form>

<script type="text/javascript" charset="utf-8">
<!--
    jQuery('#location').fileBrowser({ title: 'Select Show Location' });

	\$('#submit').click(function(){
		var realvalues = [];

		\$('#white option').each(function(i, selected) {
		    realvalues[i] = \$(selected).val();
		});
		\$("#whitelist").val(realvalues.join(","));
		
		realvalues = [];
		\$('#black option').each(function(i, selected) {
		    realvalues[i] = \$(selected).val();
		});
		\$("#blacklist").val(realvalues.join(","));
	});

	\$('#removeW').click(function() {
		return !\$('#white option:selected').remove().appendTo('#pool');
	});
	\$('#addW').click(function() {
	 	return !\$('#pool option:selected').remove().appendTo('#white');
	});
	\$('#addB').click(function() {
	 	return !\$('#pool option:selected').remove().appendTo('#black');
	 });
	\$('#removeB').click(function() {
        return !\$('#black option:selected').remove().appendTo('#pool');
    });
    \$('#addToWhite').click(function() {
        var group = \$('#addToPoolText').attr("value")
        if(group == "")
            return
        \$('#addToPoolText').attr("value", "")
        var option = \$("<option>")
        option.attr("value",group)
        option.html(group)
        return option.appendTo('#white');
    });
    \$('#addToBlack').click(function() {
        var group = \$('#addToPoolText').attr("value")
        if(group == "")
            return
        \$('#addToPoolText').attr("value", "")
        var option = \$("<option>")
        option.attr("value",group)
        option.html(group)
        return option.appendTo('#black');
    });
	
//-->
</script>

#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_bottom.tmpl")
