#import sickbeard
#from sickbeard import classes
#from sickbeard.common import *
#set global $title="Logs &amp; Errors"

#set global $sbPath = ".."

#set global $topmenu="errorlogs"#
#import os.path
#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_top.tmpl")

<div class="align-left"><pre>
#if $classes.ErrorViewer.errors:
#for $curError in sorted($classes.ErrorViewer.errors, key=lambda error: error.time, reverse=True)[:500]:
$curError.time $curError.message
#end for
#end if
</pre>
</div>

<script>
<!--
window.setInterval( "location.reload(true)", 600000); // Refresh every 10 minutes
//-->
</script>

#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_bottom.tmpl")
