#import sickbeard
#set global $title=""

#set global $sbPath="../.."


<!--#set global $topmenu="home"#-->
<!--#set global $statpath=".."#-->
<!--#set global $helpsubject="Home"#-->
#import os.path
#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_top.tmpl")

<!--#set global $submenu=""#-->
#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_hmenu.tmpl")

<h2>$subject</h2>
$message

#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_bottom.tmpl")
