#import sickbeard
<!--#set global $topmenu="home"#-->
<!--#set global $statpath=".."#-->
<!--#set global $helpsubject="Home"#-->
#include "data/interfaces/default/inc_top.tmpl"

<!--#set global $submenu="other"#-->
#include "data/interfaces/default/inc_hmenu.tmpl"

<h2>$subject</h2>
$message

#include "data/interfaces/default/inc_bottom.tmpl"
