#import sickbeard
#import os.path
#import datetime
#import re
#from sickbeard import history
#from sickbeard import providers
#from sickbeard.common import *
#set global $title="History"

#set global $sbPath=".."

<!--#set global $topmenu="history"#-->
#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_top.tmpl")

<script>
\$(document).ready(function() 
{ 
    \$("#historyTable").tablesorter({
    	sortList: [[0,1]]
    }); 
});
</script>


<table id="historyTable" class="sickbeardTable tablesorter">
  <thead><tr><th>Time</th><th>Episode</th><th>Action</th><th>Provider</th><th>Quality</th></tr></thead>
  <tbody>
#for $hItem in $historyResults:
#set $curStatus, $curQuality = $Quality.splitCompositeStatus(int($hItem["action"]))
  <tr class="evenLine">
    <td>$datetime.datetime.strptime(str($hItem["date"]), $history.dateFormat)</td>
    <td><a href="$sbRoot/home/displayShow?show=$hItem["showid"]">$hItem["show_name"] - <%=str(hItem["season"]) +"x"+ "%02i" % int(hItem["episode"]) %></a></td>
    <td align="center">$statusStrings[$curStatus]</td>
    <td align="center">
	#if $curStatus == DOWNLOADED:
	  #set $match = $re.search("\-(\w+)\.\w{3}\Z", $os.path.basename($hItem["resource"]))
	  #if $match
	  	#if $match.group(1).upper() in ("X264", "720P"):
	  	  #set $match = $re.search("(\w+)\-.*\-"+$match.group(1)+"\.\w{3}\Z", $os.path.basename($hItem["resource"]), re.IGNORECASE)
	  	  #if $match
		  	  $match.group(1).upper()
		  #end if
	  	#else:
          $match.group(1).upper()
        #end if
	  #end if
	#else
      #if $hItem["provider"] > 0
        #set $providerModule = $providers.getProviderModule($hItem["provider"])
        #if $providerModule != None: 
        <img src="$sbRoot/images/providers/<%=providerModule.providerName.lower()%>.gif" width="16" height="16" alt="$providerModule.providerName">
        #end if
      #end if
    #end if
	</td>
	<td align="center">$Quality.qualityStrings[$curQual]</td>
  </tr>
#end for
  </tbody>
</table>

#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_bottom.tmpl")
