#import sickbeard

<!--#set global $topmenu="home"#-->
<!--#set global $statpath="../.."#-->
<!--#set global $helpsubject="Configure+General"#-->
#include "data/interfaces/default/inc_top.tmpl"

<!--#set global $submenu="postprocess"#-->
#include "data/interfaces/default/inc_hmenu.tmpl"

<h2>Manual postprocessing</h2>

<form name="processForm" method="POST" action="processEpisode">
Enter the folder containing the episode: <input type="text" name="dir" size="50"> <input type="submit" value="Process"><br />
<strong>(NOTE: MUST ONLY CONTAIN ONE EPISODE)</strong><br />


#include "data/interfaces/default/inc_bottom.tmpl"