#import os.path
#import sickbeard
#set global $title="New Show"

#set global $sbPath="../.."

#set global $statpath="../.."#
#set global $topmenu="home"#
#import os.path

#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_top.tmpl")

<script type="text/javascript" src="$sbRoot/js/lib/formwizard.js?$sbPID"></script>
<script type="text/javascript" src="$sbRoot/js/qualityChooser.js?$sbPID"></script>
<script type="text/javascript" src="$sbRoot/js/newShow.js?$sbPID"></script>
<script type="text/javascript" src="$sbRoot/js/addShowOptions.js?$sbPID"></script>

<div id="displayText">aoeu</div>
<br />

<form id="addShowForm" method="post" action="$sbRoot/home/addShows/addNewShow" accept-charset="utf-8">

<fieldset class="sectionwrap">
    <legend class="legendStep">Find a show on the TVDB</legend>

    <div class="stepDiv">
        #if $use_provided_info:
            Show retrieved from existing metadata: <a href="http://thetvdb.com/?tab=series&id=$provided_tvdb_id">$provided_tvdb_name</a>
            <input type="hidden" name="tvdbLang" value="en" />
            <input type="hidden" name="whichSeries" value="$provided_tvdb_id" />
            <input type="hidden" id="providedName" value="$provided_tvdb_name" />
        #else:
            <input type="text" id="nameToSearch" value="$default_show_name" />
            <select name="tvdbLang" id="tvdbLangSelect">
                <option value="en" selected="selected">en</option>
            </select><b>*</b>
            <input type="button" id="searchName" value="Search" class="btn" /><br /><br />

            <b>*</b> This will only affect the language of the retrieved metadata file contents and episode filenames.<br />
            This <b>DOES NOT</b> allow Sick Beard to download non-english TV episodes!<br />
            <br />
            <div id="searchResults" style="max-height: 225px; overflow: auto;"><br/></div>
        #end if
    </div>
</fieldset>

<fieldset class="sectionwrap">
    <legend class="legendStep">Pick the parent folder</legend>

    <div class="stepDiv">
        #if $provided_show_dir:
            Pre-chosen Destination Folder: <b>$provided_show_dir</b> <br />
            <input type="hidden" id="fullShowPath" name="fullShowPath" value="$provided_show_dir" /><br />
        #else
            #include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_rootDirs.tmpl")
        #end if
    </div>
</fieldset>

<fieldset class="sectionwrap">
    <legend class="legendStep">Customize options</legend>

    <div class="stepDiv">
        #include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_addShowOptions.tmpl")
    </div>
</fieldset>

#for $curNextDir in $other_shows:
<input type="hidden" name="other_shows" value="$curNextDir" />
#end for
<input type="hidden" name="skipShow" id="skipShow" value="" />
</form>

<br />

<div style="width: 800px; text-align: center;">
<input class="btn" type="button" id="addShowButton" value="Add Show" disabled="disabled" />
#if $provided_show_dir:
<input class="btn" type="button" id="skipShowButton" value="Skip Show" />
#end if
</div>

<script type="text/javascript" src="$sbRoot/js/rootDirs.js?$sbPID"></script>

#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_bottom.tmpl")
