#import sickbeard
#import urllib
#import os.path
#from sickbeard import encodingKludge as ek
#set global $title="Add Shows"

#set global $sbPath="../../.."

<!--#set global $topmenu="home"#-->

#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_top.tmpl")

<script type="text/javascript" charset="utf-8">
\$(document).ready(function() 
{ 
    \$("#addRootDirTable").tablesorter({
        sortList: [[1,0]],
        widgets: ['zebra'],
        headers: {
            0: { sorter: false }
        }
    }); 


  \$('#submitShowDirs').click(function(){
  
    var dirArr = new Array()

    \$('.dirCheck').each(function() {
      
      if (this.checked == true) {
        dirArr.push(\$(this).attr('id'))
      }
      
    });  

    if (dirArr.length == 0)
      return false

    url = 'addShows?showDirs='+dirArr.join('&showDirs=')

    window.location.href = url

  });

  \$('#checkAll').click(function(){
    
    var seasCheck = this;

    \$('.dirCheck').each(function(){
      this.checked = seasCheck.checked 
    });
  });

});
</script>

<h2>Select Shows To Add</h2>

<table id="addRootDirTable" class="sickbeardTable tablesorter">
  <thead><tr><th width="1%"><input type="checkbox" id="checkAll" CHECKED></th><th>Dir Name</th><th width="1%">Has tvshow.nfo</td></tr></thead>
  <tbody>
#for $curDir in $showDirs:
<% hasNFO = ek.ek(os.path.isfile, ek.ek(os.path.join, urllib.unquote_plus(curDir), "tvshow.nfo")) %>
  <tr>
    <td><input type="checkbox" id="$curDir" class="dirCheck" CHECKED></td>
    <td><label for="$curDir"><%=os.path.normpath(urllib.unquote_plus(curDir).decode('utf-8')).split(os.sep)[-1]%></label></td>
    <td align="center"><img src="$sbRoot/images/#if $hasNFO then "yes32.png\" alt=\"Y\"" else "no32.png\" alt=\"N\""# width="16" height="16"></td>
  </tr>
#end for
  </tbody>
  <tfoot>
  <tr>
    <td colspan="3"><input type="button" value="Continue" id="submitShowDirs" /></td>
  </tr>
  </tfoot>
</tbody>
</table>

#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_bottom.tmpl")
