#import sickbeard
#set global $title="Manual Post-Processing"

#set global $sbPath="../.."

#set global $topmenu="home"#
#import os.path
#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_top.tmpl")

<form name="processForm" method="post" action="processEpisode">
Enter the folder containing the episode: <input type="text" name="dir" id="episodeDir" #if $sickbeard.TV_DOWNLOAD_DIR then "value=\"" + $sickbeard.TV_DOWNLOAD_DIR + "\"" else ""# size="50" />
<input type="hidden" name="method" value="Manual"> <input type="submit" class="btn" value="Process" />
<br /><br />
Force replace existing episodes:&nbsp;<input type="checkbox" name="force_replace" /><br />
<b>Overwrite</b> existing episode, ignoring status downloaded (quality)<br />

</form>
<br />

<script>
<!--
    jQuery('#episodeDir').fileBrowser({ title: 'Select Unprocessed Episode Folder', key: 'postprocessPath' });
//-->
</script>

#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_bottom.tmpl")
