#import sickbeard
#set global $title="Home"
#set global $header="Show List"

#set global $sbPath = ".."

<!--#set global $topmenu="home"#-->
#import os.path
#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_top.tmpl")

#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_show_table.tmpl")

#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_bottom.tmpl")
