#import os.path
#import sickbeard
#from sickbeard.common import *
#set global $title="Existing Show"

#set global $sbPath="../.."

#set global $statpath="../.."#
#set global $topmenu="home"#
#import os.path
#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_top.tmpl")

<form id="addShowForm" method="post" action="$sbRoot/home/addShows/addNewShow" accept-charset="utf-8">

<script type="text/javascript" src="$sbRoot/js/qualityChooser.js?$sbPID"></script>
<script type="text/javascript" src="$sbRoot/js/addExistingShow.js?$sbPID"></script>
<script type="text/javascript" src="$sbRoot/js/rootDirs.js?$sbPID"></script>
<script type="text/javascript" src="$sbRoot/js/addShowOptions.js?$sbPID"></script> 

<script type="text/javascript" charset="utf-8">
<!--
\$(document).ready(function(){ 
    \$( "#tabs" ).tabs({
        collapsible: true,
        selected: #if $sickbeard.ROOT_DIRS then '-1' else '0'#
    });
});
//-->
</script>

<div id="tabs">
    <ul>
        <li><a href="#tabs-1">Manage Directories</a></li>
        <li><a href="#tabs-2">Customize Options</a></li>
    </ul>
    <div id="tabs-1">
        #include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_rootDirs.tmpl")
    </div>
    <div id="tabs-2">
        #include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_addShowOptions.tmpl")
    </div>
</div>
<br />

<p class="align-left">Sick Beard can add existing shows, using the current options, by using locally stored NFO/XML metadata to eliminate user interaction.<br />
If you would rather have Sick Beard prompt you to customize each show, then use the checkbox below.</p>
<p class="align-left">
    <input class="cb" type="checkbox" name="promptForSettings" id="promptForSettings" /> <label for="promptForSettings">Prompt me to set settings for each show</label>
</p>

<hr />

<h4>Displaying folders within these directories which aren't already added to Sick Beard:</h4><br/>
<ul id="rootDirStaticList"><li></li></ul>

<br />
<div id="tableDiv"></div>
<br />

<input class="btn btn-primary" type="button" value="Submit" id="submitShowDirs" />
</form>
#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_bottom.tmpl")
