#import os.path
#import urllib
#import sickbeard
#from sickbeard.common import *
#set global $title="New Show"

#set global $sbPath="../.."

<!--#set global $statpath="../.."#-->
<!--#set global $topmenu="home"#-->
#import os.path
#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_top.tmpl")

<link rel="stylesheet" type="text/css" href="$sbRoot/css/formwizard.css" />
<script src="$sbRoot/js/formwizard.js" type="text/javascript"></script>

<script type="text/javascript" src="$sbRoot/js/newShow.js"></script>


<form id="addShowForm" method="post" action="$sbRoot/home/addShows/addNewShow" accept-charset="utf-8">

<fieldset class="sectionwrap">
<legend>Find a show on the TVDB</legend>

<div style="padding: 15px;">
<input type="text" id="nameToSearch" value="$default_show_name" />
<select name="tvdbLang" id="tvdbLangSelect">
<option value="en" selected="selected">en</option>
</select>*
<input type="button" id="searchName" value="Search" /><br />
* <b>Note:</b> This will only affect the language of the TVDB data which affects metadata file contents<br />
and episode filenames. This DOES NOT allow Sick Beard to download non-english files!<br />
<br />
<div id="searchResults" style="height: 225px; overflow: auto;"></div>
<input type="hidden" id="cancelShowItem" value="0" />
</div>
</fieldset>

<fieldset class="sectionwrap">
<legend>Pick the parent folder</legend>

<div>
#if $provided_show_dir:
<b>$provided_show_dir</b> <br />
<input type="hidden" name="fullShowPath" value="$provided_show_dir">
<br />
#else
#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_rootDirs.tmpl")
#end if
</div>
</fieldset>

<fieldset class="sectionwrap">
<legend>Customize options</legend>

<div>
Status for episodes that you don't already have:
<select name="defaultStatus" id="statusSelect">
#for $curStatus in [$SKIPPED, $WANTED, $ARCHIVED, $IGNORED]:
<option value="$curStatus" #if $sickbeard.STATUS_DEFAULT == $curStatus then 'selected="selected"' else ''#>$statusStrings[$curStatus]
#end for
</select>
<br />
<br />
Show Quality:
#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_qualityChooser.tmpl")
<br />
<br />
Season Folders: <input type="checkbox" name="seasonFolders" id="seasonFolders" #if $sickbeard.SEASON_FOLDERS_DEFAULT then "checked=\"checked\"" else ""#><br />
</div>
</fieldset>


#for $curNextDir in $other_dirs:
<input type="hidden" name="other_dirs" value="$curNextDir">
#end for
<input type="hidden" name="skipShow" id="skipShow" value="">
</form>
<br />
<br />
<input type="button" id="addShowButton" value="Add Show">
#if $other_dirs:
<input type="button" id="skipShowButton" value="Skip Show">
#end if
<script type="text/javascript" src="$sbRoot/js/rootDirs.js"></script>

#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_bottom.tmpl")
