#import os.path
#import urllib
#import sickbeard
#from sickbeard.common import *
#set global $title="New Show"

#set global $sbPath="../.."

<!--#set global $statpath="../.."#-->
<!--#set global $topmenu="home"#-->
#import os.path
#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_top.tmpl")

<form id="addShowForm" method="post" action="$sbRoot/home/addShows/addNewShow" accept-charset="utf-8">

Searching for all shows in:<br />
<ul id="rootDirStaticList">
#if $sickbeard.ROOT_DIRS:
#for $cur_dir in $sickbeard.ROOT_DIRS.split('|')[1:]
<li>$cur_dir</li>
#end for
#end if
</ul>
<br />
<a href="#">Click to manage root TV folders</a> (should toggle rootDirDisplay div, doesn't do anything atm)<br />
<br />
<div id="rootDirDisplay" #if $sickbeard.ROOT_DIRS then 'style="display: none"' else ''#>
<script type="text/javascript" src="$sbRoot/js/rootDirs.js"></script>
#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_rootDirs.tmpl")
</div>

<script type="text/javascript" src="$sbRoot/js/addExistingShow.js"></script>

<h2>Select Shows To Add</h2>

<div id="tableDiv"></div>

<input type="button" value="Submit" id="submitShowDirs">

#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_bottom.tmpl")
