#import sickbeard
#import os.path
#import urllib
#set global $title="Add Show from "+$showToAdd

#set global $sbPath="../.."

<!--#set global $statpath="../.."#-->
<!--#set global $topmenu="home"#-->
#import os.path
#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_top.tmpl")

<script type="text/javascript" charset="utf-8">
\$(document).ready(function() 
{ 

  \$('#searchName').click(function(){
        \$.getJSON('$sbRoot/home/addShows/searchTVDBForShowName', {'name': \$('#nameToSearch').val()}, function(data){
            var resultStr = ''
            
            if (data.results.length == 0) {
                resultStr = '<b>No results found, try a different search.</b>';
            } else {
            
                \$.each(data.results, function(index, obj){
                    if (resultStr == '')
                        checked = ' checked';
                    else
                        checked = '';
                    resultStr += '<input type="radio" name="whichSeries" value="' + obj[0] + '"' + checked + ' /> '
                    resultStr += '<a href="http://thetvdb.com/?tab=series&id=' + obj[0] + '" target="_new"><b>' + obj[1] + '</b></a>'
                    if (obj[2] != null)
                        resultStr += ' (started on ' + obj[2] + ')'
                    resultStr += '<br />'
                });
                resultStr += '</ul>'
            }
            \$('#searchResults').html(resultStr)
        });
    });  

    \$('#searchName').click()

    \$('#addShowForm').submit(function(){
        if (!\$("input[name='whichSeries']:checked").val() && \$('#skipShowItem').val() != 1) {
            alert('You must choose a show to continue');
            return false;
        }

        return true;
    });
 
    \$('#skipShow').click(function(){
        \$('#skipShowItem').val(1);
        \$('#addShowForm').submit();
    });
});
</script>

<form id="addShowForm" method="POST" action="$sbRoot/home/addShows/addSingleShow" accept-charset="utf-8">
<input type="submit" value="Continue" id="addShow"> <input type="button" value="Skip" id="skipShow"><br /><br />

<div id="searchResults" width="250"></div>
<br />
<input type="hidden" name="skipShow" id="skipShowItem" value="0">
<input type="hidden" name="showToAdd" value="$showToAdd">
<input type="text" id="nameToSearch" value="$showNameToAdd"> <input type="button" id="searchName" value="Search"><br />
#for $curShow in $showDirs:
<input type="hidden" name="showDirs" value="$curShow">
#end for 
</form>
#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_bottom.tmpl")