<table id="addRootDirTable" class="tablesorter">
  <thead><tr><th width="1%"><input type="checkbox" id="checkAll" checked=checked></th><th>Directory</th><th width="20%">Show Name (tvshow.nfo)</td></tr></thead>
  <tfoot>
    <tr>
      <th rowspan="1" colspan="3" align="left"><a href="#" style="padding-left: 10px;" class="showManage pull-left">Manage Directories</a></th>
    </tr>
  </tfoot>
  <tbody>
#for $curDir in $dirList:
#if $curDir['added_already']:
#continue
#end if

#set $show_id = $curDir['dir']
#if $curDir['existing_info'][0]:
#set $show_id = $show_id + '|' + $str($curDir['existing_info'][0]) + '|' + $curDir['existing_info'][1] 
#end if
  <tr>
    <td><input type="checkbox" id="$show_id" class="dirCheck" checked=checked></td>
    <td><label for="$show_id">$curDir['display_dir']</label></td>
    <td>#if $curDir['existing_info'][0] and $curDir['existing_info'][1] then '<a href="http://thetvdb.com/?tab=series&id='+$str($curDir['existing_info'][0])+'">'+$curDir['existing_info'][1]+'</a>' else "?"#</td>
  </tr>
#end for
  </tbody>
</tbody>
</table>
