#import sickbeard.version
<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <title>Sick Beard - alpha $sickbeard.version.SICKBEARD_VERSION - $title</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="robots" content="noindex">
        <!--[if lt IE 9]>
            <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <link rel="shortcut icon" href="$sbRoot/images/ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="$sbRoot/images/ico/apple-touch-icon-144x144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="$sbRoot/images/ico/apple-touch-icon-114x114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="$sbRoot/images/ico/apple-touch-icon-72x72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="$sbRoot/images/ico/apple-touch-icon-57x57-precomposed.png">

        <link rel="stylesheet" type="text/css" href="$sbRoot/css/lib/bootstrap.css?$sbPID"/>
        <link rel="stylesheet" type="text/css" href="$sbRoot/css/lib/jquery.pnotify.default.css?$sbPID" />
        <link rel="stylesheet" type="text/css" href="$sbRoot/css/lib/jquery-ui-1.11.1.custom.css?$sbPID" />
        <link rel="stylesheet" type="text/css" href="$sbRoot/css/lib/jquery.qtip.css?$sbPID"/>
        <link rel="stylesheet" type="text/css" href="$sbRoot/css/style.css?$sbPID"/>

<style type="text/css">
<!--
#contentWrapper { background: url("$sbRoot/images/bg.png") repeat 0 0 transparent; }

[class^="icon-"], [class*=" icon-"] { background-image: url("$sbRoot/images/glyphicons-halflings.png"); }
.icon-white { background-image: url("$sbRoot/images/glyphicons-halflings-white.png"); }
.dropdown-menu li > a:hover > [class^="icon-"], .dropdown-menu li > a:hover > [class*=" icon-"] { background-image: url("$sbRoot/images/glyphicons-halflings-white.png"); }
[class^="icon16-"], [class*=" icon16-"] { background-image: url("$sbRoot/images/glyphicons-config.png"); }

.ui-autocomplete-loading { background: white url("$sbRoot/images/loading16.gif") right center no-repeat; }
.browserDialog.busy .ui-dialog-buttonpane { background: url("$sbRoot/images/loading.gif") 10px 50% no-repeat !important; }
.ui-dialog, .ui-dialog-buttonpane { background: #eceadf url("$sbRoot/css/lib/images/ui-bg_fine-grain_10_eceadf_60x60.png") 50% 50% repeat !important; }
.ui-accordion-content, .ui-tabs-panel { background: #ededed !important; background-image: none !important; }

.ui-widget-content { background: #dcdcdc url("$sbRoot/css/lib/images/ui-bg_highlight-soft_75_dcdcdc_1x100.png") 50% top repeat-x; }
.ui-widget-header { background: #ffffff url("$sbRoot/css/lib/images/ui-bg_flat_0_ffffff_40x100.png") 50% 50% repeat-x; }

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { background: #efefef url("$sbRoot/css/lib/images/ui-bg_highlight-soft_75_efefef_1x100.png") 50% 50% repeat-x; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { background: #dddddd url("$sbRoot/css/lib/images/ui-bg_highlight-soft_75_dddddd_1x100.png") 50% 50% repeat-x; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { background: #dfdfdf url("$sbRoot/css/lib/images/ui-bg_inset-soft_75_dfdfdf_1x100.png") 50% 50% repeat-x; }

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight { background: #fbf9ee url("$sbRoot/css/lib/images/ui-bg_glass_55_fbf9ee_1x400.png") 50% 50% repeat-x; }
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error { background: #fef1ec url("$sbRoot/css/lib/images/ui-bg_glass_95_fef1ec_1x400.png") 50% 50% repeat-x; }

.ui-icon, .ui-widget-content .ui-icon { background-image: url("$sbRoot/css/lib/images/ui-icons_222222_256x240.png"); }
.ui-widget-header .ui-icon { background-image: url("$sbRoot/css/lib/images/ui-icons_222222_256x240.png"); }
.ui-state-default .ui-icon { background-image: url("$sbRoot/css/lib/images/ui-icons_8c291d_256x240.png"); }
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon { background-image: url("$sbRoot/css/lib/images/ui-icons_222222_256x240.png"); }
.ui-state-active .ui-icon { background-image: url("$sbRoot/css/lib/images/ui-icons_8c291d_256x240.png"); }
.ui-state-highlight .ui-icon { background-image: url("$sbRoot/css/lib/images/ui-icons_2e83ff_256x240.png"); }
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon { background-image: url("$sbRoot/css/lib/images/ui-icons_cd0a0a_256x240.png"); }

.ui-widget-overlay { background: #aaaaaa url("$sbRoot/css/lib/images/ui-bg_flat_0_aaaaaa_40x100.png") 50% 50% repeat-x; }
.ui-widget-shadow { background: #000000 url("$sbRoot/css/lib/images/ui-bg_flat_0_000000_40x100.png") 50% 50% repeat-x; }

#if $sickbeard.NEWEST_VERSION_STRING:
.ui-pnotify { top: 30px !important; }
#end if
//--> 
</style>

    <script type="text/javascript" src="$sbRoot/js/lib/jquery-1.7.2.min.js?$sbPID"></script>
    <script type="text/javascript" src="$sbRoot/js/lib/bootstrap.min.js?$sbPID"></script>
    <script type="text/javascript" src="$sbRoot/js/lib/jquery-ui-1.11.1.custom.min.js?$sbPID"></script>
    <script type="text/javascript" src="$sbRoot/js/lib/jquery.cookie.js?$sbPID"></script>
    <script type="text/javascript" src="$sbRoot/js/lib/jquery.selectboxes.min.js?$sbPID"></script>
    <script type="text/javascript" src="$sbRoot/js/lib/jquery.tablesorter-2.17.8.min.js?$sbPID"></script>
    <script type="text/javascript" src="$sbRoot/js/lib/jquery.tablesorter.widgets-2.17.8.min.js?$sbPID"></script>
    <script type="text/javascript" src="$sbRoot/js/lib/jquery.qtip-2012-04-26.min.js?$sbPID"></script>
    <script type="text/javascript" src="$sbRoot/js/lib/jquery.pnotify-1.2.2.min.js?$sbPID"></script>
    <script type="text/javascript" src="$sbRoot/js/lib/jquery.form-3.50.js?$sbPID"></script>

    <script type="text/javascript" charset="utf-8">
    <!--
        sbRoot = "$sbRoot"; // needed for browser.js & ajaxNotifications.js
        //HTML for scrolltopcontrol, which is auto wrapped in DIV w/ ID="topcontrol"
        top_image_html = '<img src="$sbRoot/images/top.gif" width="31" height="11" alt="Jump to top" />'; 
    //-->
    </script>
    <script type="text/javascript" src="$sbRoot/js/lib/jquery.scrolltopcontrol-1.1.js?$sbPID"></script>
    <script type="text/javascript" src="$sbRoot/js/browser.js?$sbPID"></script>
    <script type="text/javascript" src="$sbRoot/js/ajaxNotifications.js?$sbPID"></script>
    <script type="text/javascript">
    <!--
        \$(document).ready(function() {
            \$("#NAV$topmenu").addClass("active");

            \$("a.confirm").bind("click",function(e) {
                e.preventDefault();
                var target = \$( this ).attr('href');
                if ( confirm("Are you sure you want to " + \$(this).text() + "?") )
                    location.href = target;
                return false;
            });

        });
    //-->
    </script>
</head>

<body>
    <header>
#if $sickbeard.NEWEST_VERSION_STRING:
<div id="upgrade-notification">
    <div>
        <span class="notify-text">$sickbeard.NEWEST_VERSION_STRING</span>
    </div>
</div>
<div id="header-fix"></div>
#end if
<div id="header">
    <a name="top"></a>
    <span id="logo"><a href="$sbRoot/home/" title="Sick Beard homepage"><img alt="Sick Beard" src="$sbRoot/images/sickbeard.png" width="150" height="72" /></a></span>
    <span id="versiontext">alpha <a href="https://github.com/midgetspy/Sick-Beard/wiki/ChangeLog" rel="noreferrer" onclick="window.open('${sickbeard.ANON_REDIRECT}' + this.href, '_blank'); return false;">$sickbeard.version.SICKBEARD_VERSION</a></span>
</div>

    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <!--
                <a class="brand" href="$sbRoot/home/" title="Sick Beard"><img alt="Sick Beard" src="$sbRoot/images/sickbeard.png" width="150" height="72" /></a>
                -->

                <div class="nav-collapse">
                    <ul class="nav">
                        <li class="divider-vertical"></li>
                        <li id="NAVsystem" class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#" onclick="return false;"><img src="$sbRoot/images/menu/system18.png" alt="" width="18" height="18" /> <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="$sbRoot/manage/manageSearches/forceVersionCheck"><i class="icon-check"></i> Force Version Check</a></li>
                                <li class="divider"></li>
                                <li><a href="$sbRoot/home/restart/?pid=$sbPID" class="confirm"><i class="icon-repeat"></i> Restart</a></li>
                                <li class="divider"></li>
                                <li><a href="$sbRoot/home/shutdown/?pid=$sbPID" class="confirm"><i class="icon-off"></i> Shutdown</a></li>
                            </ul>
                        </li>
                        <li class="divider-vertical"></li>
                        <li id="NAVhome" class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle disabled" href="$sbRoot/home/">Home <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="$sbRoot/home/"><i class="icon-home"></i> Home</a></li>
                                <li class="divider"></li>
                                <li><a href="$sbRoot/home/addShows/"><i class="icon-plus-sign"></i> Add Shows</a></li>
                                <li class="divider"></li>
                                <li><a href="$sbRoot/home/postprocess/"><i class="icon-random"></i> Manual Post-Processing</a></li>
                            </ul>
                        </li>
                        <li class="divider-vertical"></li>
                        <li id="NAVcomingEpisodes">
                            <a href="$sbRoot/comingEpisodes/">Coming Episodes</a>
                        </li>
                        <li class="divider-vertical"></li>
                        <li id="NAVhistory">
                            <a href="$sbRoot/history/">History</a>
                        </li>
                        <li class="divider-vertical"></li>
                        <li id="NAVmanage" class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle disabled" href="$sbRoot/manage/">Manage <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="$sbRoot/manage/"><i class="icon-tasks"></i> Mass Update</a></li>
                                <li class="divider"></li>
                                <li><a href="$sbRoot/manage/backlogOverview/"><i class="icon-retweet"></i> Backlog Overview</a></li>
                                <li class="divider"></li>
                                <li><a href="$sbRoot/manage/manageSearches/"><i class="icon-search"></i> Manage Searches</a></li>
                                <li class="divider"></li>
                                <li><a href="$sbRoot/manage/episodeStatuses/"><i class="icon-list-alt"></i> Episode Status Management</a></li>
                            </ul>
                        </li>
                        <li class="divider-vertical"></li>
                        <li id="NAVconfig" class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle disabled" href="$sbRoot/config/">Config <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="$sbRoot/config/"><i class="icon-question-sign"></i> Help &amp; Info</a></li>
                                <li class="divider"></li>
                                <li><a href="$sbRoot/config/general/"><i class="icon-cog"></i> General</a></li>
                                <li class="divider"></li>
                                <li><a href="$sbRoot/config/search/"><i class="icon-cog"></i> Search Settings</a></li>
                                <li class="divider"></li>
                                <li><a href="$sbRoot/config/providers/"><i class="icon-cog"></i> Search Providers</a></li>
                                <li class="divider"></li>
                                <li><a href="$sbRoot/config/postProcessing/"><i class="icon-cog"></i> Post Processing</a></li>
                                <li class="divider"></li>
                                <li><a href="$sbRoot/config/notifications/"><i class="icon-cog"></i> Notifications</a></li>
                            </ul>
                        </li>
                        <li class="divider-vertical"></li>
                        <li id="NAVerrorlogs" class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle disabled" href="$sbRoot/errorlogs/">$logPageTitle <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="$sbRoot/errorlogs/"><i class="icon-file"></i> View Log (Errors)</a></li>
                                <li class="divider"></li>
                                <li><a href="$sbRoot/errorlogs/viewlog/"><i class="icon-file"></i> View Log</a></li>
                            </ul>
                        </li>
                        <li class="divider-vertical"></li>
                    </ul>
                    <ul class="nav pull-right">
                        <li>
                            <a id="navDonate" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=JA8M7VDY89SQ4" rel="noreferrer" onclick="window.open('${sickbeard.ANON_REDIRECT}' + this.href); return false;"><img src="$sbRoot/images/paypal/btn_donate_LG.gif" alt="[donate]" height="26" width="92" /></a>
                        </li>
                    </ul>
                </div><!-- /nav-collapse -->

            </div><!-- /container -->
        </div><!-- /navbar-inner -->
    </div><!-- /navbar -->

#if $varExists('submenu'):
    <div id="SubMenu">
        <span>
    #set $first = True
    #for $menuItem in $submenu:
        #if 'requires' not in $menuItem or $menuItem.requires():
            #if type($menuItem.path) == dict:
                #if $first then "" else "</span>| <span>"#<b>$menuItem.title</b>
                #set $first = False
                #set $inner_first = True
                #for $cur_link in $menuItem.path:
                    #if $inner_first then "" else "&middot; "#<a class="inner" href="$sbRoot/$menuItem.path[$cur_link]">$cur_link</a>
                    #set $inner_first = False
                #end for
            #else
                #if $first then "" else "| "#<a href="$sbRoot/$menuItem.path" #if 'confirm' in $menuItem then "class=\"confirm\"" else "" #>$menuItem.title</a>
                #set $first = False
            #end if
        #end if
    #end for
        </span>
    </div>
#end if
    </header>

<div id="contentWrapper">
    <div id="content">
    <h1 class="title">#if $varExists('header') then $header else $title#</h1>
