#import sickbeard
#import datetime
#from sickbeard import db
#from sickbeard.common import *
    </div> <!-- /content -->
</div> <!-- /contentWrapper -->

<footer>
    <div class="container footer">
        #set $myDB = $db.DBConnection()
        #set $today = str($datetime.date.today().toordinal())
        #set status_quality = '(' + ','.join([str(quality) for quality in $Quality.SNATCHED + $Quality.SNATCHED_PROPER]) + ')'
        #set status_download = '(' + ','.join([str(quality) for quality in $Quality.DOWNLOADED + [$ARCHIVED]]) + ')'

        #set $sql_statement = 'SELECT '

        #set $sql_statement += '(SELECT COUNT(*) FROM tv_episodes WHERE season > 0 AND episode > 0 AND airdate > 1 AND status IN ' + $status_quality + ') AS ep_snatched, '
        #set $sql_statement += '(SELECT COUNT(*) FROM tv_episodes WHERE season > 0 AND episode > 0 AND airdate > 1 AND status IN ' + $status_download + ') AS ep_downloaded, '

        #set $sql_statement += '(SELECT COUNT(*) FROM tv_episodes WHERE season > 0 AND episode > 0 AND airdate > 1 '
        #set $sql_statement += ' AND ((airdate <= ' + $today + ' AND (status = ' + str($SKIPPED) + ' OR status = ' + str($WANTED) + ')) '
        #set $sql_statement += ' OR (status IN ' + status_quality + ') OR (status IN ' + status_download + '))) AS ep_total '

        #set $sql_statement += ' FROM tv_episodes tv_eps LIMIT 1'

        #set $sql_result = $myDB.select($sql_statement)

        #set $shows_total = len($sickbeard.showList)
        #set $shows_active = len([show for show in $sickbeard.showList if show.paused == 0 and show.status != "Ended"])

        #if $sql_result:
            #set $ep_snatched = $sql_result[0]['ep_snatched']
            #set $ep_downloaded = $sql_result[0]['ep_downloaded']
            #set $ep_total = $sql_result[0]['ep_total']
        #else
            #set $ep_snatched = 0
            #set $ep_downloaded = 0
            #set $ep_total = 0
        #end if

        <b>$shows_total shows</b> ($shows_active active) | <b><%=ep_downloaded%></b>#if $ep_snatched > 0 then " (+" + str($ep_snatched) + " snatched)" else ""#<b> / $ep_total</b> episodes downloaded
        <br />
        <b>Search</b>: <%=str(sickbeard.currentSearchScheduler.timeLeft()).split('.')[0]%> |
        <b>Backlog</b>: $sickbeard.backlogSearchScheduler.nextRun().strftime("%Y-%m-%d")
    </div> <!-- /container footer -->
</footer>
</body>
</html>
