#import sickbeard
#from sickbeard.common import Quality, qualityPresets, qualityPresetStrings

<script type="text/javascript" src="$sbRoot/js/qualityChooser.js?$sbPID"></script>

<div class="field-pair">
    <label for="qualityPreset" class="nocheck clearfix">
#set $overall_quality = $Quality.combineQualities($anyQualities, $bestQualities)
<span class="component-title">
#set $selected = None
<select id="qualityPreset">
<option value="0">Custom</option>
#for $curPreset in sorted($qualityPresets):
<option value="$curPreset" #if $curPreset == $overall_quality then "selected=\"selected\"" else ""#>$qualityPresetStrings[$curPreset]</option>
#end for
</select>
</span>
<span class="component-desc">Preferred quality of episodes to be download</span>

    </label>
</div>

<div id="customQualityWrapper">

<div id="customQuality">
    <div class="component-group-desc">
        <p>One of the <b>Initial</b> quality selections must be obtained before Sick Beard will attempt to process the <b>Archive</b> selections.</p>
    </div>

        <div style="padding-right: 40px; text-align: center;" class="float-left">
            <h4>Initial</h4>
            #set $anyQualityList = filter(lambda x: x > $Quality.NONE, $Quality.qualityStrings)
            <select id="anyQualities" name="anyQualities" multiple="multiple" size="$len($anyQualityList)">
            #for $curQuality in sorted($anyQualityList):
                <option value="$curQuality" #if $curQuality in $anyQualities then "selected=\"selected\"" else ""#>$Quality.qualityStrings[$curQuality]</option>
            #end for
            </select>
        </div>

        <div style="text-align: center;" class="float-left">
            <h4>Archive</h4>
            #set $bestQualityList = filter(lambda x: x > $Quality.SDTV, $Quality.qualityStrings)
            <select id="bestQualities" name="bestQualities" multiple="multiple" size="$len($bestQualityList)">
            #for $curQuality in sorted($bestQualityList):
                <option value="$curQuality" #if $curQuality in $bestQualities then "selected=\"selected\"" else ""#>$Quality.qualityStrings[$curQuality]</option>
            #end for
            </select>
        </div>
    </div>
</div><br />
