

<span class="SubMenu">

<a href="$sbPath/config/general/">General</a> |
<a href="$sbPath/config/episodedownloads/">Episode Downloads</a> |
<a href="$sbPath/config/providers/">Search Providers</a> |
<a href="$sbPath/config/notifications/">Notifications</a> |

</span>
