<!--#if $submenu == ""#-->
    <!--#set $cpath="."#-->
<!--#else#-->
    <!--#set $cpath=".."#-->
<!--#end if#-->

<span class="SubMenu">
<!--#if $submenu=="general"#-->
    <a class="current" href="./">General</a> |
<!--#else#-->
    <a href="$cpath/general/">General</a> |
<!--#end if#-->

<!--#if $submenu=="nzbtorrent"#-->
    <a class="current" href="./">NZB/Torrent</a> |
<!--#else#-->
    <a href="$cpath/nzbtorrent/">NZB/Torrent</a> |
<!--#end if#-->

<!--#if $submenu=="providers"#-->
    <a class="current" href="./">NZB Providers</a> |
<!--#else#-->
    <a href="$cpath/providers/">NZB Providers</a> |
<!--#end if#-->

<!--#if $submenu=="irc"#-->
    <a class="current" href="./">IRC Bot</a> |
<!--#else#-->
    <a href="$cpath/irc/">IRC Bot</a> |
<!--#end if#-->

<!--#if $submenu=="notifications"#-->
    <a class="current" href="./">Notifications</a> |
<!--#else#-->
    <a href="$cpath/notifications/">Notifications</a> |
<!--#end if#-->

</span>
