#import sickbeard
<!--#if $submenu == ""#-->
    <!--#set $cpath="../"#-->
<!--#else#-->
    <!--#set $cpath="/home/"#-->
<!--#end if#-->

<span class="SubMenu">

<a href="$sbPath/home/addShows/">Add Shows</a> |
<a href="$sbPath/home/postprocess/">Manual Post-processing</a> |
#if $sickbeard.XBMC_HOST != None and len($sickbeard.XBMC_HOST) > 0:
<a href="$sbPath/home/updateXBMC/">Update XBMC</a> |
#end if

<a href="$sbPath/home/shutdown/" onclick="javascript:return confirm('Are you sure you want to shutdown Sick Beard?')">Shutdown</a>

</span>
