#import sickbeard
#from sickbeard import common
#from sickbeard.common import *
#from sickbeard import subtitles

		#if $sickbeard.USE_SUBTITLES:
        <div class="field-pair alt">
            <input type="checkbox" name="subtitles" id="subtitles" #if $sickbeard.SUBTITLES_DEFAULT then "checked=\"checked\"" else ""# />
            <label for="subtitles" class="clearfix">
                <span class="component-title">Subtitles</span>
                <span class="component-desc">Download subtitles for this show?</span>
            </label>
        </div>
        #end if
        
        <div class="field-pair">
            <label for="statusSelect" class="nocheck clearfix">
                <span class="component-title">
                    <select name="defaultStatus" id="statusSelect">
                    #for $curStatus in [$SKIPPED, $WANTED, $ARCHIVED, $IGNORED]:
                        <option value="$curStatus" #if $sickbeard.STATUS_DEFAULT == $curStatus then 'selected="selected"' else ''#>$statusStrings[$curStatus]</option>
                    #end for
                    </select>
                </span>
                <span class="component-desc">Set the initial status of missing episodes</span>
            </label>
        </div>

        <div class="field-pair alt">
            <input class="cb" type="checkbox" name="flatten_folders" id="flatten_folders" #if $sickbeard.FLATTEN_FOLDERS_DEFAULT then "checked=\"checked\"" else ""# />
            <label for="flatten_folders" class="clearfix">
                <span class="component-title">Flatten Folders</span>
                <span class="component-desc">Disregard sub-folders?</span>
            </label>
        </div>
        

        #set $qualities = $Quality.splitQuality($sickbeard.QUALITY_DEFAULT)
        #set global $anyQualities = $qualities[0]
        #set global $bestQualities = $qualities[1]
        #include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_qualityChooser.tmpl")
		<div class="field-pair">
            <label for="showLangSelect" class="nocheck clearfix">
                <span class="component-title">
                    <select name="audio_lang" id="showLangSelect">
                   #for $k,$v in $common.showLanguages.iteritems():
					#if k!="":
					<option value="$k"
					#if $sickbeard.AUDIO_SHOW_DEFAULT == $k  then 'selected="selected"' else ''#>$v</option>
					#end if
					#end for
					</select>
                </span>
                <span class="component-desc">Set the desired audio language of the show (this can be changed later)</span>
            </label>
        </div>
		
	    <div class="field-pair alt">
            <label for="saveDefaultsButton" class="nocheck clearfix">
                <span class="component-title"><input class="btn" type="button" id="saveDefaultsButton" value="Save Defaults" disabled="disabled" /></span>
                <span class="component-desc">Persist current values as the defaults</span>
            </label>
        </div>
