
        <div class="field-pair">
            <label for="dailytvtorrents_show_name" class="clearfix">
                <span class="component-title" style="line-height: 28px; width: 320px;">
                    DailyTvTorrents Feed Name (optional): 
                </span>
                <input type="text" name="dailytvtorrents_show_name" id="dailytvtorrents_show_name" value="" size="50" />
                <span class="component-desc" style="margin-left: 340px; margin-top: 10px;">
                    For some shows, DailyTvTorrents uses a slightly different name for its RSS feed (eg. 'once-upon-a-time' instead of 'once-upon-a-time-2011'). You can manually specify the correct name here.
                </span>
            </label>
        </div>
