#import sickbeard
<!--#if $submenu == ""#-->
    <!--#set $cpath="/home"#-->
<!--#else#-->
    <!--#set $cpath="/home"#-->
<!--#end if#-->

<span class="SubMenu">
<!--#if $submenu=="addShows"#-->
    <a class="current" href="./">Add Shows</a> |
<!--#else#-->
    <a href="$cpath/addShows">Add Shows</a> |
<!--#end if#-->

<!--#if $submenu=="postprocess"#-->
    <a class="current" href="./">Manual Postprocessing</a> |
<!--#else#-->
    <a href="$cpath/postprocess">Manual Postprocessing</a> |
<!--#end if#-->

#if $sickbeard.XBMC_HOST != None and len($sickbeard.XBMC_HOST) > 0:
<!--#if $submenu=="updateXBMC"#-->
    <a class="current" href="./">Update XBMC</a> |
<!--#else#-->
    <a href="$cpath/updateXBMC">Update XBMC</a> |
<!--#end if#-->
#end if

<a href="$cpath/shutdown" onclick="javascript:return confirm('Are you sure you want to shutdown Sick Beard?')">Shutdown</a>

</span>
