#import sickbeard.version
#import sickbeard

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN">
<html>
<head>
    <title>Sick Beard - alpha $sickbeard.version.SICKBEARD_VERSION - $title</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="SHORTCUT ICON" href="$sbRoot/images/favicon.ico"/>
    <link rel="apple-touch-icon" href="$sbRoot/images/sickbeard_touch_icon.png"/>
    <link rel="stylesheet" type="text/css" href="$sbRoot/css/jquery.autocomplete.css" />
    <link rel="stylesheet" type="text/css" href="$sbRoot/css/default.css"/>
    <link rel="stylesheet" type="text/css" href="$sbRoot/css/defaultcolors.css"/>
    <link rel="stylesheet" type="text/css" href="$sbRoot/css/comingEpisodes.css" />
    <link rel="stylesheet" type="text/css" href="$sbRoot/css/tablesorter.css"/>
    <link rel="stylesheet" type="text/css" href="$sbRoot/css/pepper-grinder/jquery-ui-1.8.7.custom.css" />
    <link rel="stylesheet" type="text/css" href="$sbRoot/css/browser.css" />
    <link rel="stylesheet" type="text/css" media="only screen and (max-device-width: 480px)" href="$sbRoot/css/iphone.css" />
    <link rel="stylesheet" type="text/css" href="$sbRoot/css/config.css" />
    <script type="text/javascript" src="$sbRoot/js/jquery-1.4.4.min.js"></script>
    <script type="text/javascript" src="$sbRoot/js/jquery-ui-1.8.7.custom.min.js"></script>
    <script type="text/javascript" src="$sbRoot/js/jquery.tablesorter-2.0.3.min.js"></script>
    <script type="text/javascript" src="$sbRoot/js/jquery.selectboxes.min.js"></script>
    <script type="text/javascript" src="$sbRoot/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="$sbRoot/js/jquery.cookiejar.js"></script>
    <script type="text/javascript" src="$sbRoot/js/jquery.json-2.2.min.js"></script>
    <script type='text/javascript' src='$sbRoot/js/tools.tooltip-1.2.5.min.js'></script>
    <script type='text/javascript' src='$sbRoot/js/jquery.autocomplete.min.js'></script>
    <script type="text/javascript" src="$sbRoot/js/browser.js"></script>

    <style type="text/css">

    <!--

    .tvshowDiv {
        width: 606px;
        display: block;
        clear: both;
        border-left: 1px solid #CCCCCC;
        border-right: 1px solid #CCCCCC;
        border-bottom: 1px solid #CCCCCC;
        margin: auto;
        padding: 0px;
        text-align: left;
    }

    .tvshowDiv a, .tvshowDiv a:link, .tvshowDiv a:visited, .tvshowDiv a:hover  {
        text-decoration: none;
        background: none;
    }

    .tvshowTitle {
        float: left; 
        padding-top: 5px; 
        padding-left: 8px; 
        line-height: 18px;
        font-size: 18px;
    }

    .tvshowTitleIcons {
        float: right;
        padding: 5px 10px 0px 0px;
    }

    .tvshowDiv .title { font-weight: 900; color: #333; }

    .posterThumb {
        background-image: url("images/poster.png");
        height: 200px;
        width: 136px;
        border-top: 1px solid #ccc; 
        border-right: 1px solid #ccc;
    }
    .bannerThumb {
        background-image: url("images/poster.png");
        height: 112px;
        width: 606px;
        /* margin-bottom: 1px; */
    }

    th {
        color: #000;
        letter-spacing: 1px;
        text-align: left;
        background-color: #333333;
/*
        background: url("images/hMids.gif") repeat-x scroll 0 0 transparent;
        background-position: 0 -196px;
*/
    }

    th.nobg {
        background: #efefef;
        border-top: 1px solid #666;
    }
    td {
        border-top: 1px solid #d2ebe8;
        background: #fff;
        padding: 10px;
        color: #000;
    }

    td.next_episode {
        border-top: 1px solid #ccc;
        background: #F5FAFA;
        color: #000;
    }

    .ep_listing {
        width: auto;
        border: 1px solid #CCCCCC;
        margin-bottom: 10px;
        /* margin: 10px; */
        overflow: hidden;
        padding: 10px;
    }

    h1.day {
        font-weight: bold;
        padding: 4px;
        letter-spacing: 1px;
        background-color: #9CB5CF;
        color: #000;
        text-align: center;
        margin-top: 0px;
    }

    h1.later {
        background: url("../images/hMids.gif") repeat-x scroll 0 -252px transparent;
        font-weight: bold;
        padding: 4px;
        letter-spacing: 1px;
        background-color: #9CB5CF;
        color: #000;
        text-align: center;
    }

    h1.missed {
        background: url("../images/hMids.gif") repeat-x scroll 0 -224px transparent;
        font-weight: bold;
        padding: 4px;
        letter-spacing: 1px;
        background-color: #9CB5CF;
        color: #000;
        text-align: center;
    }

    h1.network {
        background: url("../images/hMids.gif") repeat-x scroll 0 -112px transparent;
        font-weight: bold;
        padding: 4px;
        letter-spacing: 1px;
        background-color: #9CB5CF;
        color: #000;
        text-align: center;
    }

    .listing_default{
        background-color: #e5e5e5;
    }

    -->
    </style>
</head>

<body>
<a name="top">
#if $sickbeard.VERSION_NOTIFY or $sickbeard.NEWEST_VERSION_STRING:
<div id="upgrade-notification">
    <div>
        <span class="notify-text">$sickbeard.NEWEST_VERSION_STRING</span>
    </div>
</div>
<div id="header-fix"></div>
#end if
<div id="header">
    <span id="logo"><a href="$sbRoot/home/" title="Sick Beard homepage"><img alt="Sick Beard" src="$sbRoot/images/sickbeard_small.png" width="150"></a></span>
    <span id="versiontext">alpha $sickbeard.version.SICKBEARD_VERSION</span>
</div>
<span class="MainMenu">
    #for $menuItem in $menu:
        #if $topmenu == $menuItem.key
            <a class="current" href="$sbRoot/$menuItem.key">$menuItem.title</a> |
        #else
            <a href="$sbRoot/$menuItem.key">$menuItem.title</a> |
        #end if
    #end for
    <br />
</span>
    <span id="tagline"><a class="imgLink" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=JA8M7VDY89SQ4" target="_new"><img src="https://www.paypal.com/en_US/i/btn/btn_donate_LG.gif" border="0"></a></span>	
#if $varExists('submenu'):
<span class="SubMenu">
#for $menuItem in $submenu:
    #if 'requires' not in $menuItem or $menuItem.requires():
    <a href="$sbRoot/$menuItem.path">$menuItem.title</a> |
    #end if
#end for
</span>
#end if

<div style="padding: 15px;">
<h1>#if $varExists('header') then $header else $title#</h1>	

#for $curMessage in $flash.messages():
<br />
<div class="message ui-state-highlight ui-corner-all">
    <p><span class="ui-icon ui-icon-info"></span>$curMessage[0]</p>
    $curMessage[1]
</div>
#end for

#for $curError in $flash.errors():
<br />
<div class="message ui-state-error ui-corner-all">
    <p><span class="ui-icon ui-icon-alert"></span>$curError[0]</p>
    $curError[1]
</div>
#end for
