#import sickbeard
#import datetime
#from sickbeard import db
#from sickbeard.common import *
    </div> <!-- /content -->
</div> <!-- /contentWrapper -->

<footer>
    <div class="container footer">
        #set $myDB = $db.DBConnection()
        #set $today = str($datetime.date.today().toordinal())
        #set $numShows = len($sickbeard.showList)
        #set $numGoodShows = len([x for x in $sickbeard.showList if x.paused == 0 and x.status != "Ended"])
        #set $numDLEpisodes = $myDB.select("SELECT COUNT(*) FROM tv_episodes WHERE status IN ("+",".join([str(x) for x in $Quality.DOWNLOADED + [$ARCHIVED]])+") AND season != 0 and episode != 0 AND airdate <= " + $today + "")[0][0]
        #set $numEpisodes = $myDB.select("SELECT COUNT(*) FROM tv_episodes WHERE season != 0 and episode != 0 AND (airdate != 1 OR status IN ("+",".join([str(x) for x in ($Quality.DOWNLOADED + $Quality.SNATCHED + $Quality.SNATCHED_PROPER) + [$ARCHIVED]]) + ")) AND airdate <= " + $today + " AND status != " + str($IGNORED) + "")[0][0]
        <b>$numShows shows</b> ($numGoodShows active) | <b>$numDLEpisodes/$numEpisodes</b> episodes downloaded 
        <br />
        <b>Search</b>: <%=str(sickbeard.currentSearchScheduler.timeLeft()).split('.')[0]%> |
        <b>Backlog</b>: $sickbeard.backlogSearchScheduler.nextRun().strftime("%a %b %d").decode($sickbeard.SYS_ENCODING)
    </div> <!-- /container footer -->
</footer>

</body>
</html>
