#import sickbeard
#import datetime
#from sickbeard.common import *
#set global $title="Manage Searches"

#set global $sbPath=".."

#set global $topmenu="manage"#
#import os.path
#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_top.tmpl")

<script type="text/javascript" src="$sbRoot/js/plotTooltip.js"></script>


<div id="is_alive"></div>
<input type="button" id="doit" value="Do it">


<b>Backlog Search:</b><br />

#if not $backlogRunning:
Not in progress<br />
#else:
#if $backlogPaused then "Paused: " else ""#
Currently running<br />
#end if
<a href="$sbRoot/manage/manageSearches/pauseBacklog?paused=#if $backlogPaused then "0" else "1"#">#if $backlogPaused then "Unpause" else "Pause"#</a><br />
<br />
<b>Daily Episode Search:</b><br />
#if not $searchStatus:
Not in progress (<a href="$sbRoot/manage/manageSearches/forceSearch">force</a>)<br />
#else:
In Progress<br />
#end if
<br />
<b>Version Check:</b><br />
<a href="$sbRoot/manage/manageSearches/forceVersionCheck">Force version check</a><br />
<br />
<br />

#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_bottom.tmpl")
