#import sickbeard
#import datetime
#from sickbeard import common
#set global $title="Episode Overview"

#set global $sbPath=".."

#set global $topmenu="manage"#
#import os.path
#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_top.tmpl")

<form action="$sbRoot/manage/episodeStatuses" method="get">
Manage episodes with status <select name="whichStatus">
#for $curStatus in [$common.SKIPPED, $common.SNATCHED, $common.WANTED, $common.ARCHIVED, $common.IGNORED]:
<option value="$curStatus"#if $curStatus == $whichStatus then " selected=\"selected\"" else ""#>$common.statusStrings[$curStatus]</option>
#end for
</select>
<input class="btn" type="submit" value="Manage" /> 
</form>

#if $whichStatus and not $ep_counts:
<br />

<h3>None of your episodes have status $common.statusStrings[$int($whichStatus)]</h3>
#elif $whichStatus and $ep_counts:
<br />

<h3>Shows containing $common.statusStrings[$int($whichStatus)] episodes</h3>

<script type="text/javascript" src="$sbRoot/js/manageEpisodeStatuses.js?$sbPID"></script>

<br />

<form action="$sbRoot/manage/changeEpisodeStatuses" method="post">

<table class="sickbeardTable" cellspacing="1" border="0" cellpadding="0">
    #for $cur_tvdb_id in $sorted_show_ids:
<tr id="$cur_tvdb_id">
<th><input type="checkbox" class="allCheck" id="allCheck-$cur_tvdb_id" name="$cur_tvdb_id-all" checked="checked" /></th>
<th colspan="2" style="width: 100%; text-align: left;"><a class="whitelink" href="$sbRoot/home/displayShow?show=$cur_tvdb_id">$show_names[$cur_tvdb_id]</a> ($ep_counts[$cur_tvdb_id]) <input type="button" class="btn get_more_eps" id="$cur_tvdb_id" value="Expand" /></th>
</tr>
    #end for
</table>

<input type="hidden" id="oldStatus" name="oldStatus" value="$whichStatus" />
#if $whichStatus in ($common.ARCHIVED, $common.IGNORED, $common.SNATCHED):
#set $row_class = "good"
#else
#set $row_class = $common.Overview.overviewStrings[$whichStatus]
#end if
<input type="hidden" id="row_class" value="$row_class" />
<br />
Set checked shows/episodes to <select name="newStatus">
#set $statusList = [$common.SKIPPED, $common.WANTED, $common.ARCHIVED, $common.IGNORED]
#if $int($whichStatus) in $statusList
$statusList.remove($int($whichStatus))
#end if

#for $curStatus in $statusList:
<option value="$curStatus">$common.statusStrings[$curStatus]</option>
#end for
</select>
<input class="btn" type="submit" value="Go" />
</form>

#end if

#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_bottom.tmpl")
