#import sickbeard
#from sickbeard import common
#from sickbeard import exceptions
#set global $title="Mass Edit"
#set global $header="Mass Edit"

#set global $sbPath=".."

#set global $topmenu="manage"#
#import os.path
#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_top.tmpl")
#if $quality_value != None:
#set $initial_quality = int($quality_value)
#else:
#set $initial_quality = $common.SD
#end if
#set $anyQualities, $bestQualities = $common.Quality.splitQuality($initial_quality)
<script type="text/javascript" src="$sbRoot/js/qualityChooser.js?$sbPID"></script>
<script type="text/javascript" src="$sbRoot/js/massEdit.js?$sbPID"></script>

<form action="massEditSubmit" method="post">
<input type="hidden" name="toEdit" value="$showList" />

<div class="optionWrapper clearfix">
<span class="selectTitle">Root Directories <span class="separator">*</span></span><br />
        #for $cur_dir in $root_dir_list:
        #set $cur_index = $root_dir_list.index($cur_dir)
        <div style="padding: 6px 0 3px 25px;">
            <input class="btn edit_root_dir" type="button" id="edit_root_dir_$cur_index" value="Edit" />
            $cur_dir => <span id="display_new_root_dir_$cur_index">$cur_dir</span>
        </div>
        <input type="hidden" name="orig_root_dir_$cur_index" value="$cur_dir" />
        <input type="text" style="display: none" name="new_root_dir_$cur_index" id="new_root_dir_$cur_index" class="new_root_dir" value="$cur_dir" />
        #end for

</div>

<div class="optionWrapper clearfix alt container">
<span class="selectTitle">Quality</span>
    <div class="selectChoices">
        <select id="qualityPreset" name="quality_preset">
            <option value="keep">&lt; keep &gt;</option>
            #set $selected = None
            <option value="0"  #if $quality_value != None and $quality_value not in $common.qualityPresets then "selected=\"selected\"" else ""#>Custom</option>
            #for $curPreset in sorted($common.qualityPresets):
            <option value="$curPreset" #if $quality_value == $curPreset then "selected=\"selected\"" else ""#>$common.qualityPresetStrings[$curPreset]</option>
            #end for
        </select>
    </div>

    <div id="customQuality">
        <div style="width: 50%; text-align: center;" class="float-left">
        <h4>Inital</h4>
            #set $anyQualityList = filter(lambda x: x > $common.Quality.NONE, $common.Quality.qualityStrings)
            <select id="anyQualities" name="anyQualities" multiple="multiple" size="len($anyQualityList)">
            #for $curQuality in sorted($anyQualityList):
            <option value="$curQuality" #if $curQuality in $anyQualities then "selected=\"selected\"" else ""#>$common.Quality.qualityStrings[$curQuality]</option>
            #end for
            </select>
        </div>
        <div style="width: 50%; text-align: center;" class="float-left">
        <h4>Archive</h4>
            #set $bestQualityList = filter(lambda x: x > $common.Quality.SDTV and x < $common.Quality.UNKNOWN, $common.Quality.qualityStrings)
            <select id="bestQualities" name="bestQualities" multiple="multiple" size="len($bestQualityList)">
            #for $curQuality in sorted($bestQualityList):
            <option value="$curQuality" #if $curQuality in $bestQualities then "selected=\"selected\"" else ""#>$common.Quality.qualityStrings[$curQuality]</option>
            #end for
            </select>
        </div>
    </div>
</div>

<div class="optionWrapper clearfix">
<span class="selectTitle">Flatten Folders <span class="separator">*</span></span>
    <div class="selectChoices">
        <select id="edit_flatten_folders" name="flatten_folders">
            <option value="keep">&lt; keep &gt;</option>
            <option value="enable" #if $flatten_folders_value then "selected=\"selected\"" else ""#>enable</option>
            <option value="disable" #if $flatten_folders_value == False then "selected=\"selected\"" else ""#>disable</option>
        </select>
    </div>
</div>

<div class="optionWrapper clearfix alt">
    <span class="selectTitle">Paused</span>
    <div class="selectChoices">
        <select id="edit_paused" name="paused">
            <option value="keep">&lt; keep &gt;</option>
            <option value="enable" #if $paused_value then "selected=\"selected\"" else ""#>enable</option>
            <option value="disable" #if $paused_value == False then "selected=\"selected\"" else ""#>disable</option>
        </select>
    </div><br />
</div>

<div class="optionWrapper clearfix">
    <span class="selectTitle">Skip Notices</span>
    <div class="selectChoices">
        <select id="edit_skip_notices" name="skip_notices">
            <option value="keep">&lt; keep &gt;</option>
            <option value="enable" #if $skip_notices_value then "selected=\"selected\"" else ""#>enable</option>
            <option value="disable" #if $skip_notices_value == False then "selected=\"selected\"" else ""#>disable</option>
        </select>
    </div><br />
</div>

<div class="optionWrapper clearfix">
    <br /><span class="separator" style="font-size: 1.2em; font-weight: 700;">*</span>
    Changing these settings will cause the selected shows to be refreshed.
</div>

<div class="optionWrapper clearfix" style="text-align: center;">
    <input class="btn btn-primary" type="submit" value="Submit" /><br />
</div>

</form>
<br />

#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_bottom.tmpl")
