#import sickbeard
#import datetime
#from sickbeard.common import *
#set global $title="Manage Shows"

#set global $sbPath=".."

<!--#set global $topmenu="manageShows"#-->
#import os.path
#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_top.tmpl")

aoeu

#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_bottom.tmpl")