#import sickbeard
#import datetime
#from sickbeard import common
#set global $title="Episode Overview"

#set global $sbPath=".."

#set global $topmenu="manage"#
#import os.path
#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_top.tmpl")


<script type="text/javascript" src="$sbRoot/js/manageCherryPickPaused.js"></script>

<form action="$sbRoot/manage/changeCherryPickPaused" method="POST">

<h2>Paused Shows containing unaired episodes</h2>

<br/ >

Set checked shows/episodes to <select name="newStatus">
#set $statusList = [$common.WANTED, $common.UNAIRED]
#for $curStatus in $statusList:
<option value="$curStatus">$common.statusStrings[$curStatus]</option>
#end for
</select>
<input type="submit" value="Go">
<br />
<br />
<br />

<table class="sickbeardTable" cellspacing="1" border="0" cellpadding="0">
#for $cur_tvdb_id in $sorted_show_ids:
 <tr id="$cur_tvdb_id">
  <th><input type="checkbox" class="allCheck" id="allCheck-$cur_tvdb_id" name="$cur_tvdb_id-all"></th>
  <th colspan="3" style="width: 100%; text-align: left;"><a class="whitelink" href="$sbRoot/home/displayShow?show=$cur_tvdb_id">$show_names[$cur_tvdb_id]</a> ($ep_counts[$cur_tvdb_id]) <input type="button" class="get_more_eps" id="$cur_tvdb_id" value="Expand"></th>
 </tr>
#end for
</table>
</form>


#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_bottom.tmpl")
