#import sickbeard
#import datetime
#from sickbeard.common import *
#set global $title="Backlog Overview"

#set global $sbPath=".."

#set global $topmenu="manage"#
#import os.path
#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_top.tmpl")

#set $totalWanted = 0
#set $totalQual = 0

#for $curShow in $sickbeard.showList:
#set $totalWanted = $totalWanted + $showCounts[$curShow.tvdbid][$Overview.WANTED]
#set $totalQual = $totalQual + $showCounts[$curShow.tvdbid][$Overview.QUAL]
#end for

<div class="h2footer align-right">
    <span class="wanted nowrap">Wanted: <b>$totalWanted</b></span>
    <span class="qual nowrap">Low Quality: <b>$totalQual</b></span>
</div><br/>

<table class="sickbeardTable" cellspacing="1" border="0" cellpadding="0">

#for $curShow in sorted($sickbeard.showList, key=operator.attrgetter('name')):

#if $showCounts[$curShow.tvdbid][$Overview.QUAL]+$showCounts[$curShow.tvdbid][$Overview.WANTED] == 0:
#continue
#end if

  <tr>
    <td colspan="3" class="align-left">
        <br/>
        <h2 class="backlogShow">
            <a href="$sbRoot/home/displayShow?show=$curShow.tvdbid">$curShow.name</a>
        </h2>
        <div class="float-right clearfix">
            <label for="wanted" class="checkbox inline wanted">Wanted: <b>$showCounts[$curShow.tvdbid][$Overview.WANTED]</b></label>
            <label for="qual" class="checkbox inline qual">Low Quality: <b>$showCounts[$curShow.tvdbid][$Overview.QUAL]</b></label>
            <a class="btn btn-mini btn-inverse forceBacklog" href="$sbRoot/manage/backlogShow?tvdb_id=$curShow.tvdbid"><i class="icon-play-circle icon-white"></i> Force Backlog</a>
        </div>
    </td>
  </tr>

  <tr><th>Episode</th><th>Name</th><th class="nowrap">Airdate</th></tr>

#for $curResult in $showSQLResults[$curShow.tvdbid]:
#set $whichStr = $str($curResult["season"]) + "x" + $str($curResult["episode"])
#set $overview = $showCats[$curShow.tvdbid][$whichStr]
#if $overview not in ($Overview.QUAL, $Overview.WANTED):
#continue
#end if
  <tr class="$Overview.overviewStrings[$showCats[$curShow.tvdbid][$whichStr]]">
    <td align="center">$whichStr</td>
    <td>$curResult["name"]</td>
    <td align="center" class="nowrap">#if int($curResult["airdate"]) == 1 then "never" else $datetime.date.fromordinal(int($curResult["airdate"]))#</td>
  </tr>

#end for

#end for  


</table><br />

#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_bottom.tmpl")
