#import sickbeard
#from sickbeard import common
#from sickbeard import exceptions
#set global $title="Mass Edit"
#set global $header="Mass Edit"

#set global $sbPath=".."

<!--#set global $topmenu="home"#-->
#import os.path
#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_top.tmpl")
#set $anyQualities, $bestQualities = $common.Quality.splitQuality(int($quality_value))
<script type="text/javascript" src="$sbRoot/js/qualityChooser.js"></script>
<script type="text/javascript" src="$sbRoot/js/massEdit.js"></script>

<form action="massEditSubmit" method="post">
<input type="hidden" name="toEdit" value="$showList" />

<h3>Root show directories:</h3>
<br />
#for $cur_dir in $root_dir_list:
#set $cur_index = $root_dir_list.index($cur_dir)
$cur_dir => <span id="display_new_root_dir_$cur_index">$cur_dir</span>
<input type="hidden" name="orig_root_dir_$cur_index" value="$cur_dir">
<input type="text" style="display: none" name="new_root_dir_$cur_index" id="new_root_dir_$cur_index" class="new_root_dir" value="$cur_dir">
<input type="button" class="edit_root_dir" id="edit_root_dir_$cur_index" value="Edit">
<br />
#end for
<br />
<br />
<input type="checkbox" id="edit_quality" name="edit_quality" checked> Quality:
#set $selected = None
<select id="qualityPreset">
<option value="0">Custom
#for $curPreset in sorted($common.qualityPresets):
<option value="$curPreset" #if $curPreset == $quality_value then "SELECTED" else ""#>$common.qualityPresetStrings[$curPreset]
#end for
</select><br />
<br />
<div id="customQuality">
If I don't have the episode then download it in <b>one</b> of the following qualities:<br />
#set $anyQualityList = filter(lambda x: x > $common.Quality.NONE, $common.Quality.qualityStrings)
<select id="anyQualities" name="anyQualities" multiple="multiple" size="len($anyQualityList)">
#for $curQuality in sorted($anyQualityList):
<option value="$curQuality" #if $curQuality in $anyQualities then "SELECTED" else ""#>$common.Quality.qualityStrings[$curQuality]
#end for
</select><br />
<br />
Then Re-download the episodes in any or all of these qualities as they are available:<br />
#set $bestQualityList = filter(lambda x: x > $common.Quality.SDTV, $common.Quality.qualityStrings)
<select id="bestQualities" name="bestQualities" multiple="multiple" size="len($bestQualityList)">
#for $curQuality in sorted($bestQualityList):
<option value="$curQuality" #if $curQuality in $bestQualities then "SELECTED" else ""#>$common.Quality.qualityStrings[$curQuality]
#end for
</select>
<br />
<br />
</div>

<input type="checkbox" id="edit_season_folders" name="edit_season_folders" checked> Use Season Folders: <input type="checkbox" id="season_folders" name="season_folders" #if $season_folders_value == 1 then "CHECKED" else ""#><br />
<br />
<input type="checkbox" id="edit_paused" name="edit_paused" checked> Paused: <input type="checkbox" id="paused" name="paused" #if $paused_value then "CHECKED" else ""#><br />
<br />
<input type="submit" value="Submit">
</form>
<br />
<br />
* Note: Changing the show paths or season folders value will cause all selected shows to be refreshed.<br />
<script type="text/javascript" charset="utf-8">
    jQuery('#location').fileBrowser({ title: 'Select Show Location' });
</script>

#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_bottom.tmpl")
