#import sickbeard
#import datetime
#from sickbeard.common import *
#set global $title="Manage Searches"

#set global $sbPath=".."

#set global $topmenu="manage"#
#import os.path
#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_top.tmpl")

<script src="$sbRoot/js/plotTooltip.js?$sbPID"></script>


<h3>Backlog Search:</h3>
<a class="btn" href="$sbRoot/manage/manageSearches/pauseBacklog?paused=#if $backlogPaused then "0" else "1"#"><i class="#if $backlogPaused then "icon-play" else "icon-pause"#"></i> #if $backlogPaused then "Unpause" else "Pause"#</a>
#if not $backlogRunning:
Not in progress<br />
#else:
#if $backlogPaused then "Paused: " else ""#
Currently running<br />
#end if

<br />
<h3>Daily Episode Search:</h3>
<a class="btn" href="$sbRoot/manage/manageSearches/forceSearch"><i class="icon-exclamation-sign"></i> Force</a>
#if not $searchStatus:
Not in progress<br />
#else:
In Progress<br />
#end if
<br />

<h3>Version Check:</h3>
<a class="btn" href="$sbRoot/manage/manageSearches/forceVersionCheck"><i class="icon-check"></i> Force Check</a>
<br />

<br />

#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_bottom.tmpl")
