#import sickbeard
#import datetime
#from sickbeard.common import *
#set global $title="Episode Overview"

#set global $sbPath=".."

<!--#set global $topmenu="manage"#-->
#import os.path
#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_top.tmpl")
<script>
\$(document).ready(function() 
{ 
    // show/hide different types of rows when the checkboxes are changed
    \$(".checkboxControls input").change(function(e){
        var whichClass = \$(this).attr('class')
        \$('tr.'+whichClass).each(function(i){
            \$(this).toggle();
        });
    });        

    // select all visible checkboxes for the current show
    \$('.checkAll').change(function(){
    
        var showCheck = this
        var tvdbid = \$(showCheck).attr('id');

        \$('.epCheck-'+tvdbid+':visible').each(function(){
            var epParts = \$(this).attr('id').split('-')

            if (epParts[0] == tvdbid) {
                this.checked = showCheck.checked 
            }
        }); 
    });
#if $showObj:  
    // handle the status change button - build the URL for the currently active show and send it via ajax (eventually)
    \$('#changeStatus').click(function(){
        var epArr = new Array()
        
        \$('.epCheck').each(function(){
            if (this.checked == true) {
                epArr.push(\$(this).attr('id'))
            }
        });  

        if (epArr.length == 0)
            return false

        url = '$sbRoot/home/setStatus'
        params = { show: $showObj.tvdbid, eps: epArr.join('|'), status: \$('#statusSelect').attr('value'), direct: 'True'}

        \$.getJSON(url, params, function(data){
            location.reload()
        });

    });
#end if  
    // initially show/hide all the rows according to the checkboxes
    \$(".checkboxControls input").each(function(e){
        var status = this.checked;
        \$("tr."+\$(this).attr('class')).each(function(e){
            if (status) {
                \$(this).show();
            } else {
                \$(this).hide();
            }
        });
    });
    
    // handle the show selection dropbox
    \$('#pickShow').change(function(){
        var val = \$(this).attr('value')
        if (val == 0)
            return
        url = '$sbRoot/manageShows/episodeOverview/?showID='+val
        window.location.href = url
    });
    
    
});

</script>

<b>Show:</b>
<select id="pickShow">
<option value="0">-- Pick Show --
#for $curShow in $sickbeard.showList:
<option value="$curShow.tvdbid" #if $curShow == $showObj then "SELECTED" else ""#>$curShow.name
#end for
</select><br />
<br />
<br />
Change selected episodes to 
<select id="statusSelect">
#for $curStatus in [$WANTED, $SKIPPED, $ARCHIVED, $IGNORED] + $Quality.DOWNLOADED:
#if $curStatus == $DOWNLOADED:
#continue
#end if
<option value="$curStatus">$statusStrings[$curStatus]
#end for
</select>
<input type="button" id="changeStatus" value="Go"><br />
<br />
<b>NOTE:</b> Episodes can only be changed to a "Downloaded ..." status if they are already either "Downloaded ..." or "Snatched ..."<br />
All other statuses will automatically update to the appropriate "Downloaded ..." status on a show refresh.<br />

#if $showObj:

<h2><a href="$sbRoot/home/displayShow?show=$showObj.tvdbid">$showObj.name</a></h2>
<div>
<div align="right" class="checkboxControls">
<span class="wanted">Wanted: <b>$epCounts[$Overview.WANTED]</b> <input type="checkbox" class="wanted" CHECKED></span>
<span class="qual">Low Quality: <b>$epCounts[$Overview.QUAL]</b> <input type="checkbox" class="qual" CHECKED></span>
<span class="good">Downloaded: <b>$epCounts[$Overview.GOOD]</b> <input type="checkbox" class="good"></span>
<span class="skipped">Skipped: <b>$epCounts[$Overview.SKIPPED]</b> <input type="checkbox" class="skipped"></span>
<br />
<br />
</div>
<table id="showTable-$showObj.tvdbid" class="sickbeardTable">
  <thead><tr><th width="1%"><input type="checkbox" id="checkAll"></th><th>Episode</th><th>Name</th><th>Status</th></tr></thead>
  <tbody>
  #for $curEp in $allEps:
  #set $epStr = str($curEp["season"]) + "x" + str($curEp["episode"])
  <tr class="$Overview.overviewStrings[$epCats[$epStr]]">
    <td><input type="checkbox" id="$epStr" class="epCheck"></td>
    <td>$curEp["season"] x $curEp["episode"]</td>
    <td>$curEp["name"]</td>
    <td>$statusStrings[int($curEp["status"])]</td>
  </tr>
  #end for
  </tbody>
</table>
</div>

#end if

#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_bottom.tmpl")