#import sickbeard
#from sickbeard.common import *
#set global $title="Mass Update"

#set global $sbPath="../.."

#set global $topmenu="manage"#
#import os.path
#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_top.tmpl")

<script type="text/javascript" charset="utf-8">
<!--
\$.tablesorter.addParser({
    id: 'showNames',
    is: function(s) {
        return false;
    },
    format: function(s) {
        return (s || '').replace(/^(The|A)\s/i,'');
    },
    type: 'text'
});
\$.tablesorter.addParser({
    id: 'quality',
    is: function(s) {
        return false;
    },
    format: function(s) { 
        return s.replace('hd1080p',5).replace('hd720p',4).replace('hd',3).replace('sd',2).replace('any',1).replace('best',0).replace('custom',7);
    },
    type: 'numeric'
});

\$(document).ready(function() 
{ 
    \$("#massUpdateTable:has(tbody tr)").tablesorter({
        sortList: [[3,0]],
        textExtraction: {
            1: function(node) { return \$(node).find("img").attr("alt"); },
            2: function(node) { return \$(node).find("img").attr("alt"); },
            4: function(node) { return \$(node).find("span").text().toLowerCase(); },
            5: function(node) { return \$(node).find("img").attr("alt"); }
        },
        widgets: ['zebra', 'stickyHeaders'],
        headers: {
            0: { sorter: false},
            3: { sorter: 'showNames'},
            4: { sorter: 'quality'},
            7: { sorter: false},
            8: { sorter: false},
            9: { sorter: false},
            10: { sorter: false}
        }
    }); 
});
//-->
</script>
<script type="text/javascript" src="$sbRoot/js/massUpdate.js?$sbPID"></script>

<form name="massUpdateForm" method="post" action="massUpdate">

<table id="massUpdateTable" class="tablesorter" cellspacing="1" border="0" cellpadding="0">
  <thead>
    <tr>
      <th width="1%">Edit<br/>
        <input type="checkbox" class="bulkCheck" id="editCheck" />
      </th>
      <th class="nowrap">Lang</th>
      <th>Paused</th>
      <th class="nowrap">Show Name</th>
      <th>Quality</th>
      <th>Flatten Folders</th>
      <th>Status</th>
      <th width="1%">Update<br/>
        <input type="checkbox" class="bulkCheck" id="updateCheck" />
      </th>
      <th width="1%">Rescan<br/>
        <input type="checkbox" class="bulkCheck" id="refreshCheck" />
      </th>
      <th width="1%">Rename<br/>
        <input type="checkbox" class="bulkCheck" id="renameCheck" />
      </th>
      <th width="1%">Delete<br/>
        <input type="checkbox" class="bulkCheck" id="deleteCheck" />
      </th>
    </tr>
  </thead>
<tfoot>
  <tr>
    <td rowspan="1" colspan="1" class="align-center"><input type="button" class="btn" value="Edit Selected" id="submitMassEdit" /></td>
    <td rowspan="1" colspan="10" class="align-right"><input type="button" class="btn btn-primary" value="Submit" id="submitMassUpdate" /></td>
  </tr>
</tfoot>
  <tbody>
#set $myShowList = $sickbeard.showList
$myShowList.sort(lambda x, y: cmp(x.name, y.name))
#for $curShow in $myShowList:
#set $curEp = $curShow.nextEpisode()
#set $curUpdate_disabled = ""
#set $curRefresh_disabled = ""
#set $curRename_disabled = ""
#set $curDelete_disabled = ""

#if $sickbeard.showQueueScheduler.action.isBeingUpdated($curShow) or $sickbeard.showQueueScheduler.action.isInUpdateQueue($curShow):
  #set $curUpdate_disabled = "disabled=\"disabled\" "
#end if
#set $curUpdate = "<input type=\"checkbox\" class=\"updateCheck\" id=\"update-"+str($curShow.tvdbid)+"\" "+$curUpdate_disabled+"/>"
#if $sickbeard.showQueueScheduler.action.isBeingRefreshed($curShow) or $sickbeard.showQueueScheduler.action.isInRefreshQueue($curShow):
  #set $curRefresh_disabled = "disabled=\"disabled\" "
#end if
#set $curRefresh = "<input type=\"checkbox\" class=\"refreshCheck\" id=\"refresh-"+str($curShow.tvdbid)+"\" "+$curRefresh_disabled+"/>"
#if $sickbeard.showQueueScheduler.action.isBeingRenamed($curShow) or $sickbeard.showQueueScheduler.action.isInRenameQueue($curShow):
  #set $curRename = "disabled=\"disabled\" "
#end if
#set $curRename = "<input type=\"checkbox\" class=\"renameCheck\" id=\"rename-"+str($curShow.tvdbid)+"\" "+$curRename_disabled+"/>"
#if $sickbeard.showQueueScheduler.action.isBeingRenamed($curShow) or $sickbeard.showQueueScheduler.action.isInRenameQueue($curShow) or $sickbeard.showQueueScheduler.action.isInRefreshQueue($curShow):
  #set $curDelete = "disabled=\"disabled\" "
#end if
#set $curDelete = "<input type=\"checkbox\" class=\"deleteCheck\" id=\"delete-"+str($curShow.tvdbid)+"\" "+$curDelete_disabled+"/>"

  <tr>
    <td align="center"><input type="checkbox" class="editCheck" id="edit-$curShow.tvdbid" /></td>
    <td align="center"><img src="$sbRoot/images/flags/${curShow.lang}.png" width="16" height="11" alt="$curShow.lang" /></td>
    <td align="center"><img src="$sbRoot/images/#if int($curShow.paused) == 1 then "yes16.png\" alt=\"Y\"" else "no16.png\" alt=\"N\""# width="16" height="16" /></td>
    <td class="tvShow"><a href="$sbRoot/home/displayShow?show=$curShow.tvdbid">$curShow.name</a></td>
#if $curShow.quality in $qualityPresets:
    <td align="center"><span class="quality $qualityPresetStrings[$curShow.quality]">$qualityPresetStrings[$curShow.quality]</span></td>
#else:
    <td align="center"><span class="quality Custom">Custom</span></td>
#end if 
    <td align="center"><img src="$sbRoot/images/#if int($curShow.flatten_folders) == 1 then "yes16.png\" alt=\"Y\"" else "no16.png\" alt=\"N\""# width="16" height="16" /></td>
    <td align="center">$curShow.status</td>
    <td align="center">$curUpdate</td>
    <td align="center">$curRefresh</td>
    <td align="center">$curRename</td>
<!--    <td align="center"><input type="checkbox" class="metadataCheck" id="metadata-$curShow.tvdbid" /></td>//-->
    <td align="center">$curDelete</td>
  </tr>
#end for
</tbody>
</table>

</form>

<script type="text/javascript" src="$sbRoot/js/tableClick.js?$sbPID"></script>
#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_bottom.tmpl")
