#import sickbeard
#import datetime
#from sickbeard.common import *
#from sickbeard import db

#set global $title="Home"
#set global $header="Restarting Sick Beard"

#set global $sbPath = ".."

#set global $topmenu="home"#
#import os.path
#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_top.tmpl")

#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/restart_bare.tmpl")

#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_bottom.tmpl")
