<script type="text/javascript" charset="utf-8">
<!--
#try:
    #set curSBHost = $sbHost
    #set curSBHttpPort = $sbHttpPort
    #set curSBHttpsEnabled = $sbHttpsEnabled
#except NameMapper.NotFound:
    #set curSBHost = "localhost"
    #set curSBHttpPort = $sickbeard.WEB_PORT
    #set curSBHttpsEnabled = "False"
#end try
sbRoot = "$sbRoot";
sbHttpPort = "$curSBHttpPort";
sbHttpsEnabled = "$curSBHttpsEnabled";
sbHost = "$curSBHost";
//-->
</script>

<script type="text/javascript" src="$sbRoot/js/lib/jquery-1.7.2.min.js?$sbPID"></script>
<script type="text/javascript" src="$sbRoot/js/restart.js?$sbPID"></script>

<h3>Performing Restart</h3>
<br />
<div id="shut_down_message">
Waiting for Sick Beard to shut down:
<img src="$sbRoot/images/loading16.gif" height="16" width="16" id="shut_down_loading" />
<img src="$sbRoot/images/yes16.png" height="16" width="16" id="shut_down_success" style="display: none;" />
</div>

<div id="restart_message" style="display: none;">
Waiting for Sick Beard to start again:
<img src="$sbRoot/images/loading16.gif" height="16" width="16" id="restart_loading" />
<img src="$sbRoot/images/yes16.png" height="16" width="16" id="restart_success" style="display: none;" />
<img src="$sbRoot/images/no16.png" height="16" width="16" id="restart_failure" style="display: none;" />
</div>

<div id="refresh_message" style="display: none;">
Loading the home page:
<img src="$sbRoot/images/loading16.gif" height="16" width="16" id="refresh_loading" />
</div>

<div id="restart_fail_message" style="display: none;">
Error: The restart has timed out, perhaps something prevented Sick Beard from starting again?
</div>
