.button {
    background-color: #2b91af;
    border-radius: 10px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none
}
.button.small {
    border-radius: 15px;
    /*float: left;*/
    align-items: center;
    justify-content: center;
    margin: 22px 5px 0;
    padding: 6px 15px
}
.button:hover {
    background-color: #1e1e1e
}
.button>span {
    font-size: 84%
}
.button.b-close,
.button.bClose {
    border-radius: 7px 7px 7px 7px;
    box-shadow: none;
    font: bold 131% sans-serif;
    padding: 0 6px 2px;
    position: absolute;
    right: -7px;
    top: -7px
}

::selection {
    background-color: #2b91af;
    color: #fff;
    text-shadow: none
}

#popup,
#popup2,
.bMulti {
    background-color: #fff;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 25px 5px #999;
    color: #111;
    display: none;
    min-width: 500px;
    padding: 25px
}
#popup .logo {
    color: #2b91af;
    font: bold 325% 'Petrona', sans
}
#popup,
.bMulti {
    min-height: 250px
}
#popup2 iframe {
    min-height: 240px;
    min-width: 420px
}
.loading {
    background: url('loader.gif') center center no-repeat
}
.bMulti p {
    font: 500% 'Petrona', sans-serif;
    padding: 45px 0 0;
    text-align: center
}
.bMulti a {
    left: 175px;
    position: absolute;
    top: 175px
}

.lt-ie9 .bModal {
    background-color: #000
}