#import sickbeard
#from sickbeard.providers.generic import GenericProvider
#from sickbeard.providers import thepiratebay
#set global $title="Config - Providers"
#set global $header="Search Providers"

#set global $sbPath="../.."

#set global $topmenu="config"#
#import os.path
#include $os.path.join($sickbeard.PROG_DIR, "gui/slick/interfaces/default/inc_top.tmpl")
#if $varExists('header') 
	<h1 class="header">$header</h1>
#else 
	<h1 class="title">$title</h1>
#end if
<script type="text/javascript" src="$sbRoot/js/configProviders.js?$sbPID"></script>
<script type="text/javascript" src="$sbRoot/js/config.js?$sbPID"></script>
<script type="text/javascript" charset="utf-8">
<!--
\$(document).ready(function(){

var show_nzb_providers = #if $sickbeard.USE_NZBS then "true" else "false"#;
#for $curNewznabProvider in $sickbeard.newznabProviderList:
\$(this).addProvider('$curNewznabProvider.getID()', '$curNewznabProvider.name', '$curNewznabProvider.url', '$curNewznabProvider.key', $int($curNewznabProvider.default), show_nzb_providers);
#end for
});
//-->
</script>

<div id="config">
<div id="config-content">

<form id="configForm" action="saveProviders" method="post">

            <div id="config-components">
                <ul>
                	<li><a href="#core-component-group1">Provider Priorities</a></li>
                	<li><a href="#core-component-group2">Configure Built-In Providers</a></li>
                  #if $sickbeard.USE_NZBS
                	<li><a href="#core-component-group3">Configure Custom Newznab Providers</a></li>
                  #end if
                </ul>
                
                <div id="core-component-group1" class="component-group clearfix">

                    <div class="component-group-desc">
                        <h3>Provider Priorities</h3>
                        <p>Check off and drag the providers into the order you want them to be used.</p>
                        <p>At least one provider is required but two are recommended.</p>

                        #if not $sickbeard.USE_NZBS or not $sickbeard.USE_TORRENTS:
                        <blockquote style="margin: 20px 0;">NZB/Torrent providers can be toggled in <b><a href="$sbRoot/config/search">Search Settings</a></b></blockquote>
                        #else:
                        <br/>
                        #end if

                        <div>
                            <h4 class="note">*</h4><p class="note">Provider does not support backlog searches at this time.</p>
                            <h4 class="note">**</h4><p class="note">Provider supports <b>limited</b> backlog searches, all episodes/qualities may not be available.</p>
							<h4 class="note">?</h4><p class="note">Provider is <b>NOT WORKING</b>.</p>
                        </div>
                    </div>

                    <fieldset class="component-group-list" style="margin-left: 50px; margin-top:36px">
                        <ul id="provider_order_list">
                        #for $curProvider in $sickbeard.providers.sortedProviderList():
                            #if $curProvider.providerType == $GenericProvider.NZB and not $sickbeard.USE_NZBS:
                                #continue
                            #elif $curProvider.providerType == $GenericProvider.TORRENT and not $sickbeard.USE_TORRENTS:
                                #continue
                            #end if
                            #set $curName = $curProvider.getID()
                          <li class="ui-state-default" id="$curName">
                            <input type="checkbox" id="enable_$curName" class="provider_enabler" #if $curProvider.isEnabled() then "checked=\"checked\"" else ""#/>
                            <a href="$curProvider.url" class="imgLink" target="_new"><img src="$sbRoot/images/providers/$curProvider.imageName()" alt="$curProvider.name" title="$curProvider.name" width="16" height="16" /></a>
                            $curProvider.name
                            #if not $curProvider.supportsBacklog then "*" else ""#
                            #if $curProvider.name == "EZRSS" or $curProvider.name == "ThePirateBay" or $curProvider.name == "DailyTvTorrents" or $curProvider.name == "TorrentLeech" or $curProvider.name == "IPTorrents" then "**" else ""#
                            #if $curProvider.name == "TorrentLeech" then "?" else ""#
                            <span class="ui-icon ui-icon-arrowthick-2-n-s pull-right"></span>
                          </li>
                        #end for
                        </ul>
                        <input type="hidden" name="provider_order" id="provider_order" value="<%=" ".join([x.getID()+':'+str(int(x.isEnabled())) for x in sickbeard.providers.sortedProviderList()])%>"/>
                        <br/><input type="submit" class="btn config_submitter" value="Save Changes" /><br/>
                    </fieldset>
                </div><!-- /component-group1 //-->

                <div id="core-component-group2" class="component-group clearfix">

                    <div class="component-group-desc">
                        <h3>Configure Built-In<br />Providers</h3>
                        <p>Check with provider's website on how to obtain an API key if needed.</p>
                    </div>
                    
                    <fieldset class="component-group-list">
                        <div class="field-pair">
                            <label class="clearfix" for="editAProvider">
                                <span class="component-title jumbo">Configure Provider:</span>
                                <span class="component-desc">
                                    #set $provider_config_list = []
                                    #for $cur_provider in ("nzbs_r_us", "omgwtfnzbs", "thepiratebay", "dailytvtorrents", "tvtorrents", "btn", "torrentleech", "iptorrents"):
                                        #set $cur_provider_obj = $sickbeard.providers.getProviderClass($cur_provider)
                                        $provider_config_list.append($cur_provider_obj)
                                    #end for

                                    #if $provider_config_list:                                        
                                    <select id="editAProvider">
                                        #for $cur_provider in $provider_config_list + [$curProvider for $curProvider in $sickbeard.newznabProviderList if $curProvider.default and $curProvider.needs_auth and $sickbeard.USE_NZBS]:
                                            <option value="$cur_provider.getID()">$cur_provider.name</option>
                                        #end for
                                    </select>
                                    #else:
                                    No providers available to configure.
                                    #end if
                                </span>
                            </label>
                        </div>


<!-- start div for editing providers //-->
#for $curNewznabProvider in [$curProvider for $curProvider in $sickbeard.newznabProviderList if $curProvider.default and $curProvider.needs_auth]:
<div class="providerDiv" id="${curNewznabProvider.getID()}Div">
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">$curNewznabProvider.name URL</span>
                                <input class="component-desc" type="text" id="${curNewznabProvider.getID()}_url" value="$curNewznabProvider.url" size="40" disabled/>
                            </label>
                        </div>
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">$curNewznabProvider.name API Key</span>
                                <input class="component-desc newznab_key" type="text" id="${curNewznabProvider.getID()}_hash" value="$curNewznabProvider.key" size="40" />
                            </label>
                        </div>
</div>
#end for

<div class="providerDiv" id="nzbs_r_usDiv">
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">NZBs'R'US User ID</span>
                                <input class="component-desc" type="text" name="nzbs_r_us_uid" value="$sickbeard.NZBSRUS_UID" size="10" />
                            </label>
                        </div>
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">NZBs'R'US API Key</span>
                                <input class="component-desc" type="text" name="nzbs_r_us_hash" value="$sickbeard.NZBSRUS_HASH" size="40" />
                            </label>
                        </div>
</div>

                    <div class="providerDiv" id="omgwtfnzbsDiv">
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">omgwtfnzbs User ID</span>
                                <input class="component-desc" type="text" name="omgwtfnzbs_uid" value="$sickbeard.OMGWTFNZBS_UID" size="10" />
                            </label>
                        </div>
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">omgwtfnzbs API Key</span>
                                <input class="component-desc" type="text" name="omgwtfnzbs_key" value="$sickbeard.OMGWTFNZBS_KEY" size="40" />
                            </label>
                        </div>
                    </div><!-- /omgwtfnzbsDiv //-->

<div class="providerDiv" id="tvtorrentsDiv">
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">TvTorrents Digest:</span>
                                <input class="component-desc" type="text" name="tvtorrents_digest" value="$sickbeard.TVTORRENTS_DIGEST" size="40" />
                            </label>
                        </div>
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">TvTorrents Hash:</span>
                                <input class="component-desc" type="text" name="tvtorrents_hash" value="$sickbeard.TVTORRENTS_HASH" size="40" />
                            </label>
                        </div>
</div>

<div class="providerDiv" id="thepiratebayDiv">
                        <div class="field-pair">
                            <input type="checkbox" class="enabler" name="thepiratebay_proxy" id="thepiratebay_proxy" #if $sickbeard.THEPIRATEBAY_PROXY then "checked=\"checked\"" else ""#/>
                            <label class="clearfix" for="thepiratebay_proxy">
                                <span class="component-title">Access TPB via Proxy</span>
                                <span class="component-desc">To bypass Country Blocking Mechanism</span>
                            </label>
                        </div>

                        <div class="field-pair" id="content_thepiratebay_proxy">
                            <label class="nocheck clearfix">
                                <span class="component-title">Proxy URL:</span>
                                <span class="component-desc">
	                              <select name="thepiratebay_proxy_url" id="thepiratebay_proxy_url">
                                #for $i in $thepiratebay.proxy_dict.keys():
                                  <option value="$thepiratebay.proxy_dict[$i]" #if $thepiratebay.proxy_dict[$i] == $sickbeard.THEPIRATEBAY_PROXY_URL then "selected=\"selected\"" else ""#>$i</option>
	                              #end for
	                                </select>
                                </span>
                            </label>
                        </div>

                        <div class="field-pair">
                            <input type="checkbox" name="thepiratebay_trusted" id="thepiratebay_trusted" #if $sickbeard.THEPIRATEBAY_TRUSTED then "checked=\"checked\"" else ""#/>
                            <label class="clearfix" for="thepiratebay_trusted">
                                <span class="component-title">Trusted Download</span>
                                <span class="component-desc">Download torrent only from trusted uploaders?</span>
                            </label>
                        </div>
</div>

<div class="providerDiv" id="dailytvtorrentsDiv">
                        <div class="field-pair">
                            <input type="checkbox" name="dtt_norar" id="dtt_norar" #if $sickbeard.DTT_NORAR then "checked=\"checked\"" else ""#/>
                            <label class="clearfix" for="dtt_norar">
                                <span class="component-title">No Rar</span>
                                <span class="component-desc">Download only uncompressed release?</span>
                            </label>
                        </div>
                        <div class="field-pair">
                            <input type="checkbox" name="dtt_single" id="dtt_single" #if $sickbeard.DTT_SINGLE then "checked=\"checked\"" else ""#/>
                            <label class="clearfix" for="dtt_single">
                                <span class="component-title">Single File</span>
                                <span class="component-desc">Download only single file release?</span>
                            </label>
                        </div>
</div>

<div class="providerDiv" id="btnDiv">
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">BTN API KEY:</span>
                                <input class="component-desc" type="text" name="btn_api_key" value="$sickbeard.BTN_API_KEY" size="40" />
                            </label>
                        </div>
</div>

<div class="providerDiv" id="torrentleechDiv">
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">TorrentLeech Username</span>
                                <input class="component-desc" type="text" name="torrentleech_username" value="$sickbeard.TORRENTLEECH_USERNAME" size="10" />
                            </label>
                        </div>
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">TorrentLeech Password</span>
                                <input class="component-desc" type="password" name="torrentleech_password" value="$sickbeard.TORRENTLEECH_PASSWORD" size="40" />
                            </label>
                        </div>
</div>

<div class="providerDiv" id="iptorrentsDiv">
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">Username:</span>
                                <input class="component-desc" type="text" name="iptorrents_username" value="$sickbeard.IPTORRENTS_USERNAME" size="40" />
                            </label>
                        </div>
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">Password:</span>
                                <input class="component-desc" type="password" name="iptorrents_password" value="$sickbeard.IPTORRENTS_PASSWORD" size="40" />
                            </label>
                        </div>
                        <div class="field-pair">
                            <input type="checkbox" name="iptorrents_freeleech" id="iptorrents_freeleech" #if $sickbeard.IPTORRENTS_FREELEECH then "checked=\"checked\"" else ""#/>
                            <label class="clearfix" for="iptorrents_freeleech">
                                <span class="component-title">FreeLeech</span>
                                <span class="component-desc">This will only download <b>[FreeLeech]</b> torrents.</span>
                            </label>
                        </div>
</div><!-- /iptorrentsDiv //-->

<!-- end div for editing providers -->

                    <input type="submit" class="btn config_submitter" value="Save Changes" /><br/>
            
                    </fieldset>
                </div><!-- /component-group2 //-->

#if $sickbeard.USE_NZBS
                <div id="core-component-group3" class="component-group clearfix">

                    <div class="component-group-desc">
                        <h3>Configure Custom<br />Newznab Providers</h3>
                        <p>Add and setup custom Newznab providers.</p>
                        <p>Some built-in Newznab providers are already available above.</p>
                    </div>

                    <fieldset class="component-group-list">
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title jumbo">Select Provider:</span>
                                <span class="component-desc">
                                    <input type="hidden" name="newznab_string" id="newznab_string" />
                                    <select id="editANewznabProvider">
                                        <option value="addNewznab">-- add new provider --</option>
                                    </select>
                                </span>
                            </label>
                        </div>

<div class="newznabProviderDiv" id="addNewznab">
                        <div class="field-pair">
                            <label class="nocheck clearfix">
                                <span class="component-title">Provider Name</span>
                                <input class="component-desc" type="text" id="newznab_name" size="40" />
                            </label>
                        </div>
                        <div class="field-pair">
                            <label class="nocheck clearfix">
                                <span class="component-title">Site URL</span>
                                <input class="component-desc" type="text" id="newznab_url" size="40" />
                            </label>
                        </div>
                        <div class="field-pair">
                            <label class="nocheck clearfix">
                                <span class="component-title">API Key</span>
                                <input class="component-desc" type="text" id="newznab_key" size="40" />
                            </label>
                            <label class="nocheck clearfix">
                                <span class="component-title">&nbsp;</span>
                                <span class="component-desc">(leave blank if not required)</span>
                            </label>
                        </div>
            <div id="newznab_add_div">
                <input class="btn" type="button" class="newznab_save" id="newznab_add" value="Add" />
            </div>
            <div id="newznab_update_div" style="display: none;">
                <input class="btn" type="button" class="newznab_delete" id="newznab_delete" value="Delete" />
            </div> 
</div>

                    </fieldset>
                </div><!-- /component-group3 //-->
#end if
                    
            <br/><input type="submit" class="btn config_submitter" value="Save Changes" /><br/>
                
            </div><!-- /config-components //-->

</form>
</div></div>
<div class="clearfix"></div>
<script type="text/javascript" charset="utf-8">
<!--
    jQuery('#config-components').tabs();
//-->
</script>
#include $os.path.join($sickbeard.PROG_DIR,"gui/slick/interfaces/default/inc_bottom.tmpl")
