#import sickbeard
#from sickbeard import db
#import os.path
#set global $title="Configuration"
#set global $header="Configuration"

#set global $sbPath=".."

#set global $topmenu="config"#
#include $os.path.join($sickbeard.PROG_DIR, "gui/slick/interfaces/default/inc_top.tmpl")
#if $varExists('header') 
	<h1 class="header">$header</h1>
#else 
	<h1 class="title">$title</h1>
#end if

#if $hasChangeLog:
<script type="text/javascript">
<!--
\$(document).ready(function()
{
    \$("#changelog").qtip({
            id: 'changelog-tt',
            content: {
                text: '#if $logLines then $logLines else "no details listed"#',
                title: {
                   text: 'Changelog',
                   button: 'Close'
                }
            },
            hide: {
                event: false
            },
            position: {
                viewport: \$(window),
                my: 'top center',
                at: 'bottom center'
            },
            style: {
                tip: {
                    corner: true,
                    method: 'polygon'
                },
                classes: 'ui-tooltip-dark ui-tooltip-rounded ui-tooltip-shadow changelog'
            }
    });
});
//-->
</script>
#end if

<div id="summary" class="align-left">
<table class="infoTable" cellspacing="1" border="0" cellpadding="0">
    <tr><td class="infoTableHeader">SB Version: </td><td class="infoTableCell">alpha ($sickbeard.version.SICKBEARD_VERSION) <!-- &ndash; build.date //-->
#if $hasChangeLog:
    &ndash; <img src="$sbRoot/images/changelog16.png" alt="[changelog]" id="changelog" />
#end if
	</td></tr>
    <tr><td class="infoTableHeader">SB Config file: </td><td class="infoTableCell">$sickbeard.CONFIG_FILE</td></tr>
    <tr><td class="infoTableHeader">SB Database file: </td><td class="infoTableCell">$db.dbFilename()</td></tr>
    <tr><td class="infoTableHeader">SB Cache Dir: </td><td class="infoTableCell">$sickbeard.CACHE_DIR</td></tr>
    <tr><td class="infoTableHeader">SB Arguments: </td><td class="infoTableCell">$sickbeard.MY_ARGS</td></tr>
    <tr><td class="infoTableHeader">SB Web Root: </td><td class="infoTableCell">$sickbeard.WEB_ROOT</td></tr>
    <tr><td class="infoTableHeader">Python Version: </td><td class="infoTableCell">$sys.version[:120]</td></tr>
    <tr class="infoTableSeperator"><td class="infoTableHeader"><i class="icon16-sb"></i> Homepage </td><td><a href="http://www.sickbeard.com/">http://www.sickbeard.com/</a></td></tr>
    <tr><td class="infoTableHeader"><i class="icon16-web"></i> Forums </td><td><a href="http://sickbeard.com/forums/viewtopic.php?f=9&t=2386">http://sickbeard.com/forums/</a></td></tr>
    <tr><td class="infoTableHeader"><i class="icon16-github"></i> Source </td><td><a href="https://github.com/mr-orange/Sick-Beard/">https://github.com/mr-orange/Sick-Beard/</a></td></tr>
    <tr><td class="infoTableHeader"><i class="icon16-win"></i> Bug Tracker &amp;<br/> Windows Builds </td><td><a href="http://code.google.com/p/sickbeard/">http://code.google.com/p/sickbeard/</a></td></tr>
    <tr><td class="infoTableHeader"><i class="icon16-mirc"></i> Internet Relay Chat </td><td><a href="irc://irc.freenode.net/#sickbeard"><i>#sickbeard</i> on <i>irc.freenode.net</i></a></td></tr>
</table>
</div>

#include $os.path.join($sickbeard.PROG_DIR,"gui/slick/interfaces/default/inc_bottom.tmpl")
