#import sickbeard
#set global $header="Post Processing"
#set global $title=""

#set global $sbPath="../.."

#set global $topmenu="home"#
#import os.path
#include $os.path.join($sickbeard.PROG_DIR, "gui/slick/interfaces/default/inc_top.tmpl")
#if $varExists('header') 
	<h1 class="header">$header</h1>
#else 
	<h1 class="title">$title</h1>
#end if
<form name="processForm" method="post" action="processEpisode">
Enter the folder containing the episode: <input type="text" name="dir" id="episodeDir" size="50" /> <input class="btn" type="submit" value="Process" />
</form>
<br />

<script type="text/javascript" charset="utf-8">
<!--
    jQuery('#episodeDir').fileBrowser({ title: 'Select Unprocessed Episode Folder', key: 'postprocessPath' });
//-->
</script>

#include $os.path.join($sickbeard.PROG_DIR,"gui/slick/interfaces/default/inc_bottom.tmpl")
