#import sickbeard.version
#import sickbeard
#import urllib

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="robots" content="noindex">
    <title>Sick Beard - alpha $sickbeard.version.SICKBEARD_VERSION - $title</title>
    <!--[if lt IE 9]>
         <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
        
    <link rel="shortcut icon" href="$sbRoot/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="$sbRoot/images/ico/apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="$sbRoot/images/ico/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="$sbRoot/images/ico/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="$sbRoot/images/ico/apple-touch-icon-57x57-precomposed.png">

    <link rel="stylesheet" type="text/css" href="$sbRoot/css/default.css?$sbPID" />
    <link rel="stylesheet" type="text/css" href="$sbRoot/css/browser.css?$sbPID" />
    <link rel="stylesheet" type="text/css" href="$sbRoot/css/comingEpisodes.css?$sbPID" />
    <link rel="stylesheet" type="text/css" href="$sbRoot/css/config.css?$sbPID" />
    <link rel="stylesheet" type="text/css" href="$sbRoot/css/lib/jquery.pnotify.default.css?$sbPID" />
    <link rel="stylesheet" type="text/css" href="$sbRoot/css/lib/jquery-ui-1.8.17.custom.css?$sbPID" />
    <link rel="stylesheet" type="text/css" href="$sbRoot/css/superfish.css?$sbPID" />
    <link rel="stylesheet" type="text/css" href="$sbRoot/css/lib/tablesorter.css?$sbPID"/>
    <link rel="stylesheet" type="text/css" href="$sbRoot/css/lib/jquery.qtip2.css?$sbPID"/>
    <link rel="stylesheet" type="text/css" media="only screen and (max-device-width: 480px)" href="$sbRoot/css/iphone.css?$sbPID" />


<style type="text/css">
<!--
.sf-sub-indicator { background: url("$sbRoot/images/arrows.png") no-repeat -10px -100px; }
.sf-shadow ul { background: url("$sbRoot/images/shadow.png") no-repeat bottom right; }
#if $sickbeard.NEWEST_VERSION_STRING:
.ui-pnotify { top: 30px !important; }
#end if
//--> 
</style>

    <script type="text/javascript" src="$sbRoot/js/lib/jquery-1.8.3.min.js?$sbPID"></script>
    <script type="text/javascript" src="$sbRoot/js/lib/jquery-ui-1.8.24.custom.min.js?$sbPID"></script>
    <script type="text/javascript" src="$sbRoot/js/lib/superfish-1.4.8.js?$sbPID"></script>
    <script type="text/javascript" src="$sbRoot/js/lib/supersubs-0.2b.js?$sbPID"></script>
    <script type="text/javascript" src="$sbRoot/js/lib/jquery.cookie.js?$sbPID"></script>
    <script type="text/javascript" src="$sbRoot/js/lib/jquery.cookiejar.js?$sbPID"></script>
    <script type="text/javascript" src="$sbRoot/js/lib/jquery.json-2.2.min.js?$sbPID"></script>
    <script type="text/javascript" src="$sbRoot/js/lib/jquery.selectboxes.min.js?$sbPID"></script>
    <script type="text/javascript" src="$sbRoot/js/lib/jquery.tablesorter-2.1.19.min.js?$sbPID"></script>
    <script type="text/javascript" src="$sbRoot/js/lib/jquery.tablesorter.widgets.min.js?$sbPID"></script>
    <script type="text/javascript" src="$sbRoot/js/lib/jquery.qtip-2012-04-26.min.js?$sbPID"></script>
    <script type="text/javascript" src="$sbRoot/js/lib/jquery.pnotify-1.0.2.min.js"></script>
	<script type="text/javascript" src="$sbRoot/js/lib/jquery.expand-1.3.8.js?$sbPID"></script>
    <script type="text/javascript" src="$sbRoot/js/lib/jquery.form-2.92.js?$sbPID"></script>
	<script type="text/javascript" src="$sbRoot/js/script.js?$sbPID"></script>

    <script type="text/javascript" charset="utf-8">
    <!--
        sbRoot = "$sbRoot"; // needed for browser.js & ajaxNotifications.js
        //HTML for scrolltopcontrol, which is auto wrapped in DIV w/ ID="topcontrol"
        top_image_html = '<img src="$sbRoot/images/top.gif" style="width:31px; height:11px" alt="Jump to top" />'; 
    //-->
    </script>
    <script type="text/javascript" src="$sbRoot/js/lib/jquery.scrolltopcontrol-1.1.js"></script>
    <script type="text/javascript" src="$sbRoot/js/browser.js"></script>
    <script type="text/javascript" src="$sbRoot/js/ajaxNotifications.js"></script>
    
<script type="text/javascript">
<!--
	function initActions() {
        \$("#SubMenu a[href^='/home/restart/']").addClass('btn').html('<span class="ui-icon ui-icon-power pull-left"></span> Restart </a>');		
        \$("#SubMenu a[href^='/home/shutdown/']").addClass('btn').html('<span class="ui-icon ui-icon-power pull-left"></span> Shutdown </a>');		
		\$("#SubMenu a:contains('Edit')").addClass('btn').html('<span class="ui-icon ui-icon-pencil pull-left"></span> Edit </a>');
		\$("#SubMenu a:contains('Delete')").addClass('btn').html('<span class="ui-icon ui-icon-trash pull-left"></span> Delete </a>');
		\$("#SubMenu a:contains('Clear History')").addClass('btn confirm').html('<span class="ui-icon ui-icon-trash pull-left"></span> Clear History </a>');
		\$("#SubMenu a:contains('Trim History')").addClass('btn confirm').html('<span class="ui-icon ui-icon-trash pull-left"></span> Trim History </a>');
        \$("#SubMenu a[href='/errorlogs/clearerrors']").addClass('btn').html('<span class="ui-icon ui-icon-trash pull-left"></span> Clear Errors </a>');
		\$("#SubMenu a:contains('Re-scan')").addClass('btn').html('<span class="ui-icon ui-icon-refresh pull-left"></span> Re-scan </a>');
		\$("#SubMenu a:contains('Backlog Overview')").addClass('btn').html('<span class="ui-icon ui-icon-refresh pull-left"></span> Backlog Overview </a>');
        \$("#SubMenu a[href='/home/updatePLEX/']").addClass('btn').html('<span class="ui-icon ui-icon-refresh pull-left"></span> Update PLEX </a>');
		\$("#SubMenu a:contains('Force')").addClass('btn').html('<span class="ui-icon ui-icon-transfer-e-w pull-left"></span> Force Full Update </a>');
		\$("#SubMenu a:contains('Rename')").addClass('btn').html('<span class="ui-icon ui-icon-tag pull-left"></span> Preview Rename </a>');
		\$("#SubMenu a[href='/config/subtitles/']").addClass('btn').html('<span class="ui-icon ui-icon-comment pull-left"></span> Search Subtitles </a>');
		\$("#SubMenu a[href^='/home/subtitleShow']").addClass('btn').html('<span class="ui-icon ui-icon-comment pull-left"></span> Download Subtitles </a>');
		\$("#SubMenu a:contains('Settings')").addClass('btn').html('<span class="ui-icon ui-icon-search pull-left"></span> Search Settings </a>');
		\$("#SubMenu a:contains('Provider')").addClass('btn').html('<span class="ui-icon ui-icon-search pull-left"></span> Search Providers </a>');
		\$("#SubMenu a:contains('General')").addClass('btn').html('<span class="ui-icon ui-icon-gear pull-left"></span> General </a>');
		\$("#SubMenu a:contains('Episode Status')").addClass('btn').html('<span class="ui-icon ui-icon-transferthick-e-w pull-left"></span> Episode Status Management </a>');
		\$("#SubMenu a:contains('Missed Subtitle')").addClass('btn').html('<span class="ui-icon ui-icon-transferthick-e-w pull-left"></span> Missed Subtitles </a>');
		\$("#SubMenu a[href='/home/addShows/']").addClass('btn').html('<span class="ui-icon ui-icon-video pull-left"></span> Add Show </a>');
		\$("#SubMenu a:contains('Processing')").addClass('btn').html('<span class="ui-icon ui-icon-folder-open pull-left"></span> Post-Processing </a>');
		\$("#SubMenu a:contains('Manage Searches')").addClass('btn').html('<span class="ui-icon ui-icon-search pull-left"></span> Manage Searches </a>');
		\$("#SubMenu a:contains('Notification')").addClass('btn').html('<span class="ui-icon ui-icon-note pull-left"></span> Notification </a>');
		\$("#SubMenu a:contains('Update show in XBMC')").addClass('btn').html('<span class="ui-icon ui-icon-refresh pull-left"></span> Update show in XBMC </a>');
        \$("#SubMenu a[href='/home/updateXBMC/']").addClass('btn').html('<span class="ui-icon ui-icon-refresh pull-left"></span> Update XBMC </a>');
		
	}
    \$(document).ready(function(){ 
    	
    	initActions();
        \$("ul.sf-menu").supersubs({ 
            minWidth:    12,   // minimum width of sub-menus in em units 
            maxWidth:    27,   // maximum width of sub-menus in em units 
            extraWidth:  1     // extra width can ensure lines don't sometimes turn over 
                               // due to slight rounding differences and font-family 
        }).superfish({
            delay:         150,
            disableHI:     true, 
            animation:   {opacity:'show',height:'show'},
            speed:       'fast',
            dropShadows: false
        });
        \$("#MainMenu.sf-menu ul li a").mouseover(function(){
            imgsrc = \$(this).children("img").attr("src");
            if(imgsrc!=null) {
                matches = imgsrc.match(/_over/);
                if (!matches) {
                    imgsrcON = imgsrc.replace(/.png$/ig,"_over.png");
                    \$(this).children("img").attr("src", imgsrcON);
                }
                \$("#MainMenu.sf-menu ul li a").mouseout(function(){
                    \$(this).children("img").attr("src", imgsrc);
                });
            }
        });
        \$("#MainMenu.sf-menu ul li img").each(function() {
            rollsrc = \$(this).attr("src");
            rollON = rollsrc.replace(/.png$/ig,"_over.png");
            \$("<img>").attr("src", rollON);
        });

        \$("#NAV$topmenu").addClass("current");

        \$("a.confirm").bind("click",function(e) {
            \$('#MainMenu.sf-menu').hideSuperfishUl();
            e.preventDefault();
            var target = \$( this ).attr('href');
            if ( confirm("Are you sure you want to " + \$(this).text() + "?") )
                location.href = target;
            return false;
        });

    });
    	
    	
//-->
</script>
</head>

<body>
#if $sickbeard.NEWEST_VERSION_STRING:
<div id="upgrade-notification">
    <div>
        <span class="notify-text">$sickbeard.NEWEST_VERSION_STRING</span>
    </div>
</div>
<div id="header-fix"></div>
#end if
<div id="header">
	<div class="wrapper">
    <a name="top"></a>
    <span id="logo"><a href="$sbRoot/home/" title="Sick Beard homepage"><img alt="Sick Beard" src="$sbRoot/images/sickbeard.png" width="150" /></a></span>
    <span id="versiontext">alpha $sickbeard.version.SICKBEARD_VERSION</span>
    <ul id="MainMenu" class="sf-menu">
                <li id="NAVhome"><a href="$sbRoot/home/">Show list</a>
                    <ul>
                            <li><a href="$sbRoot/home/addShows/"><img src="$sbRoot/images/menu/addshow16.png" alt="" width="16" height="16" />Add Shows</a></li>
                            <li><a href="$sbRoot/home/postprocess/"><img src="$sbRoot/images/menu/postprocess16.png" alt="" width="16" height="16" />Manual Post-Processing</a></li>
                    </ul>
                </li>
                <li id="NAVcomingEpisodes"><a href="$sbRoot/comingEpisodes/">Coming Episodes</a></li>
                <li id="NAVhistory"><a href="$sbRoot/history/">History</a></li>
                <li id="NAVmanage"><a href="$sbRoot/manage/">Manage</a>
                    <ul>
                            <li><a href="$sbRoot/manage/"><img src="$sbRoot/images/menu/manage16.png" alt="" width="16" height="16" />Mass Update</a></li>
                            <li><a href="$sbRoot/manage/backlogOverview/"><img src="$sbRoot/images/menu/backlog_view16.png" alt="" width="16" height="16" />Backlog Overview</a></li>
                            <li><a href="$sbRoot/manage/manageSearches/"><img src="$sbRoot/images/menu/managesearches16.png" alt="" width="16" height="16" />Manage Searches</a></li>
                            <li><a href="$sbRoot/manage/episodeStatuses/"><img src="$sbRoot/images/menu/backlog16.png" alt="" width="16" height="16" />Episode Status Management</a></li>
                            #if $sickbeard.USE_SUBTITLES:
                            <li><a href="$sbRoot/manage/subtitleMissed/"><img src="$sbRoot/images/menu/backlog16.png" alt="" width="16" height="16" />Missed Subtitle Management</a></li>
                            #end if
                    </ul>
                </li>                
                <li id="NAVerrorlogs"><a href="$sbRoot/errorlogs/" class="log">$logPageTitle</a>
                    <ul>
                            <li><a href="$sbRoot/errorlogs/"><img src="$sbRoot/images/menu/viewlog_errors16.png" alt="" width="16" height="16" />View Log (Errors)</a></li>
                            <li><a href="$sbRoot/errorlogs/viewlog/"><img src="$sbRoot/images/menu/viewlog16.png" alt="" width="16" height="16" />View Log</a></li>
                    </ul>
                </li>
                <li id="NAVconfig"><a href="$sbRoot/config/" class="config"><img src="$sbRoot/images/menu/system18.png" alt="" /></a>
                    <ul>
                            <li><a href="$sbRoot/config/"><i class="icon-question-sign" style=" margin-left: -21px;margin-right: 8px;position: absolute;"></i>Help &amp; Info</a></li>
                            <li><a href="$sbRoot/config/general/"><img src="$sbRoot/images/menu/config16.png" alt="" width="16" height="16" />General</a></li>
                            <li><a href="$sbRoot/config/search/"><img src="$sbRoot/images/menu/config16.png" alt="" width="16" height="16" />Search Settings</a></li>
                            <li><a href="$sbRoot/config/providers/"><img src="$sbRoot/images/menu/config16.png" alt="" width="16" height="16" />Search Providers</a></li>
                            <li><a href="$sbRoot/config/subtitles/"><img src="$sbRoot/images/menu/config16.png" alt="" width="16" height="16" />Subtitles Settings</a></li>
                            <li><a href="$sbRoot/config/postProcessing/"><img src="$sbRoot/images/menu/config16.png" alt="" width="16" height="16" />Post Processing</a></li>
                            <li><a href="$sbRoot/config/notifications/"><img src="$sbRoot/images/menu/config16.png" alt="" width="16" height="16" />Notifications</a></li>
                    </ul>
                </li>
                
                <li id="donate"><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=mr_orange%40hotmail%2eit&lc=IT&item_name=Sickbeard%20TPB&currency_code=EUR&bn=PP%2dDonationsBF%3abtn_donateCC_LG%2egif%3aNonHosted" onclick="window.open(this.href); return false;"><img src="$sbRoot/images/paypal/btn_donate_LG.gif" alt="[donate]" /></a></li>
    </ul>
    
    </div>
</div>


<div id="contentWrapper">
    <div id="content">
    	#if $varExists('submenu'):
    	<div id="SubMenu">
    	<span>
    	#set $first = True
    	#for $menuItem in $submenu:
    	    #if 'requires' not in $menuItem or $menuItem.requires():
    	        #if type($menuItem.path) == dict:
    	            #if $first then "" else "</span><span>"#<b>$menuItem.title</b>
    	            #set $first = False
    	            #set $inner_first = True
    	            #for $cur_link in $menuItem.path:
    	                #if $inner_first then "" else "&middot; "#<a class="inner" href="$sbRoot/$menuItem.path[$cur_link]">$cur_link</a>
    	                #set $inner_first = False
    	            #end for
    	        #else
    	            #if $first then "" else ""#<a href="$sbRoot/$menuItem.path" #if 'confirm' in $menuItem then "class=\"confirm\"" else "" #>$menuItem.title</a>
    	            #set $first = False
    	        #end if
    	    #end if
    	#end for
    	</span>
    	</div>
    	#end if