#import sickbeard
#from sickbeard import classes
#from sickbeard.common import *
#from sickbeard.logger import reverseNames
#set global $header="Log File"
#set global $title="Logs"

#set global $sbPath = ".."

#set global $topmenu="errorlogs"#
#import os.path
#include $os.path.join($sickbeard.PROG_DIR, "gui/slick/interfaces/default/inc_top.tmpl")

<script type="text/javascript" charset="utf-8">
<!--
\$(document).ready(function(){
    \$('#minLevel').change(function(){
        url = '$sbRoot/errorlogs/viewlog/?minLevel='+\$(this).val()
        window.location.href = url
    });
});
//-->
</script>
#if $varExists('header') 
	<h1 class="header">$header</h1>
#else 
	<h1 class="title">$title</h1>
#end if
<div class="h2footer align-right"><b>Minimum logging level to display:</b> <select name="minLevel" id="minLevel">
#set $levels = $reverseNames.keys()
$levels.sort(lambda x,y: cmp($reverseNames[$x], $reverseNames[$y]))
#for $level in $levels:
<option value="$reverseNames[$level]" #if $minLevel == $reverseNames[$level] then "selected=\"selected\"" else ""#>$level.title()</option>
#end for
</select>
</div>

<div class="align-left"><pre>
$logLines
</pre>
</div>

<script type="text/javascript" charset="utf-8">
<!--
window.setInterval( "location.reload(true)", 600000); // Refresh every 10 minutes
//-->
</script>

#include $os.path.join($sickbeard.PROG_DIR,"gui/slick/interfaces/default/inc_bottom.tmpl")
