#fileBrowserDialog {
  max-height: 480;
  overflow-y: auto;
}
#fileBrowserDialog ul {
  margin: 0;
  padding: 0;
}
#fileBrowserDialog ul li {
  margin: 2px;
  padding: 4px 0;
  cursor: pointer;
  list-style-type: none;
}
#fileBrowserDialog ul li a {
  display: block;
}
#fileBrowserDialog ul li a:hover {
  color: blue;
  background: none;
}
#fileBrowserDialog ul li a span.ui-icon {
  margin: 0 4px;
  float: left;
}
/*
.browserDialog.busy .ui-dialog-buttonpane {
  background: url("/images/loading.gif") 10px 50% no-repeat;
}
*/