#fileBrowserDialog {
  max-height: 480px;
  overflow-y: auto;
}
#fileBrowserDialog ul {
  margin: 0;
  padding: 0;
}
#fileBrowserDialog ul li {
  margin: 2px;
  padding: 4px 0;
  cursor: pointer;
  list-style-type: none;
}
#fileBrowserDialog ul li a {
  display: block;
}
#fileBrowserDialog ul li a:hover {
  color: blue;
  background: none;
}
#fileBrowserDialog ul li a span.ui-icon {
  margin: 0 4px;
  float: left;
}
/*
.browserDialog.busy .ui-dialog-buttonpane {
  background: url("/images/loading.gif") 10px 50% no-repeat;
}
*/

/* jquery ui autocomplete overrides to make it look more like the old autocomplete */
.ui-autocomplete {
  max-height: 180px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
  /* add padding to account for vertical scrollbar */
  padding-right: 20px;
}
* html .ui-autocomplete {
  height: 180px;
}
.ui-menu .ui-menu-item {
  background-color: #eeeeee;
}
.ui-menu .ui-menu-item-alternate{
  background-color: #ffffff;
}
.ui-menu a.ui-state-hover{
  background: none;
  background-color: #0A246A;
  color: #ffffff;
}
