.posterThumb {
    -ms-interpolation-mode: bicubic; /* make scaling look nicer for ie */
    vertical-align: top;
    width: 136px;
}
.bannerThumb {
    -ms-interpolation-mode: bicubic; /* make scaling look nicer for ie */
    vertical-align: top;
    height: 112px;
}

.listing_network {
    border: 1px solid #888;
    background-color: #8FBFAF;
}

.listing_default {
    background-color: #F4F0E3;
}

.listing_current {
    background-color: #ddffdd;
}

.listing_waiting {
    background-color: #99ff99;
}

.listing_overdue {
    background-color: #ffdddd;
}

.listing_toofar {
    background-color: #ddddff;
}

.listing_unknown {
    background-color: #ffdc89;
}

span.pause {
    color: #FF0000;
    font-size: 12px;
}

.collapse {
    overflow: hidden;
    padding: 7px;
    margin-bottom: 0.75em;
    border: 1px solid #ccc;
    background-color: #efefef;
    text-align: center;
}
.collapse img {
    padding: 3px 1px;
}
.expand {
    clear: both;
    margin: 0;
    margin-bottom: 0.75em;
}
.expand a {
    display: block;
    padding: 3px 10px;
    letter-spacing: 1px;
}
.switch {
    position: absolute;
    top: 0.5em;
    right: 1.5em;
    padding: 3px;
}

.metadataView {
    margin: 1.5em 0;
    padding: 0.5em 1.5em 0.75em;
    border: 1px solid #ccc;
    position: relative;
    overflow: hidden;
}

.metadataView h3 a:link, .metadataView h3 a:visited {
    border: 1px solid #ccc;
    text-decoration: none;
}

.showPad {
    padding-bottom: 4px;
}

.showBG { 
    border: 1px solid #aaa;
    padding: 5px !important;
    margin: 2px 0;
}

p.showActions { text-align: right; margin: 0; } 
p.showActions img { padding: 0 2px; }
