div#outsideWrapper { 
    margin: 0px auto; 
    text-align: center;
}

div#insideWrapper { 
    margin: 0px auto;
    border: 1px solid #E9E9E9;
    background-color: #F8F8F8;
    padding: 0px 35px 0px 35px;
    width: 629px;
}

div#insideContent {
    text-align: center;
    width: 629px;
}

.tvshowDiv {
    width: 606px;
    display: block;
    clear: both;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    margin: auto;
    padding: 0px;
    text-align: left;
}

.tvshowDiv a, .tvshowDiv a:link, .tvshowDiv a:visited, .tvshowDiv a:hover  {
    text-decoration: none;
    background: none;
}

.tvshowTitle a {
    color: #FFFFFF;
    float: left; 
    padding-top: 5px; 
    padding-left: 8px; 
    line-height: 17px;
    font-size: 16px;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
}

.tvshowTitleIcons {
    float: right;
    padding: 3px 5px;
}

.tvshowDiv .title { 
    font-weight: 900;
    color: #333;
}

.posterThumb {
    /* display:table-cell; */
    -ms-interpolation-mode: bicubic; /* make scaling look nicer for ie */
    vertical-align: top;
    height: 200px;
    width: 136px;
    border-top: 1px solid #ccc; 
    border-right: 1px solid #ccc;
}
.bannerThumb {
    /* display:table-cell; */
    -ms-interpolation-mode: bicubic; /* make scaling look nicer for ie */
    vertical-align: top;
    height: 112px;
    width: 606px;
    /* margin-bottom: 1px; */
}

.tvshowDiv th {
    color: #000;
    letter-spacing: 1px;
    text-align: left;
    background-color: #333333;
}

.tvshowDiv th.nobg {
    background: #efefef;
    border-top: 1px solid #666;
}

.tvshowDiv td {
    border-top: 1px solid #d2ebe8;
    background: #fff;
    padding: 10px;
    color: #000;
}

.tvshowDiv td.next_episode {
    width: 100%;
    border-top: 1px solid #ccc;
    background: #F5FAFA;
    color: #000;
}

h1.day {
    font-weight: bold;
    padding: 4px;
    letter-spacing: 1px;
    background-color: #9CB5CF;
    color: #000;
    text-align: center;
}

h1.network {
    font-weight: bold;
    padding: 4px;
    letter-spacing: 1px;
    background-color: #8FBFAF;
    color: #000;
    text-align: center;
}

.ep_listing {
    width: auto;
    border: 1px solid #CCCCCC;
    margin-bottom: 10px;
    /* margin: 10px; */
    overflow: hidden;
    padding: 10px;
}

.listing_default {
    background-color: #F5F1E4;
}

.listing_current {
    background-color: #ddffdd;
}

.listing_waiting {
    background-color: #99ff99;
}

.listing_overdue {
    background-color: #ffdddd;
}

.listing_toofar {
      background-color: #ddddff;
}

.listing_unknown {
    background-color: #ffdc89;
}

span.pause {
    color: #FF0000;
    font-size: 12px;
}

.ep_summaryTrigger {
    float: left;
    padding-top: 5px;
}
.ep_summary {
    margin-left: 25px;
    padding-top: 5px;
}