#config{text-align:center;padding:0 30px 20px;}
#config *{font-family:"Trebuchet MS", Verdana, sans-serif;margin:0;padding:0;}
#config h3 a {text-decoration: none;}
#config h3 img {vertical-align: baseline; padding-right: 5px;}
#config ul{list-style-type:none;padding-left: 20px;}
#config h3{font-size:1.5em;color:#000;}
#config h4{font-size:1em;color:#333;text-transform:uppercase;margin:0 0 .2em;}
#config h5{font-size:1em;color:#000;margin:0 0 .2em;}
#config p,#config li{font-size:1.2em;line-height:1.3;}
#config .path{font-size:1em;color:#333;font-family:Verdana;}
#config .jumbo{font-size:16px !important;}
#config-content{display:block;width:835px;text-align:left;clear:both;background:#fff;margin:0 auto;padding:0 0 40px;}
#config-components{float:left;width:auto;}
#config-components-border{float:left;width:auto;border-top:1px solid #999;padding:5px 0;}
#config .title-group{border-bottom:1px dotted #666;position:relative;padding:25px 15px 25px;}
#config .component-group{border-bottom:1px dotted #666;position:relative;padding:15px 15px 25px;}
#config .component-group-desc{float:left;width:235px;}
#config .component-group-desc h3{font-size:1.5em;}
#config .component-group-desc p{width:85%;font-size:1.2em;color:#666;margin:.8em 0;}
#config .component-group-desc p.note{width:90%;font-size:1.2em;color:#333;margin:.8em 0;}
#config .component-group-list{float:left;width:565px;}
#config fieldset{border:0;outline:0;}
#config div.field-pair{margin:.9em 0 1.4em;}
#config div.field-pair input{float:left;margin-right:6px;}
#config label.nocheck,#config div.providerDiv,#config div #customQuality{padding-left:20px;}
#config label span.component-title{font-size:1.2em;font-weight:700;float:left;width:160px;margin-right:10px;}
#config label span.component-desc{font-size:1.1em;}
#config div.field-pair select{font-size:1.1em;border:1px solid #d4d0c8;}
#config div.field-pair select option{line-height:1.4;padding:0 10px; border-bottom: 1px dotted #D7D7D7;}
#config-settings{float:right;width:200px;background:#fffae5;border-bottom:1px dotted #666;border-top:1px solid #999;margin-right:20px;padding:20px 0 30px;}
#config-settings .config-settings-group{border-bottom:1px dotted #999;padding-bottom:15px;margin:0 15px 15px;}
#config-settings .config-settings-group h2{margin-bottom:0;}
#config-settings .config-settings-group p{font-size:1.1em;color:#666;margin:.6em 0 1em;}
#config-settings .config-settings-group div.field-pair{margin:1.2em 0 .6em;}
#config-settings .config-settings-group input{float:left;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{display:block;}
/* Hides from IE-mac \*/
* html .clearfix{height:1%;}
/* End hide from IE-mac */
#provider_order_list{list-style-type:none;width:250px;margin:0;padding:0;}
#provider_order_list li{font-size:1.3em;height:1.3em;font-family:Verdana;margin:0 5px 5px;padding:6px;}
#provider_order_list input{margin:0px 2px;}
.providerDiv{display:none;padding-left:20px;}
#config div.metadataDiv{display:none;}
#config div.metadata_options{float:left;font-size:14px;font-family:Verdana;width:185px;color:#036;background:#F5F1E4;overflow:auto;border-left:1px solid #404040;border-top:1px solid #404040;border-bottom:1px solid #d4d0c8;border-right:1px solid #d4d0c8;padding:7px;}
#config div.metadata_options label:hover{background-color:#9f9;}
#config div.metadata_options label{display:block;color:#036;line-height:1.5em;padding-left:7px;}
#config div.metadata_example{float:right;font-size:14px;font-family:Verdana;width:265px;color:#036;overflow:auto;margin-right:30px;padding:7px;}
#config div.metadata_example label{display:block;color:#000;line-height:1.5em;}
#config div.metadataDiv .disabled{color:#ccc;}
#config div #metadataLegend{font-size:14px;font-family:Verdana;font-weight:900;display:block;width:auto;text-align:center;padding-bottom:3px;}

.infoTable {border-collapse: collapse;}
.infoTableHeader, .infoTableCell {padding: 5px;}
.infoTableHeader{font-weight:700;}
.infoTableSeperator { border-top: 1px dotted #666666; }

#config div.testNotification {border: 1px dotted #CCCCCC; padding: 5px; margin-bottom: 10px; line-height:20px;}

.config_message {
    width: 100%;
    text-align: center;
    font-size: 1.3em;
    background: #ffecac;
}
