* { outline: 0; }
*:focus { outline: none; }
img { border: 0; vertical-align: middle;}

body {
text-rendering: optimizeLegibility;
background-color:#F5F1E4;
color:#000;
font-family:'Verdana', 'Helvetica', 'Sans-serif', 'sans';
font-size:12px;
margin:0;
padding:0;
}

form {
border:none;
display:inline;
margin:0;
padding:0;
}

/* these are for inc_top.tmpl */
#upgrade-notification{line-height:0.5em;color:#57442b;font-size:1em;font-weight:700;height:0px;text-align:center;width:100%;z-index:100;margin:0;padding:0;}
#upgrade-notification div{background-color:#c6b695;border-bottom:1px solid #af986b;padding:7px 0;}
#header-fix{*margin-bottom: -31px; /* IE fix */height:21px;padding:0;} 

#header {
background-color:#fff;
padding: 5px 0;
z-index:2;
}

#header a:hover {
background:none;
}

#logo {
font-size:33px;
font-family:Arial, Helvetica, sans-serif;
font-weight:700;
text-transform:uppercase;
padding: 0px 5px 0px 15px;
}

#versiontext {
font-size:20px;
font-family:Arial, Helvetica, sans-serif;
text-transform:lowercase;
color:#57442B;
}

/* --------------------------------------------- */

table {
margin:0;
}

h1 {
text-align:left;
font-size:21px;
line-height:23px;
font-weight:400;
}
h1.title {
padding-bottom:4px;
margin-bottom:12px;
border-bottom:1px solid #4e4e4e;
}
h1 a {
text-decoration:none;
}

h2 {
font-size:18px;
font-weight:700;
}

.h2footer {
margin: -33px 5px 6px 0px;
}
.h2footer select {
margin-top: -6px;
margin-bottom: -6px;
}

.h2footer span {
padding:2px;
} 

.separator {
font-size:90%;
color:#999;
}

div select {
font-size:1.1em;
border:1px solid #d4d0c8;
}

div select option {
line-height:1.4;
padding:0 10px;
border-bottom: 1px dotted #D7D7D7;
}

/* --------------- alignment ------------------- */
.float-left { float:left; }
.float-right { float:right; }
.align-left { text-align:left; }
.align-right { text-align:right; }
.nowrap { white-space: nowrap; }
/* --------------------------------------------- */

.footer {
clear:both;
width: 100%;
text-align:center;
padding-top: 5px;
padding-bottom: 5px;
background-color:#F5F1E4;
border-top:1px solid #b3b3b3;
color:#4e4e4e;
line-height: 1.4em;
font-size: 1em;
}

.sickbeardTable {
width:100%;
margin-left:auto;
margin-right:auto;
}
.sickbeardTable th{
padding:3px;
font-weight:700;
background-color:#333;
color:#FFF;
text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
}
.sickbeardTable td{
padding:4px;
}
.sickbeardTable tfoot a {
color:#FFF;
text-decoration: none;
}

.row {
clear:left;
}

.plotInfo {
cursor:help;
font-weight: 700;
float: right;
position: relative;
margin-left: 8px;
}

#tooltip {
display:none;
z-index:3000;
border:1px solid #111;
background-color:#eee;
padding:5px;
margin-right:10px;
}

.progressbarText {
text-shadow: 0 0 0.1em #fff;
position:absolute;
top:0;
width:100%;
height:100%;
overflow:visible;
text-align:center;
vertical-align: middle;
}

tr.seasonheader {
text-align:center;
background-color:#fff;
padding:0;
}
tr.seasonheader h2 {
display:inline;
font-size:22px;
line-height:20px;
letter-spacing:1px;
margin:0;
color:#000;
}
tr.seasonheader a {
text-decoration:none;
}
tr.seasonheader a:hover {
background-color: #fff;
color:#000;
}

#checkboxControls label { white-space:nowrap; }
tr.unaired,span.unaired {
background-color:#F5F1E4;
padding:2px;
}

tr.skipped,span.skipped {
background-color:#BEDEED;
padding:2px;
}

tr.good,span.good {
background-color:#C3E3C8;
padding:2px;
}

tr.qual,span.qual {
background-color:#FFDA8A;
padding:2px;
}

tr.wanted,span.wanted {
background-color:#FFB0B0;
padding:2px;
}

a,a.remove {
color:#000;
}

h1 a:hover, h2 a:hover, span a:hover, div.h2footer a:hover {
background-color:#000;
color:#FFF;
}

div#summary {
background-color:#efefef;
padding:10px;
border:1px solid #DFDEDE;
margin:10px;
}
div#summary tr {
line-height: 17px;
}

#MainMenu {
background-color:#57442B;
color:#F5F5F5;
width:100%;
}
#SubMenu {
clear:both;
background-color:#F5F1E4;
color:#333;
border-top: 1px solid #333;
border-bottom: 1px solid #b3b3b3;
padding-left:5px;
}
#SubMenu span {
padding:2px 6px 2px 8px;
}
#SubMenu span a {
line-height:24px;
text-decoration:none;
color:#333;
font-weight:700;
padding:2px 6px 2px;
}
#SubMenu span a.inner {
font-weight:400;
padding:2px;
}
#SubMenu span a:hover {
background-color:#000;
color:#fff;
}
.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
color: #f5f5f5 !important;
}
#donate {
line-height:1em;
background: #57442B;
float: right;
}
#donate a,#donate a:hover {
background-color:#57442B;
border:0;
padding:4px 15px 0px;
}
#content {
    min-height: 100px;
    background: #fff;
    margin-left: auto;
    margin-right: auto;
    border-left: thin solid #B3B3B3;
    border-right: thin solid #B3B3B3;
    width: 88%;
    min-width:650px;
    z-index:1;
    clear:both;
    padding: 10px 15px 15px;
}
.showLegend{
font-weight:700;
padding-right:10px;
padding-bottom:1px;
}

/* for the add new/existing show */
.alt { background-color: #efefef; }
#tabs div.field-pair, .stepDiv div.field-pair{padding:0.75em 0;}
#tabs div.field-pair input, .stepDiv div.field-pair input{float:left;}
#tabs label.nocheck,   #tabs div.providerDiv,  #tabs  div #customQuality, .stepDiv label.nocheck,.stepDiv div.providerDiv,.stepDiv div #customQuality{padding-left:23px;}
#tabs  label span.component-title, .stepDiv label span.component-title{font-size:1.1em;font-weight:700;float:left;width:165px; padding-left: 6px; margin-right:10px;}
#tabs label span.component-desc, .stepDiv label span.component-desc{font-size:.9em; float:left;}
#tabs div.field-pair select, .stepDiv div.field-pair select{font-size:1em;border:1px solid #d4d0c8;}
#tabs div.field-pair select option, .stepDiv div.field-pair select option{line-height:1.4;padding:0 10px; border-bottom: 1px dotted #D7D7D7;}

ul#rootDirStaticList { width: 90%; text-align: left; margin-left: auto; margin-right: auto; padding-left: 0; }
ul#rootDirStaticList li{ list-style: none outside none; margin: 2px; padding: 4px 5px 4px 5px; cursor: pointer; }

#displayText {
background-color:#efefef;
padding:8px;
border:1px solid #DFDEDE;
font-size:1.1em;
overflow: hidden;
}

div#addShowPortal {
margin-left: auto; 
margin-right: auto;
width: 480px;
}

div#addShowPortal  button { padding: 10px; }
div#addShowPortal  button div.button img{ position: absolute; display: block; top: 35%; padding-left: 0.4em; text-align: center; }
div#addShowPortal  button .buttontext { position: relative; display: block; padding: 0.1em 0.4em 0.1em 4.4em; text-align: left; }

#rootDirs, #rootDirsControls { width: 50%; min-width: 400px; }

td.tvShow { font-weight: bold; }

td.tvShow a {text-decoration: none; font-size: 1.2em; }
td.tvShow:hover { background-color: #cfcfcf !important; cursor: pointer; }
.navShow { display: inline; cursor: pointer; vertical-align: top; }

/* for manage_massEdit */
.optionWrapper { width: 450px; margin-left: auto; margin-right: auto; padding: 6px 12px; }
.optionWrapper span.selectTitle { float: left; font-weight: 700; font-size: 1.2em; text-align: left; width: 225px; }
.optionWrapper div.selectChoices { float: left; width: 175px; margin-left: 25px; }
.optionWrapper br { clear: both; }

a.whitelink { color: white; }

/* for displayShow notice */
#show_message {
    padding: 5px 8px;
    background: #ffd575;
    color: #333333;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
    font-size: 1em;
}
div.ui-pnotify { min-width: 340px; max-width: 550px; width: auto !important;}

/* override for qtip2 */
.ui-tooltip-sb .ui-tooltip-titlebar a { color: #222222; text-decoration: none; }
.ui-tooltip, .qtip { max-width: 500px !important; }

option.flag {
  padding-left: 35px; 
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 10px 50%; 
}

span.quality {
    font: bold 1em/1.2em verdana, sans-serif;
    background: none repeat scroll 0 0 #999999;
    color: #FFFFFF;
    display: inline-block;
    padding: 2px 4px;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
span.Custom {
    background: none repeat scroll 0 0 #444499; /* blue */
}
span.HD,span.WEB-DL,span.BluRay {
    background: none repeat scroll 0 0 #449944; /* green */
}
span.SD {
    background: none repeat scroll 0 0 #994444; /* red */
}
span.Any {
    background: none repeat scroll 0 0 #444444; /* black */
}

span.false {
    color: #993333; /* red */
}
span.true {
    color: #669966; /* green */
}