* { outline: 0; }
img { border: 0; vertical-align: middle;}

body {
background-color:#fff;
color:#000;
font-family:'Verdana', 'Helvetica', 'Sans-serif', 'sans';
font-size:12px;
margin:0;
padding:0;
}

form {
border:none;
display:inline;
margin:0;
padding:0;
}

/* only used in config_timezones.tmpl */
fieldset.EntryFieldSet {
vertical-align:top;
display:inline;
border-color:#3a3a3a;
margin:5px;
padding:7px;
}
legend {
color:#000;
font-weight:700;
}
div.EntryBlock,div.EntryBlock form {
display:inline;
}
/* --------------------------------------------- */

/* these are for incl_top.tmpl */
#header {
padding-top:3px;
z-index:2;
}

#header a:hover {
background:none;
}

#tagline {
display:block;
position:relative;
padding-right:10px;
top:1px;
float:right;
text-align:right;
font-size:10px;
font-weight:400;
}

#logo {
font-size:33px;
font-family:Arial, Helvetica, sans-serif;
font-weight:700;
text-transform:uppercase;
padding-left:20px;
}

#versiontext {
font-size:20px;
font-family:Arial, Helvetica, sans-serif;
text-transform:lowercase;
color:#57442B;
}

/* --------------------------------------------- */

table {
font-size:9pt;
margin:0;
}

tr.active {
font-weight:700;
}

tr.finished {
font-weight:400;
}

tr.waiting {
font-style:italic;
}

td.pre {
font-size:13px;
font-family:'courier new',courier,serif;
font-weight:700;
}

h1 {
text-align:left;
font-size:19px;
line-height:20px;
font-weight:400;
padding-bottom:4px;
margin-bottom:12px;
border-bottom:1px solid #4e4e4e;
}

h1 a {
text-decoration:none;
}

h2 {
font-size:18px;
font-weight:700;
}

.h2footer {
margin-top:-33px;
margin-right:5px;
}
.h2footer span {
padding:2px;
} 

.separator {
font-size:90%;
color:#999;
}

div select {
font-size:1.1em;
border:1px solid #d4d0c8;
}

div select option {
line-height:1.4;
padding:0 10px;
border-bottom: 1px dotted #D7D7D7;
}

/* --------------- alignment ------------------- */
.float-left {
float:left;
}

.float-right {
float:right;
}

.align-left {
text-align:left;
}

.align-right {
text-align:right;
}
/* --------------------------------------------- */

.footer {
text-align:center;
padding-bottom:5px;
margin-top:20px;
background-color:#F5F1E4;
border-top:1px solid #000;
color:#4e4e4e;
}

.sickbeardTable {
width:90%;
margin-left:auto;
margin-right:auto;
}

.sickbeardTable th{
padding:2px;
font-weight:700;
background-color:#333;
color:#FFF;
text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
}
.sickbeardTable td{
padding:5px;
}

.row {
clear:left;
}

.plotInfo {
cursor:help;
padding-left:5px;
float:right;
}

.message {
margin-bottom:20px;
text-align:left;
font-size:larger;
padding:4px 0 4px 1em;
}

.message p span {
float:left;
margin-right:.5em;
}

.message a:hover {
color:blue;
background:none;
}

#tooltip {
display:none;
z-index:3000;
border:1px solid #111;
background-color:#eee;
padding:5px;
margin-right:10px;
}

.progressbarText {
position:absolute;
top:0;
width:100%;
height:100%;
overflow:visible;
text-align:center;
vertical-align: middle;
}

tr.seasonheader {
text-align:center;
background-color:#fff;
padding:0;
}
tr.seasonheader h2 {
font-size:22px;
line-height:20px;
letter-spacing:1px;
margin:0;
color:#000;
}
tr.seasonheader a {
text-decoration:none;
}
tr.seasonheader a:hover {
background-color: #fff;
color:#000;
}

tr.unaired,span.unaired {
background-color:#F5F1E4;
padding:2px;
}

tr.skipped,span.skipped {
background-color:#BEDEED;
padding:2px;
}

tr.good,span.good {
background-color:#C3E3C8;
padding:2px;
}

tr.qual,span.qual {
background-color:#FFDA8A;
padding:2px;
}

tr.wanted,span.wanted {
background-color:#FFB0B0;
padding:2px;
}

a,a.remove {
color:#000;
}

h1 a:hover, h2 a:hover, span a:hover, div.h2footer a:hover {
background-color:#000;
color:#FFF;
}

.message p,.message ul {
margin:0;
}

div#summary {
background-color:#efefef;
padding:10px;
border:1px solid #DFDEDE;
margin:10px;
}

#MainMenu {
background-color:#57442B;
color:#F5F5F5;
/*margin-bottom:1em;*/
width:100%;
border-bottom: 1px solid #333;
}
#SubMenu {
background-color:#F5F1E4;
color:#333;
border-bottom: 1px solid #333;
padding-left:5px;
}
#SubMenu span {
padding:2px 6px 2px 8px;
}
#SubMenu span a {
line-height:24px;
text-decoration:none;
color:#333;
font-weight:700;
padding:2px 6px 2px;
}
#SubMenu span a.inner {
font-weight:400;
padding:2px;
}
#SubMenu span a:hover {
background-color:#000;
color:#fff;
}
#donate {
line-height:1em;
background: #57442B;
float: right;
}
#donate a,#donate a:hover {
background-color:#57442B;
border:0;
padding:4px 15px 0px;
}
#content {
padding: 10px 15px 15px;
_text-align: center;
min-width:500px;
z-index:1;
clear:both;
}
.showLegend{
font-weight:700;
padding-right:10px;
padding-bottom:1px;
}