body {
	font-family: 'Verdana', 'Helvetica', 'Sans-serif', 'sans';
	font-size: 12px;
	line-height: 18px;
	padding: 15px;
	margin: 0px;
}

a {
 text-decoration: none;
}

form {
  margin: 0px;
  padding: 0px;
  border: none;
  display: inline;
}

legend {
  font-weight: bold;
}
div.EntryBlock {
  display: inline;
}
div.EntryBlock form {
  display: inline;
}
fieldset.EntryFieldSet {
  vertical-align: top;
  display: inline;
  padding: 7px;
  margin: 5px;
}
.MainMenu a {
	font-weight: bold;
	padding: 3px;
    padding-bottom: 7px;
	text-decoration: none;
	padding-left: 12px;
    padding-right: 12px;
}

.SubMenu a {
	font-weight: bold;
	padding: 3px;
    padding-bottom: 7px;
	text-decoration: none;
	padding-left: 12px;
    padding-right: 12px;
    
}

a.current {
	border: none;
	padding: 3px;
	padding-bottom: 7px;
	padding-left: 12px;
    padding-right: 12px;
}

a.current {
	color:white;
}

a.current:hover {
	border: none;
}


.block {
	padding: 10px;
}

.blockWithBorder {
	display: block;
	border-width: thin;
	border-style: solid;
	padding: 5px;
}

.MainMenu {
	display: block;
	padding: 5px;

}
.SubMenu {
	display: block;
	padding: 5px;
}

table {
	font-size: 9pt;
	margin: 0px;
}
td, td {
  padding: 5px;
}
th {
	font-weight: bold;
}

tr.active {
	font-weight: bold;
}

tr.finished {
	font-weight: normal;
}

tr.waiting {
	font-style: italic;
}

td.pre {
	font-size: 13px;
	font-family: 'courier new',courier,serif;
	font-weight: bold;
}

h1 {
  text-align: left;
  font-size: 19px;
  font-weight: normal;
  padding-bottom: 4px;
}
* html h1 {
  padding-bottom: 2px;
}
h2 {
  font-size: 18px;
  font-weight: bold;
}
#first {
	font-size: 33px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold ;
	text-transform: uppercase;
	padding-left: 20px;
}

#second {
	font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
	text-transform: lowercase;
}

#catchfrase {
  display: block;
  position: relative;
  top: -18px;
  float: right;
  text-align: right;
  font-size: 10px;
  font-weight: normal;
}
.footer {
  text-align: center;
  padding-bottom: 5px;
  margin-top: 20px;
}

#progressBar {
  height: 6px;
  width: 90%;
  margin: 0px;
  margin-left: auto; 
  margin-right: auto;
  padding: 0px;
  text-align: left;
}

* html #progressBar {
  height: 8px;
  he\ight: 6px;
}

#percentageBar {
  position: relative; 
  height: 6px;
}

#queueTable, #historyTable {
width:100%;
}

#row_del, #row_order, #row_mode {
width:75px;
}

.verbosity_link{
padding:4px;
}

.normalheight, .doubleheight, .tripleheight, .pattern, .result, .heading1, .heading2, .heading3 {float:left; border-left:1px }
.normalheight, .doubleheight, .tripleheight, .heading1 {width:125px;}
.normalheight {}
.doubleheight {height:30px;}
.tripleheight {height:60px;}
.row{clear:left;}
.pattern, .heading2 {width:70px}
.result, .heading3  {width:125px}
#Keytable {text-align:center;}
.heading1, .heading2, .heading3{font-weight:bold; background-color:black; color:white;}



/*
Son of Suckerfish Dropdowns
By Patrick Griffiths and Dan Webb.
http://htmldog.com/articles/suckerfish/dropdowns/
*/
#nav, #nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

#nav a {
	display: block;
	width: 4em;
    padding-bottom:0;
}


#nav li ul {
	position: absolute;
	width: 6em;
	left: -999em;
    background-color:white;
    
}

#nav li:hover ul {
	left: auto;
}

#nav li:hover ul, #nav li.sfhover ul {
	left: auto;
}

#nav{
display: inline;
display: -moz-inline-box;
display: inline-block;
width:100px;

}
/*
Son of Suckerfish Dropdowns END
*/

#speedbox{width:36px;}