fieldset.sectionwrap{ /*fieldset that wraps around each form "page" */
overflow: auto;
width: 800px;
border-width:0;
padding:5px;
}

legend.legendStep{ /*title shown at top of each form page */
font:bold 16px Arial;
color: #57442B;
}

div.stepsguide{ /*div that contains all the "steps" text located at top of form */ 
width: 800px; /*width of "steps" container*/
overflow:hidden;
margin-bottom:15px;
cursor:pointer;
}

div.stepsguide .step{ /*div that wraps around each "steps" text */
width:260px; /*width of each "steps" text*/
font: bold 24px Arial;
float:left;
}

div.stepsguide .disabledstep{ /*div that wraps around each "steps" text */
color:#C4C4C4;
}

div.stepsguide .step .smalltext{ /*small footer text inside "steps" text */
font-size: 13px;
font-weight: normal;
}

div.formpaginate{ /* CSS for pagination DIV container */
width: 800px;
overflow:auto;
font-weight:bold;
text-align:center;
margin-top:1em;
}

div.formpaginate .prev, div.formpaginate .next{ /*CSS for "prev" and "next" SPAN elements within paginate container */
border-radius:6px;
-webkit-border-radius:6px;
-moz-border-radius:6px;
padding:3px 6px;
background:#57442B;
color:white;
cursor:hand;
cursor:pointer;
}

.stepDiv {padding: 15px;}

/* step 3 related */

.alt { background-color: #efefef; }
div.field-pair{padding:.9em 0 1.4em;}
div.field-pair input{float:left;}
label.nocheck,div.providerDiv,div #customQuality{padding-left:23px;}
label span.component-title{font-size:1.2em;font-weight:700;float:left;width:165px; padding-left: 6px; margin-right:10px;}
label span.component-desc{font-size:1.1em; float:left;}
div.field-pair select{font-size:1.1em;border:1px solid #d4d0c8;}
div.field-pair select option{line-height:1.4;padding:0 10px; border-bottom: 1px dotted #D7D7D7;}

#customQualityWrapper { height: 175px; overflow: auto; }
#customQualityWrapper div.component-group-desc{float:left;width:165px;}
#customQualityWrapper div.component-group-desc p{width:85%;font-size:1.2em;color:#666;margin:.8em 0;}
#customQualityWrapper div.component-group-desc p.note{width:90%;font-size:1.2em;color:#333;margin:.8em 0;}
