fieldset.sectionwrap{
text-align: left;
overflow: auto;
width: 800px;
border-width:0;
padding:5px;
}

legend.legendStep{
font:bold 16px Arial;
color: #57442B;
}

div.stepsguide{ /*div that contains all the "steps" text located at top of form */ 
text-align: left;
width: 800px; /*width of "steps" container*/
overflow:hidden;
margin-bottom:15px;
cursor:pointer;
}

div.stepsguide .step{
width:260px; /*width of each "steps" text*/
font: bold 24px Arial;
float:left;
}
div.stepsguide .step p {
border-bottom: 4px solid #57442B;
}

div.stepsguide .disabledstep{
color:#C4C4C4;
}
div.stepsguide .disabledstep p {
border-bottom: 4px solid #8A775E;
}

div.stepsguide .step .smalltext{
font-size: 13px;
font-weight: normal;
}

div.formpaginate{
width: 800px;
overflow:auto;
font-weight:bold;
text-align:center;
margin-top:1em;
}

div.formpaginate .prev, div.formpaginate .next{
border-radius:6px;
-webkit-border-radius:6px;
-moz-border-radius:6px;
padding:3px 6px;
background:#57442B;
color:white;
cursor:hand;
cursor:pointer;
}

.stepDiv {padding: 15px;}

/* step 3 related */

#customQualityWrapper { height: 175px; overflow: auto; }
#customQualityWrapper div.component-group-desc{float:left;width:165px;}
#customQualityWrapper div.component-group-desc p{width:85%;font-size:1.2em;color:#666;margin:.8em 0;}
#customQualityWrapper div.component-group-desc p.note{width:90%;font-size:1.2em;color:#333;margin:.8em 0;}
