/* SB Theme */
table.tablesorter {
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
    color: #000;
    background-color: #fff;
    border-spacing: 0;
}
table.tablesorter th,
table.tablesorter td {
    padding: 4px;
    border-left: #fff 1px solid;
    border-top: #fff 1px solid;
}
/* remove extra border from left edge */
table.tablesorter th:first-child,
table.tablesorter td:first-child {
    border-left: none;
}
table.tablesorter th {
    border-collapse: collapse;
    background-color: #333;
    color: #fff;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    text-align: center;
}
table.tablesorter .tablesorter-header {
/*    background-image: url(../images/tablesorter/bg.gif); */
    background-repeat: no-repeat;
    background-position: center right;
    padding: 4px 18px 4px 4px;
    cursor: pointer;
}
table.tablesorter th.tablesorter-headerSortUp {
    background-color: #57442B;
/*    background-image: url(../images/tablesorter/asc.gif); */
}
table.tablesorter th.tablesorter-headerSortDown {
    background-color: #57442B;
/*    background-image: url(../images/tablesorter/desc.gif); */
}

/* Zebra Widget - row alternating colors */
table.tablesorter tr.odd td {
    background-color: #f5f1e4;
}
table.tablesorter tr.even td {
    background-color: #dfdacf;
}
/* filter widget */
table.tablesorter input.tablesorter-filter {
    width: 98%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
table.tablesorter tr.tablesorter-filter,
table.tablesorter tr.tablesorter-filter td {
    text-align: center;
    background: #eee;
}
/* optional disabled input styling */ 
table.tablesorter input.tablesorter-filter.disabled {
    display: none;
}


/* xtra css for sb */
.tablesorter-header-inner {
    text-align: center;
    padding: 0 2px;
}
tr.tablesorter-stickyHeader {
    background-color: #fff;
    padding: 2px 0;
}

table.tablesorter tfoot a {
    color:#fff;
    text-decoration: none;
}
