/* tables */
table.tablesorter {
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
}
table.tablesorter th {
    border: 1px solid #241109;
    padding: 3px;
    border-collapse: collapse;
    background-color: #333;
    color: #fff;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    text-align:center;
}
table.tablesorter .header {
/*  background-image: url(../images/tablesorter/bg.gif); */
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
    padding-right: 18px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
table.tablesorter td {
    color: #000;
    padding: 4px;
}
table.sickbeardTable tfoot a {
    color:#fff;
    text-decoration: none;
}
/*
table.tablesorter thead tr .headerSortUp {
    background-image: url(../images/tablesorter/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
    background-image: url(../images/tablesorter/desc.gif);
}
*/
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    background-color: #57442B;
}
/* stickyheader widget */
tr.tablesorter-stickyheader {
    background-color: #fff;
    padding: 2px 0;
}
/* Zebra Widget - row alternating colors */
tr.even {
    background-color:#dfdacf;
}
tr.odd {
    background-color:#f5f1e4;
}
/* filter widget */
tr.tablesorter-filter {
    background-color: #eee;
    text-align: center;
}
input.tablesorter-filter {
    width: 100%; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
} 
.tablesorter-filter .disabled {
    display: none;
}
