#import sickbeard
#from lib.yapsy.PluginManager import PluginManager
#set $plugin = $sickbeard.pluginManager.getPluginByName('NMA','Notifier').plugin_object

                <div class="component-group clearfix">
                    <div class="component-group-desc">
                        <img class="notifier-icon" src="$sbRoot/images/notifiers/nma.png" alt="" title="NMA" />
                        <h3><a href="http://nma.usk.bz" onclick="window.open(this.href, '_blank'); return false;">Notify My Android</a></h3>
                        <p>Notify My Android is a Prowl-like Android App and API that offers an easy way to send notifications from your application directly to your Android device.</p>
                    </div>
                    <fieldset class="component-group-list">
                        <div class="field-pair">
                            <input type="checkbox" class="enabler" name="use_nma" id="use_nma" #if $plugin.USE_NMA then "checked=\"checked\"" else ""# /> 
                            <label class="clearfix" for="use_nma">
                                <span class="component-title">Enable</span>
                                <span class="component-desc">Should Sick Beard send NMA notifications?</span>
                            </label>
                        </div>

                        <div id="content_use_nma">
                            <div class="field-pair">
                                <input type="checkbox" name="nma_notify_onsnatch" id="nma_notify_onsnatch" #if $plugin.NMA_NOTIFY_ONSNATCH then "checked=\"checked\"" else ""# /> 
                                <label class="clearfix" for="nma_notify_onsnatch">
                                    <span class="component-title">Notify on Snatch</span>
                                    <span class="component-desc">Send notification when we start a download?</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <input type="checkbox" name="nma_notify_ondownload" id="nma_notify_ondownload" #if $plugin.NMA_NOTIFY_ONDOWNLOAD then "checked=\"checked\"" else ""# />
                                <label class="clearfix" for="nma_notify_ondownload">
                                    <span class="component-title">Notify on Download</span>
                                    <span class="component-desc">Send notification when we finish a download?</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                       <span class="component-title">NMA API key:</span>
                                    <input type="text" name="nma_api" id="nma_api" value="$plugin.NMA_API" size="35" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Multiple keys (maxium of 5) must be seperated by commas</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title">NMA priority:</span>
                                       <select id="nma_priority" name="nma_priority">
                                        <option value="-2" #if $plugin.NMA_PRIORITY == "-2" then 'selected="selected"' else ""#>Very Low</option>
                                        <option value="-1" #if $plugin.NMA_PRIORITY == "-1" then 'selected="selected"' else ""#>Moderate</option>
                                        <option value="0" #if $plugin.NMA_PRIORITY == "0" then 'selected="selected"' else ""#>Normal</option>
                                        <option value="1" #if $plugin.NMA_PRIORITY == "1" then 'selected="selected"' else ""#>High</option>
                                        <option value="2" #if $plugin.NMA_PRIORITY == "2" then 'selected="selected"' else ""#>Emergency</option>
                                    </select>
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Priority of NMA messages from Sick-Beard.</span>
                                </label>
                            </div>
                            <div class="testNotification" id="testNMA-result">Click below to test.</div>
                            <input type="button" class="btn" value="Test NMA" id="testNMA" />
                            <input type="submit" class="btn config_submitter" value="Save Changes" />
                        </div><!-- /content_use_nma //-->

                    </fieldset>
                </div><!-- /nma component-group //-->