#import sickbeard
#from lib.yapsy.PluginManager import PluginManager
#set $plugin = $sickbeard.pluginManager.getPluginByName('NMJ','Notifier').plugin_object

                <div class="component-group clearfix">
                    <div class="component-group-desc">
                        <img class="notifier-icon" src="$sbRoot/images/notifiers/nmj.png" alt="" title="Networked Media Jukebox" />
                        <h3><a href="http://www.popcornhour.com/" onclick="window.open(this.href, '_blank'); return false;">NMJ</a></h3>
                        <p>The Networked Media Jukebox, or NMJ, is the official media jukebox interface made available for the Popcorn Hour 200-series.</p>
                    </div>
                    <fieldset class="component-group-list">
                        <div class="field-pair">
                            <input type="checkbox" class="enabler" name="use_nmj" id="use_nmj" #if $plugin.USE_NMJ then "checked=\"checked\"" else ""# />
                            <label class="clearfix" for="use_nmj">
                                <span class="component-title">Enable</span>
                                <span class="component-desc">Should Sick Beard send update commands to NMJ?</span>
                            </label>
                        </div>

                        <div id="content_use_nmj">
                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title">Popcorn IP address</span>
                                    <input type="text" name="nmj_host" id="nmj_host" value="$plugin.NMJ_HOST" size="35" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">IP of Popcorn 200-series (eg. 192.168.1.100)</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title">Get Settings</span>
                                    <input type="button" class="btn" value="Get Settings" id="settingsNMJ" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">The Popcorn Hour device must be powered on and NMJ running.</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title">NMJ Database</span>
                                    <input type="text" name="nmj_database" id="nmj_database" value="$plugin.NMJ_DATABASE" size="35" #if $plugin.NMJ_DATABASE then "readonly=\"readonly\"" else ""# />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Automatically filled via the 'Get Settings' button.</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title">NMJ Mount URL</span>
                                    <input type="text" name="nmj_mount" id="nmj_mount" value="$plugin.NMJ_MOUNT" size="35" #if $plugin.NMJ_MOUNT then "readonly=\"readonly\"" else ""# />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Automatically filled via the 'Get Settings' button.</span>
                                </label>
                            </div>
                            <div class="testNotification" id="testNMJ-result">Click below to test.</div>
                            <input type="button" class="btn" value="Test NMJ" id="testNMJ" />
                            <input type="submit" class="btn config_submitter" value="Save Changes" />
                        </div><!-- /content_use_nmj //-->

                    </fieldset>
                </div><!-- /nmj component-group //-->